{% load static %}

{% if same_products.items|length >= 2 %}

    {% if same_products.colors|length >= 2 %}


        <div class="color-section data-blocks">
            <p class="px-5 pt-1 text-left">
                Color:
            </p>
            <div class="buttons d-flex px-5
            {% if same_products.colors|length >= 4 %}flex-wrap
            {% endif %}" data-name='product-color-data'>

                {% for element in same_products.colors %}

                    <button
                    href=""
                    class="btn-light d-inline py-2 mt-2 mb-2 mr-2
                    {% if element == product.monitors_product_data.color %}active-product-content bg-white
                    {% else %}light-border
                    {% endif %}
                    {% if element|length >= 15 %} font-point-seven-rem px-2
                    {% else %} px-3
                    {% endif %} ">{{ element }}</button>

                {% endfor %}

            </div>
        </div>

    {% endif %}

    {% if same_products.refresh_rate|length >= 2 %}

        <div class="processor-section data-blocks">
            <p class="px-5 pt-4 text-left">
                Refresh rate [GHz]:
            </p>
            <div class="buttons d-flex px-5 sort_items
            {% if same_products.refresh_rate|length >= 4 %}flex-wrap
            {% endif %}" data-name='product-refresh_rate-data'>

                {% for element in same_products.refresh_rate %}

                    <button
                    href=""
                    class="btn-light d-inline mt-2 mb-2 mr-2 py-2 spec-product-data
                    {% if element == product.monitors_product_data.refresh_rate %}active-product-content bg-white
                    {% else %}light-border
                    {% endif %}
                    {% if element|length >= 15 %} font-point-seven-rem px-2
                    {% else %} px-3
                    {% endif %} ">{{ element }}</button>

                {% endfor %}

            </div>
        </div>

    {% endif %}

    {% if same_products.power_consumption|length >= 2 %}

        <div class="ram-section data-blocks">
            <p class="px-5 pt-4 text-left">
                Power consumption [W]:
            </p>
            <div class="buttons d-flex px-5 sort_items
            {% if same_products.power_consumption|length >= 4 %}flex-wrap
            {% endif %}" data-name='product-power_consumption-data'>

                {% for element in same_products.power_consumption %}

                    <button
                    href=""
                    class="btn-light d-inline mt-2 mb-2 mr-2 py-2 spec-product-data
                    {% if element == product.monitors_product_data.power_consumption %}active-product-content bg-white
                    {% else %}light-border
                    {% endif %}
                    {% if element|length >= 15 %} font-point-seven-rem px-2
                    {% else %} px-3
                    {% endif %} ">{{ element }}</button>

                {% endfor %}

            </div>
        </div>

    {% endif %}

    {% if same_products.diagonal|length >= 2 %}

        <div class="disc-section data-blocks">
            <p class="px-5 pt-4 text-left">
                Diagonal:
            </p>
            <div class="buttons d-flex px-5 sort_items
            {% if same_products.diagonal|length >= 4 %}flex-wrap
            {% endif %}" data-name='product-diagonal-data'>

                {% for element in same_products.diagonal %}

                    <button
                    href=""
                    class="btn-light d-inline mt-2 mb-2 mr-2 py-2 spec-product-data
                    {% if element == product.monitors_product_data.diagonal %}active-product-content bg-white
                    {% else %}light-border
                    {% endif %}
                    {% if element|length >= 15 %} font-point-seven-rem px-2
                    {% else %} px-3
                    {% endif %} ">{{ element }}</button>

                {% endfor %}

            </div>
        </div>

    {% endif %}

{% else %}

    {% include 'partials/productSpecification_list/Monitor.html' %}

{% endif %}
