{% load static %}

{% if same_products.items|length >= 2 %}

    {% if same_products.capacity|length >= 2 %}

        <div class="processor-section data-blocks">
            <p class="px-5 pt-4 text-left">
                Capacity [GB]:
            </p>
            <div class="buttons d-flex px-5 sort_items
            {% if same_products.capacity|length >= 4 %}flex-wrap
            {% endif %}" data-name='product-capacity-data'>

                {% for element in same_products.capacity %}

                    <button href="" class="btn-light d-inline mt-2 mb-2 mr-2 py-2
                    {% if element == product.ssd_product_data.capacity %}active-product-content bg-white
                    {% else %}light-border
                    {% endif %}
                    {% if element|length >= 15 %} font-point-seven-rem px-2
                    {% else %} px-3
                    {% endif %} ">{{ element }}
                    </button>

                {% endfor %}

            </div>
        </div>

    {% endif %}

{% else %}

    {% include 'partials/productSpecification_list/SSD.html' %}

{% endif %}
