.after-before{
    position: absolute;
    content: '';
    width: 97%;
    height: 1px;
}

.shipping-information{

    background-color: rgba(255, 80, 60, 0.8);
    position: relative;
    padding: 0.5rem;
    margin-top: 1.5rem;

    &:hover{
        cursor: pointer;
    }

    & a{
        width: 100%;
        display: block;
        color: $font-color;
    }

    &:first-child{
        margin-bottom: 1rem;
    }


    &::after{
        @extend .after-before;
        border-bottom: 1px solid rgba(204, 204, 204, 0.5);
        bottom: 0;
        left: 7px;
    }

    &::before{
        @extend .after-before;
        border-top: 1px solid rgba(204, 204, 204, 0.5);
        top: 0;
        left: 7px;
    }
}

.description-row{
    padding: 0 !important;
    font-weight: 600;
}

.product-row{
    padding: 1rem;
    margin-left: 0;
    margin-right: 0;

    & img{
        width: 5rem;
    }

    position: relative;
    &::after{
        position: absolute;
        content: '';
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        border-bottom: 1px solid rgb(204, 204, 204);
    }
}

.back-to-cart{
    position: relative;

    .total{
        padding-right: 1rem;

        h4{
            height: 100%;
            padding: 0.3rem;
        }
    }

    &::after{
        position: absolute;
        content: '';
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        border-bottom: 1px solid rgb(204, 204, 204);
    }

    & .btn{
        background-color: white;
        border: 1px solid rgb(204, 204, 204);
    }

    & a{
        padding: 2rem;
    }
}

.order-summary{
    position: relative;
    &::after{
        position: absolute;
        content: '';
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        border-bottom: 1px solid rgb(204, 204, 204);
    }
}


.summary-cart{
    justify-content: space-between;
    align-items: flex-start;

    .shipping-info{
        grid-column: 5 /  10;
        grid-row: 1 /  2;

        & .ship-container{
            width: 40rem;
        }

        .payment{
            width: 100%;

            & button{
                padding: 0.6rem;
                width: 98%;
                display: block;
                font-size: 1.1rem;
            }
        }
    }

    .summary-section{
        padding: 1.5rem;
        grid-column: 9 /  12;
        grid-row: 1/2;
    }
}


.addres-form{
    padding: 0.5rem;
    
    .form-row{
        .form-group{


            & p{
                display: none;
            }

            & .form-right{
                width: 100%;
                padding-right: 0;
                position: relative;

                & i{
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    visibility: hidden;
                }

                & input{
                    height: 2.5rem;
                    border: 1px solid rgba(204, 204, 204, 1);
                    padding-left: 1rem;
                    font-size: 1.1rem;
                    width: 100%;

                    &:focus{
                        outline: none;
                    }
                } 
            }  
            
            & .form-left{
                padding-right: 15px;

                @extend .form-right;
                & i{
                    right: 25px;
                }

            }    
        }
    }

    & a{
        // padding: 0.6rem;
        // margin-top: 1rem;
        font-size: 1.2rem;
    }
}

.book-addresses{
    // height: 10.5rem;
    padding-bottom: 1rem;
    position: relative;

    &::after{
        position: absolute;
        content: '';
        bottom: 0;
        left: 7px;
        width: 97%;
        height: 1px;
        border-bottom: 1px solid rgb(204, 204, 204);
    }

    & .book-box{
        border: 1.5px solid rgba(204, 204, 204, 1);
        width: 35%;
        margin: 0.5rem;
        padding: 0.5rem;

        &:hover{
            cursor: pointer;
            border-color: $main-red-color;
        }
    }
       
    & p{
        font-size: 0.8rem;
        margin-bottom: 0.2rem;
    }
}

.images{
    width: 35rem;
    margin-bottom: 2rem;

    & .img{
        width: 15rem;
        height: 7rem;
        border: 1px solid rgba(204, 204, 204, 1);
        margin: 2rem;

        &:hover{
            border: 1.5px solid $main-red-color;
            cursor: pointer;
            
        }
    }
    & img{
        width: 100%;
        height: 100%;
        padding: 1rem;
        
    }
}

.submit-button{
    border: none;
}