.article-row{
    padding: 0 6rem;

    .when-posted{
        font-style: italic;
    }
}

.badge{
    padding: .5rem;
    font-weight: 400;
}

.blog-article-content p{
    font-weight: 500;
    font-family: 'Assistant', sans-serif;
    font-size: 1.2rem;
}

.comments-block{
    @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

    display: grid;
    place-items: center;
    font-family: 'Source Sans Pro', sans-serif;


    .card {
        width: 100%;
        position: relative;
        display: flex;
        padding: 20px;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid #d2d2dc;
        border-radius: 11px;
        -webkit-box-shadow: 0px 0px 5px 0px rgb(249, 249, 250);
        -moz-box-shadow: 0px 0px 5px 0px rgba(212, 182, 212, 1);
        box-shadow: 0px 0px 5px 0px rgb(161, 163, 164)
    }

    .media img {
        width: 60px;
        height: 60px
    }

    .reply{
        cursor: pointer;

        a {
        text-decoration: none
        }
    }

}

.be-comment-block{

    margin-bottom: 50px !important;
    border: 1px solid #edeff2;
    border-radius: 2px;
    padding: 1rem;
    border:1px solid #ffffff;


    .icon {
        position: absolute;
        top: 1px;
        width: 48px;
        height: 48px;
        background: #f6f6f7;
        color: #b5b8c2;
        text-align: center;
        line-height: 50px;
        -webkit-border-top-left-radius: 2px;
        -webkit-border-bottom-left-radius: 2px;
        -moz-border-radius-topleft: 2px;
        -moz-border-radius-bottomleft: 2px;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
    }

    .form-input {
        font-size: 1rem;
        line-height: 50px;
        font-weight: 400;
        color: #b4b7c1;
        width: 100%;
        height: 50px;
        padding-left: 20px;
        padding-right: 20px;
        border: 1px solid #edeff2;
        border-radius: 3px;
    }


    .form-group.fl_icon{
        .form-input {
            padding-left: 70px;
        }
    }


    .form-group{

        textarea{
            height: 150px;
            width: 100%;

        }
    }

}