@media (min-width: 1201px) {

    .product-box{
        flex-direction: column;

        a{
            padding: 2rem;
        }

        .description{
            padding-top: 0;

            p:nth-child(3){
                padding-bottom: 0;
                margin-bottom: 0;
            }
        }
    }

    .sold-left{

        &> div{
            padding: 0 1rem;

        }
        p{
            font-size: 0.9rem;
            display: flex;
        }

        p:nth-child(1){
            padding-right: 1rem;
        }

        .button{
            padding: 0 1rem;
            margin-top: 0;
        }
    }

}

@media (min-width: 1000px){
    .product-navbar-container{
        top: 0.3rem;
    }
}

@media (max-width: 1400px){

    .the-best-of{
        grid-template-columns: repeat(3, 2fr);
        height: auto;

        .card{
            padding: 0.5rem !important;

            &-text{
                font-size: 1rem;
            }

            &-body{

                justify-content: center !important;

                & a:first-child{
                    height: auto !important;
                }

                & div{
                    flex-direction: column-reverse;

                    & div:nth-child(2){
                        flex-direction: row !important;
                        justify-content: space-around;
                        padding-bottom: 0.5rem;
                    }

                    & .basket{
                        a, button{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    .carousel{
        &-item{
            width: 100%;
            height: 100%;
        }

        img{
            height: 100%;
            width: 100%;
        }
    }

    .newsletter-form{
        button{
            width: 55% !important;
        }
    }

}

@media (max-width: 1200px){

    .login_modal{
        width: 50vw;
        height: 50vh;

        form{
            height: 100%;
        }
    }

    .showcase{
        display: flex;
        flex-direction: column;

        & > div{
            width: 100%;
        }

        .cattegories{
            background-color: white;
            padding: 1rem;

            & h2{
                // display: none;
                display: inline;
                font-size: 1.2rem;
                color: black;
                position: relative;
                padding-bottom: 0.5rem;

                &::after{
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    border-bottom: 1px solid $main-red-color;
                    }
            }
        }

        .alarm-box{

            margin-top: 1rem;
            // padding-left: 0 !important;

            ul{
                display: grid;
                grid-template-columns: repeat(3, 2fr);

                .iconsDiv{
                    border: 1px solid rgb(204, 204, 204);
                    margin: 0.5rem;
                    padding: 0.5rem !important;
                }

                & li{
                    // margin-bottom: 0 !important;

                    & a{
                        font-weight: 400 !important;

                        &::after{
                            width: 0 !important;
                        }
                    }
                }

            }
        }
    }

    #carouselLandinpage{
        display: none;
    }

    .blog-articles{
        grid-row-start: 1 !important;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: flex-start ;
        margin-top: 1rem;

        & > div{
            width: 100%;
            height: auto !important;
        }
    }


    .offerts{
        display: flex;
        flex-direction: column-reverse;
        padding-bottom: 0 !important;
    }

    .the-best-of{
        grid-template-columns: repeat(3, 2fr);
        grid-gap: 2rem;
        padding: 2rem !important;
        justify-items: center;

        & > div{
            margin: 0;
            padding: 0;
        }

        .card{

            width: 70%;
            a{
                max-width: 100%;
                max-height: 100%;
                width: 100%;
                overflow: hidden;
                height: 100%;
                align-items: center;
                display: flex;
                justify-items: center;
                justify-content: center;

                img{
                    max-height: 100%;
                    object-fit: contain;
                    width: 90%;
                }
            }
        }
    }

    & .offert-of-the-day{

        .h4-div{
            position: relative;
            margin: 1rem;
            margin-bottom: 2rem;
        }

        h4{
            display: inline;
            position: relative;
            padding-bottom: 0 !important;

            &::after{
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 60%;
                border-bottom: 3px solid $main-red-color;
            }
        }

        .alarm-box{
            display: grid;
            grid-template-columns: 3fr 2fr 2fr;
            max-width: 100%;
            margin: 0 6rem 1rem 0rem;
            grid-gap: 2rem;

            a{
                width: 90%;
            }

            img{
                width: 100%;
            }

            .product-box{
                grid-column: 1 /  1;
                grid-row: 1 / 4;
                padding: 1rem;
                justify-content: flex-end;

                .description{
                    display: none;
                }
            }

            .price-mq{
                display: block;
                grid-column: 2 / 2;
                grid-row: 1 / 2;

                .promoPrice{
                    padding-right: 2rem;
                    grid-gap: 1rem;

                    .font-red{
                        font-size: 1.4rem;
                    }

                    .font-black{
                        font-size: 1rem;
                    }
                }

                .product-name{
                    p{
                        font-size: 1.3rem;
                    }
                }

                .stars-div{
                    i, a{
                        color: rgba(1,1,1, 0.5);
                        font-size: 0.9rem;
                    }
                }
            }

            .desc-for-sr{
                grid-column: 3 / 3;
                grid-row: 1 / 2;

                .not-data-block{

                    padding-top: 0 !important;

                    p{
                        padding: 0.5rem 0;
                    }
                }
            }

            .sold-left{
                grid-column: 2 /  2;
                grid-row: 2 / 3;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                padding: 0;

                p{
                    font-size: 1rem;
                }

                .button{
                    width: 100%;
                    justify-self: center;

                    button{

                        padding: 0.3rem;

                        span{
                            font-size: 1rem;

                        }
                    }
                }
            }


        }
    }

    .time-left{
        grid-row: 2/4;
        grid-column: 3/3;

        margin-top: 0;

        ::after, ::before{
            display: none;
        }
    }

    .producent-logos{
        display: none;
    }

    .hour{
        span{
            font-size: 0.9rem !important;
        }
    }

    .sold-left{
        margin-top: 0;
    }

}

// product page

@media (max-width: 1000px){

    // container

    .container{
        padding-left: 0;
        padding-right: 0;
    }

    // modal-login

    .modal-dialog{
        -webkit-transform: translate(-50%,-50%) !important;
        transform: translate(-50%,-50%) !important;
        position: absolute !important;
        top: 50% !important;
        left: 50% !important;
        max-width: 700px;
    }

    .modal.modal-fullscreen .modal-dialog .modal-content .modal-body{
        top: 0;
    }

    // Navbar

    .another-navbar{
        display: none !important;
    }

    .navbar{

        display: grid;
        justify-items: center;
        grid-template-columns: 6fr;

        & #navbarDropdown{
            display: none !important;
        }

        &-nav{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

        }

        & .navbar-brand{
            width: 100%;
            grid-row: 1 /span 1;
        }

        & .navbar-toggler{
            width: 210px !important;
            margin-bottom: 0;
            margin-bottom: 2rem;
        }

        & .form-inline{
            width: 70%;
            display: inline;
            grid-row: 2 /span 2;
            grid-column: 1 /span 1;
            margin-bottom: 2rem !important;

            & button{
                margin: 0 !important;
            }
        }

    }

    // Product of the day
    .offert-of-the-day{

        .alarm-box{
            margin-left: 1rem;
            margin-right: 1rem;

            .product-box{
                a{
                    width: 80%;
                }
            }
        }
    }

    .hour-text{
        display: none;
    }

    .time-left{
        padding: 0;
    }

    // product

    .main-content{
        margin-right: 2rem;
        padding-right: 0;

        & .product-id{
            margin: 0 !important;
            // padding: 0 5rem !important;
            // padding-right: 5rem !important;

            & p, & a{
                font-size: 0.7rem !important;
                padding: 0 !important;
            }
        }

    }

    .rest-section{
        width: 100%;
        margin-top: 1rem;
    }

    .main-product-div{
        // flex-direction: column !important;
        justify-content: center;
        // height: 60rem;

        & .select-section{

            & .color-section, & .processor-section, & .ram-section, & .disc-section{
                padding-left: 0;

                &> .buttons{
                    margin-left: 0 !important;
                    margin-right: 0 !important;
                }
            }
        }
    }

    #product-section, #buy-section{

        & .grid-container{
            display: flex;
            flex-direction: column;
            width: 100%;
        }
    }

    #product-section{

        & .product-sect{
            margin-top: 0 !important;
            display: flex !important;
            flex-direction: column;
        }
        .small-container{
            order: 2;
        }
    }

    #fixed-sticky-wrapper{
        order: 1;
        height: auto;
        margin-bottom: 0 !important;
        width: 100%;
        margin-top: 1rem;

    }

    .buys{
        display: flex;
        justify-content: end;
        margin-left: 0.5rem !important;

    }

    .buy{
        display: flex !important;
        margin: 0 !important;
        width: 100% !important;
        margin-right: 0 !important;


        &-container{

            display: flex;
            padding: 1rem;
            justify-content: center;

            div:nth-child(1){
                justify-content: flex-end;
            }

            .product_price{
                display: flex;
                align-items: center;
                justify-content: center;

                h5{
                    margin-bottom: 0;
                }
            }

            & .buy-it, .basket {
                width: 30%;
                justify-content: center;
                align-items: center;

                a{
                    // width: 100% !important;
                    // margin-right: 1rem;
                    // height: 60%;

                }

                select{
                    display: none;
                }
            }

            .left-pcs{
                width: 10% !important;
            }

            .hide-it{
                display: none !important;
            }
        }
    
        .left-pcs{

            width: 60%;
            align-items: center;
            padding-right: 1rem;

            & p:first-child{

                width: 100%;
                align-content: center;
            }

            p{
                margin-bottom: 0 !important;
                padding: 0 !important;
            }

        }
    }

    .buy-section-hide{
        display: none !important;
    }

    .product-navbar-container{
        & li{

            & a{
                // font-size: 0.7rem !important;
                margin-right: 0rem !important;
            }
        }
    }

    .cattegories{
        .alarm-box{
            ul{
                grid-template-columns: repeat(3, 2fr);
            }
        }
    }

    // Spec section

    table{
        th{
            padding-right: 0 !important;
        }
    }

    #specification{
        .small-container{
            padding: 0 !important;
        }
    }

    // opinions

    #opinions{

        .opinion-div{
            margin: 0 5rem;
        }

        .small-container{

            .stars-class{

                h4{
                    text-align: center !important;
                }

                .stars {
                    display: flex;
                    justify-content: center;
                    padding-left: 0 !important;
                }

                a{
                    font-size: 1rem;
                    text-align: center !important;
                    margin-left: 0 !important;
                    padding-left: 0 !important;
                }


            }

            .progress-bars{
                width: 100%;
                margin-left: 0 !important;
                padding-left: 2rem;
                padding-right: 2rem;
                margin-right: 0 !important;
            }

            .review{

                padding-right: 0 !important;

                p{
                    margin-bottom: 0 !important;
                }

                &-container{
                    flex-direction: column;
                    width: 100%;
                    margin-left: 0 !important;

                    & div:nth-of-type(2){
                        margin-left: 0 !important;
                        padding-top: 1rem;

                        & div:first-child{
                            justify-content: center;

                        }

                        & div:nth-of-type(2){
                            p{
                                margin: 0 2rem;
                                padding-bottom: 2rem;
                            }
                        }
                    }
                }
            }
        }
    }

    .the-best-of{
        grid-template-columns: repeat(2, 2fr);
    }

    .notification{

        margin-top: 0 !important;

        &s{
            margin-bottom: 0;
            padding-bottom: 0 !important;
        }

        & .mobile-aplication {
        display: flex;
        flex-direction: column;

        & .mobile-pic{
            display: none;
            }
        }
    }

    // Ask something

    .ask{
        & .ask-form{
            flex-direction: column;
            width: 100%;
            margin-left: 0 !important;
            padding-bottom: 2rem !important;

        }

        & .user-questions{
            flex-direction: column;
            width: 100%;
            margin-left: 0 !important;
            padding-bottom: 2rem !important;

            & div:first-child{
                margin-right:  0 !important;
                padding-right: 0 !important;
            }
            & div:nth-of-type(2){
                & div:first-child{
                    align-items: center;
                    justify-content: center;
                    flex-direction: row;
                    margin-bottom: 2rem;


                    & p{
                        margin-bottom: 0 !important;
                    }

                    & .stars{
                        width: auto;
                        margin-bottom: 0 !important;
                    }
                }

                & p{
                    margin: 0 2rem;
                }
            }


        }
        .arrow-up{
            height: 10px !important;

            &s{
                display: flex !important;
                height: 4rem;

                & a{
                    font-size: 2.5rem;
                }
            }
        }


    }

    #ask-something{

        .ask-form p:first-child{
            width: 100%;
        }

        button{
            height: 100%;
        }
    }

    .notification {

        &s{
            display: block;
        }

        & .mobile-aplication{
        display: none !important;
        }
    }



    // footer

    .footer{
        display: grid;
        grid-template-columns: repeat(2, 4fr);
        grid-gap: 1rem;
        margin-top: 3rem;

        & > div{
            padding-left: 0 !important;
            padding-right: 0 !important;
            margin-right: 0 !important;
        }

        .orders{
            width: 100%;
            margin-bottom: 1rem;
            display: flex;
            flex-direction: column;
            text-align: center;

            & h3, ul> a li{
                text-align: center;
            }



            &::after{
                height: 320px;
            }

            &::before{
                content: '';
                position: absolute;
                left: 10%;
                bottom: 0;
                width: 80%;
                border-bottom: 1px solid $main-red-color;
            }
        }

        .about{
            width: 100%;

            &::after{
                display: none;
            }

            & h3, ul> a li{
                text-align: center;
            }

            &::before{
                content: '';
                position: absolute;
                left: 10%;
                bottom: 0;
                width: 80%;
                border-bottom: 1px solid $main-red-color;
            }

        }

        .contact{
            width: 100%;
            justify-content: flex-start;

            .icons-boxes{
                padding-right: 0 !important;

                & h4{
                    font-size: 0.9rem;
                }
            }

            &-block{
                width: 100%;

                & .phone{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-bottom: 0;

                }


                .live-chat{
                    display: flex;
                    flex-direction: column;
                    margin-top: 0;
                    align-items: center;
                    width: auto;
                    margin: 1rem 0;

                    & i{
                        text-align: center;
                    }

                }

                &::after{
                    height: 300px;

                }
            }
        }

        .social{
            h3{
                text-align: center !important;
            }
        }

        .icons{
            display: grid;
            grid-template-columns: repeat(2, 0.5fr);
            // width: 90%;
            padding-bottom: 2rem;

            & i:nth-child(odd){
                justify-content: flex-end;
            }

            & i:nth-child(even){
                justify-content: flex-start;
            }

            & > i {
                width: 100% !important;

                & > svg{
                    width: 50% !important;
                }
            }
        }

    }
}

$min-width: 1001px;
$min-width-for-search-bar: 200px;
$max-width-for-login-modal: 4000px;
$min-width-for-login-modal: 100px;
$width-login-modal: 15%;
$width-less-than-thousand: 80%;
$modal-dialog-width: 50%;
$width: 65%;
$max-width: 3000px;
$grid-1: 2fr;
$grid-2: 10fr;
$grid-jump: 0.5fr;
$img-padding: 1.5rem;
$img-margin: 1.5rem;
$img-width: 40%;
$img-height: 70%;
$rest-section: 90rem;
$buy-section: 20rem;
$input-width: 1rem;
$form-inline: 100%;

// login media query

@while $min-width-for-login-modal <= $max-width-for-login-modal{
    @media (max-width: $max-width-for-login-modal) and (min-width: $min-width-for-login-modal){

        // .modal-dialog{
        //     width: $width-login-modal + 0.5% !important;
        //     $width-login-modal: $width-login-modal + 0.5%
        // }

        @if $max-width-for-login-modal <= 1500px{


            .sign-in{
                flex-direction: column;
                margin-bottom: 2rem;

                h3, p{
                    padding-bottom: 1rem;
                }

                // p{
                //     width: 100% !important;
                //     text-align: center;
                // }

                h3 span{
                    color: $main-red-color;
                    font-size: 1.5rem;
                }

                p span{
                    display: block;
                }
            }

        }
        $max-width-for-login-modal: $max-width-for-login-modal - 50px;



    }
}


@while $min-width-for-search-bar <= $max-width{
    @media (max-width: $max-width) and (min-width: $min-width-for-search-bar){

        .navbar{

            & .form-inline{

                & .search-bar {

                    @if $max-width <= 1201px and $max-width >= 1000px {
                        $width: calc(#{$width});
                        width: calc(#{$width}) !important;
                    }

                    @else if $max-width <= 1001px{
                        @if $max-width <= 200{
                            $width: ($width - 10%);
                            width: calc(#{$width} - 10%) !important;
                        }

                        $width-less-than-thousand: calc(#{$width-less-than-thousand} - 5px);
                        width: calc(#{$width-less-than-thousand} - 10px) !important;
                    }

                    @else{
                        $width: calc(#{$width} - 3px);
                        width: calc(#{$width} - 3px) !important;
                    }

                    $max-width: $max-width - 50px;

                }
            }

        }
    }
}


@while $min-width <= $max-width{
    @media (max-width: $max-width) and (min-width: $min-width){

        & button{
             margin: 0 !important;
        }

        // .rest-section{
        //     width: $rest-section - 4rem;
        //     $rest-section: $rest-section - 4rem;
        // }

        .buys{
            width: $buy-section - 0.4rem;
            $buy-section: $buy-section - 0.4rem;
            margin-left: 0.5rem !important;
            margin-top: 1.5rem !important;
            display: flex;
            justify-content: space-between;

            .arrow-up{
                width: 100%;
                height: 3rem;

                a{
                    font-size: 3rem;
                }
            }

        }

        #product-section{
            & div:first-child{
                margin-top: 2rem !important;
                display: flex !important;

            }
            & .grid-container{

                @if $max-width <= 1500px{

                    // grid-template-columns: ($grid-2 - $grid-jump) ($grid-1 + $grid-jump);
                    // $grid-2: $grid-2 - 0.7fr;
                    // $grid-1: $grid-1 + 0.7fr;

                }

                // grid-template-columns: ($grid-2 - $grid-jump) ($grid-1 + $grid-jump);
                // $grid-2: $grid-2 - $grid-jump;
                // $grid-1: $grid-1 + $grid-jump;
            }

        }
        .main-product-div{

            justify-content: center !important;
            padding-top: 3rem;


            @if $max-width <= 1500px{
                flex-direction: column;

                & .main-content{
                    margin: 0 4rem 0 10rem;
                    border-left: none !important;

                    & .product-id{
                        width: 45% !important;

                    }

                }
            }

            & img{

                // padding: $img-padding - 0.2rem;
                // margin: $img-margin !important;
                width: $img-width;
                height: $img-height;
                $padding: $img-padding - 0.2rem;
                $img-margin: $img-margin - 0.3rem;
            }
        }

        #ask-something{

            .ask-form p:first-child{
                width: 100%;
            }

            button{
                height: 100%;
                width: 100%;
                padding: 0.5rem;
                margin-top: 1rem;
                margin-right: 0 !important;

            }
        }



    }
}

@media (max-width: 900px){

    .login_modal{

        height: 45vh;

        .inside-container{
            padding: 2rem;
        }
    }

    .offert-of-the-day{

        .alarm-box{

            .product-box{
                margin-right: 1rem;

            }

            img{
                width: 120%;
            }
        }
    }


}

@media (max-width: 800px){
    .cattegories{
        .alarm-box{
            ul{
                grid-template-columns: repeat(2, 2fr);

                li{
                    display: flex;
                    justify-content: start;
                    align-items: center;
                }
            }
        }
    }
    .desc-for-sr{
        display: none;
    }

    .offert-of-the-day{

        .alarm-box{
            grid-template-columns: 3fr 2fr;
        }
        .price-mq, .sold-left{
            grid-column: 2/2;
        }
        .product-box{
            grid-column: 1/2;

        }
    }

    .align-left{
        width: 100%;
        text-align: left;
    }

    .time-left{
        grid-column: 2/2;
        grid-row: 2/2;
        margin-bottom: 0;
        span{
            @extend .align-left;
        }
    }

    .hour{
        @extend .align-left;
    }

    .hour-text{
        @extend .align-left;
    }

    .sold-left{
        grid-row: 3/3 !important;
    }

    .product-box{
        grid-row: 1/5 !important;
        margin-right: 2rem !important;
    }

    .fa-shopping-cart{

        font-size: 1.2rem;
        span{
            padding-left: 1rem;
        }
    }

    #description{
        .small-container > div{
            flex-direction: column;

            .desc__img{
                width: 70%;
            }

            .desc__text{
                width: 100%;
            }
        }
    }

}

@media (max-width: 700px){

    .login_modal{

        width: 60vw;

        .inside-container{
            padding: 2rem;
        }
    }

    .the-best-of{
        grid-template-columns: repeat(1, 2fr);

    }

    .sold-statistics{
        display: none;
    }

    .sold-left{

        margin-top: 0;

        .button{
            margin-top: 0;
        }
    }

    .sign-in{
        flex-direction: column;
        margin-bottom: 4rem;

        h3{
            font-size: 0.5rem !important;
        }


        h3, p{
            padding-bottom: 1rem;
            width: 100% !important;

        }


        p{
            width: 100% !important;
            text-align: center;
        }

        h3 span{
            color: $main-red-color;
            font-size: 1.2rem;
            width: 100% !important;

        }

        p span{
            display: block;
        }
    }

    .login-form{
        .check{
            padding-bottom: 1rem;


            p{
                font-size: 1rem !important;
            }
        }
    }


    #navbarNav1{
        .nav-item{
            & a{
                padding-left: 0.5rem !important;
                padding-right: 0.5rem !important;

            }
        }
    }

    #specification{
        table{
            table-layout: fixed;
            h6{
                padding-left: 0 !important;
                padding-right: 0 !important;
            }
            th div{
                margin-left: 0 !important;
                margin-right: 0 !important;
            }
        }
    }

    .main-product-div{

        .main-content h4, .product-id, .color-section p, .color-section .buttons,
        .processor-section p, .processor-section .buttons,
        .ram-section p, .ram-section .buttons, .disc-section p,
        .disc-section .buttons{
            padding-left: 0 !important;

        }

        .buttons{
            justify-content: space-between;
            a{
            padding-left: 1rem !important;
            padding-right: 1rem !important
            }
        }

    }

    .inside-container{
        padding-right: 2.5rem;
    }


    .left-pcs{
        width: 5% !important;
    }

    .buy-it, .basket {
        width: 100%;
        a{
            width: 100% !important;
            margin-right: 1rem;
        }
    }

    .buy{
        .buy-container{

            padding-top: 0.5rem !important;
            padding-bottom: 0.5rem !important;

            .free-deliver{
                display: none;
            }
        }
    }

}


// Summary cart media

@media (max-width: 1300px){
    .summary-cart{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .summary-section{
        width: 40rem;
    }

}

$max_width: 670px;
$min_width: 100px;
$width_summary: 40rem;

@while $min-width <= $max-width{
    @media(max-width: $max-width) and (min-width: $min-width){
        .summary-cart, .summary-section, .ship-container{
            $width: ($width - 5%);
            $max-width: ($max-width - 5px);
            $width_summary: $width_summary - 0.25rem;
            flex-direction: column-reverse;
            width: 100vw !important;
        }


        @if $max-width <= 612 and $max-width > 500 {
            .book{

                &-addresses{
                    flex-direction: column;
                    align-content: center;
                }
                &-box{
                    width: 90% !important;
                }
            }

            .form-row{
                & .form-group{
                    flex-direction: column;

                    & .form-left{
                        padding-right: 0 !important;
                        margin-bottom: 1rem;
                    }
                }
            }

            .images{
                width: 90vw;
                // flex-direction: column;

                & .img{
                    width: 50%;
                    margin: 2rem 0;

                    & img{
                        padding: 0;
                        width: 80%;
                    }
                }
            }
        }

        @if $max-width <= 500 and $max-width > 300{

            .images{
                width: 90vw;
                display: grid !important;
                grid-template-columns: repeat(2, 5fr);
                align-items: center;

                & .img{
                    // margin: 2rem 0;
                    margin: 1rem auto;
                    width: 80%;

                    & img{
                        padding: 0;
                        width: 80%;
                    }
                }
            }

        }

        @if $max-width <= 300{
            .book{

                &-addresses{
                    display: none !important;
                }
            }
            .form-row{
                & .form-group{
                    flex-direction: column;

                    & .form-left{
                        padding-right: 0 !important;
                        margin-bottom: 1rem;
                    }
                }
            }
        }

        // back to cart section

        @if $max-width <= 420{
            .back-to-cart{
                flex-direction: column;

                & a{
                    width: 70%;
                    margin: 0 auto;
                }

                & .total{
                    margin-top: 1rem;
                }
            }

            .summary-section{

                & .product-row{

                    & img{
                        width: 100%;

                    }
                }
            }

        }
    }
}


// Cart media

@media(max-width: 1300px) and (min-width:870px){

    // products
    .row .main{
        display: grid;
        grid-template-columns: 1fr 3fr 4fr;
    }

    .pic-div{
        width: 100%;
        height: 100%;
        grid-row: 1/3;
        grid-column: 1/2;
    }

    .category-div{
        grid-row: 1/2;
        grid-column: 2/15;
    }

    .quantity-div{
        grid-row: 2/3;
        grid-column: 2/2;
    }

    .price-div{
        grid-row: 2/3;
        grid-column: 3/15;
        margin-left: 3rem;
    }

    .sum-cont{
        grid-column: 1 /span 9;
        margin-top: 3rem !important;
    }

    .price-info{
        grid-column: 9 / span 12;
    }

    .cart_section{
        grid-column-gap: 2rem;
    }

    .product-cart{
        padding-left: 2rem !important;
    }

    // price section

    .price-info{
        & .subtotal{
            display: flex;
            flex-direction: column;

            & p{
                font-size: 1.3rem !important;
            }

            & p:nth-of-type(1){
                margin-bottom: 0;
            }
        }
    }

}

@media(max-width: 920px){
    .product-cart{
        padding-left: 0 !important;
    }

    .offerts{
        padding-top: 0 !important;
    }

    .recomends-section{
        margin-top: 0 !important;
    }

    .showcase-section{
        padding-bottom: 0;
    }
}

@media(max-width: 870px){

    .aClass{
        display: flex !important;
        align-items: center;
        justify-content: center;
        height: auto;
        max-height: none;
    }


    .cart_section{
        display: flex;
        flex-direction: column;

        & .sum-cont, .price-info{
            max-width: 100vw;
            width: 100vw;
            margin: 2rem auto !important;
        }
    }

    .product-cart{
        padding-left: 6rem !important;
    }

    .row .main{
        display: grid;
        grid-template-columns: 3fr 5fr;
        width: 100%;
    }

    .pic-div{
        width: 100%;
        height: 100%;
    }

    .quantity-div{
        margin-left: 3rem;
    }

    // price section

    .subtotal{
        display: flex;
        flex-direction: row;
        text-align: center;

        & p{
            // height: 100%;
            margin-bottom: 0 !important;
            align-self: center;
        }
    }

    .price-row{
        justify-content: flex-start !important;
        margin-bottom: 2rem;
    }

    .price-total{
        align-self: center;
        margin-bottom: 0 !important;
    }

}

@media (max-width: 600px){
    .main-product-div{
        flex-direction: column;
        position: relative;

        .mini-images-section{

            order: 2;
            padding-top: 1rem;
            margin: auto;

            img{
                width: 50%;
            }
        }

        .main-img{
            order: 1;
            padding-top: 2rem;

            img{
                width: 50%;
            }
        }

        .product_description{
            order: 3;
            width: 100%;
            padding: 0 3rem;
        }

        .heart_section{
            position: absolute !important;
            top: 1rem;
            right: 1rem;
        }

        .filter-section-reviews > div{
            justify-content: flex-start !important;
            grid-gap: 1rem;
        }

        .select-section{

            display: flex;
            justify-content: space-between;

            .color-section{

                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .buttons{
                    justify-content: flex-start;
                }
            }
        }
    }

    .login_modal{

        width: 75vw;
    }

    .the-best-of{
        grid-gap: 0;

        .main-pic{
            padding: 2rem !important;
        }
        .card{
            width: 90% !important;
            height: auto !important;
        }
    }

    .alarm-box{
        grid-template-columns: 3fr 3fr !important;
        // margin: 0 4rem 2rem 4rem !important;

        .product-box{
            img{
                width: 90%;
            }
        }

    }

    .time-left{
        display: grid !important;
        grid-row: 5/5;
        grid-column: 2 / 2;
        margin: 0;
        padding: 0;

        .time-left-first-span{
            display: none;
        }

        ::before, ::after{
            display: none;
        }

        span{
            font-size: 0.9rem !important;
        }

        .hour{

            display: flex;
            flex-direction: column;

            :nth-child(2), :nth-child(4){
                display: none;
            }
            grid-column: 2/2;
            grid-row: 1/3;

            span{
                padding: 0;
            }

            margin-left: 1rem;
        }

        .hour-text{

            display: flex;
            flex-direction: column;
            grid-column: 1/1;
            grid-row: 1/3;

            p{
                font-size: 0.7rem !important;
                margin-bottom: 0;
                padding-bottom: 0;
            }
        }
    }
    .price-mq{

        grid-column: 1 / 1 !important;
        grid-row: 5/7 !important;
            i, a{
                font-size: 0.8rem;
            }
    }

    .sold-left{
        grid-column: 2 / 2 !important;
        grid-row: 6/6 !important;

        justify-content: flex-end !important;
    }

    .product-box{
        grid-column: 1/3 !important;
    }

    .h4-div{
        margin-bottom: 0 !important;
    }

    #opinions .opinion-div{
        margin: 0;
    }

    .buy-container{

        .buy-it{
            width: 100%;
        }
    }

    .desc__img{
        width: 100% !important;
    }

}

@media(max-width: 500px) {

    .product-navbar-container{

        padding: 0 1rem;

        .navbar-nav li:nth-child(4){
            display: none;
        }
    }

    .main-content{
        padding-left: 2rem !important;
        padding-right: 2rem !important;

        .color-section{
            justify-content: flex-start !important;
        }
    }

    .login_modal{

        width: 90vw;
        margin: auto 0;

    }

    .afterClass{
        display: block;
        content: '';
        position: absolute;
        bottom: 0.4rem;
        right: 0px;
        width: 1%;
        height: 90%;
        border-right: 1px solid #cccccc;
    }

    #nav-line::after{
        display: none;
    }

    #navbar .navbar ul{
        display: grid;
        grid-template-columns: repeat(2, 2fr);

        & li:nth-of-type(odd){
            margin-right: 0 !important;
            padding-right: 0 !important;
        }

        & li:nth-of-type(even){
            margin-left: 0 !important;
            padding-left: 0 !important;
        }

        .nav-item:nth-of-type(odd){
            & a{
                position: relative;

                &::after{
                    @extend .afterClass
                }
            }
        }
    }

    .cattegories{

        h2{
            display: none !important;
        }

        .alarm-box{
            ul{
                grid-template-columns: repeat(1, 2fr);
            }
        }
    }

    .notification{
        display: none;
    }

    .columns-name{
        display: none;
    }

    .price-div{
        margin-left: 3rem;
    }

    .pic-div, .category-div{
        grid-row: 1 / 2;
    }

    .quantity-div{
        grid-row: 2 / 3;
        width: 100%;
        grid-column: 1/5;
        margin-left: 0;
        margin-top: 2rem;
    }

    .price-div{
        grid-row: 3 / 5;
        width: 100%;
        grid-column: 1/5;
        margin-left: 0;
        margin-top: 2rem;
    }

    .row .main{
        grid-template-columns: none
    }

    // price section

    .subtotal{
        justify-content: center;
    }

    .price-row{
        flex-direction: column;
        margin-bottom: 0 !important;
    }

    .footer{
        grid-template-columns: repeat(1, 4fr);

        .orders::after, .contact-block::after{
            display: none;
        }
    }

    .social{
        h3{
            text-align: center !important;
        }
    }

    .icons{
        display: grid;
        grid-template-columns: repeat(2, 0.5fr);
        // width: 90%;
        padding-bottom: 2rem;

        & i:nth-child(odd){
            justify-content: flex-end;
        }

        & i:nth-child(even){
            justify-content: flex-start;
        }

        & > i {
            width: 100% !important;

            & > svg{
                width: 50% !important;
            }
        }

    }

    .blog-articles{
        a{
            display: flex;
            flex-direction: column;

            img{
                width: 90% !important;
                align-self: center;
            }
        }
    }

    .the-best-of{
        .main-pic{
            padding: 0.5rem !important;
        }
    }

    .alarm-box{
        display: flex !important;
        flex-direction: column;

        .price-mq{
            .button > div{
                display: grid;
                grid-template-columns: 2fr 2fr;

                .product-name{
                    grid-column: 1/1;
                    grid-row: 1/1;
                }

                .promoPrice{
                    grid-column: 1/1;
                    grid-row: 2/2;
                    justify-content: center;
                }

                .stars-div{
                    grid-column: 1/1;
                    grid-row: 3/3;
                    justify-content: center;

                }
            }
        }

        .button{
            i{
                justify-content: center;
            }
        }
    }

    .hour{
        display: flex;
        :nth-child(2), :nth-child(4){
            display: inline !important;
        }
    }

    .time-left{

        justify-content: space-around;

        .time-left-first-span{
            grid-row: 1/1;
            grid-column: 1/1;
        }

        span{
            display: inline !important;
        }

        .hour{
            flex-direction: row;
            grid-row: 2/2;
            grid-column: 1/1;
            margin-left: 0;
            margin-top: 1rem;

            span{
                font-size: 1.2rem !important;
            }
        }

        .hour-text{
            display: none;
        }
    }

    .buy-container{

        .buy-it{
            width: 100%;
        }
    }

    .desc__img{
        img{
            padding: 0 !important;
        }
    }

    .spec__table{
        p:nth-child(2){
            font-size: 0.7rem !important;
        }
    }

    .opinion-div{
        flex-direction: column;

        .add-opinion{
            justify-content: center;
        }
    }

    .write-opinion-btn{
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
}

@media(max-width: 360px) {

    .product-navbar-container{

        padding: 0 1rem;
        
        .navbar-nav li:nth-child(3){
            display: none;
        }
    }

    .select-section{
        flex-direction: column;
    }

    .cattegories{

        .alarm-box{
            ul{
                grid-template-columns: repeat(1, 2fr);

            }
        }
    }

    .showcase, .offerts{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }


    .blog-articles{
        p{
            padding-bottom: 0 !important;
            margin-bottom: 0;
        }
    }

    .row .main{
        margin: 0 auto;
        padding-left: 0 !important;
    }

    .product-cart{
        padding-left: 1rem !important;
    }

    .footer, .offerts{
        margin-top: 0;
        padding-top: 0 !important;
    }

    .spec__table{
        flex-direction: column;

        p{
            padding-left: 0;
            padding-right: 0 !important;
            text-align: center !important;
        }
    }

}

@media(max-width: 300px) {
    .umm-1jfznrn, .umm-1ikmx2u{
        right: calc(0% + 25px) !important;
    }

    .stars-div{
        display: none !important;
    }

    .form-inline{
        margin: 0 !important;
        width: 100% !important;
    }
}

@media(max-width: 260px){

    .product-navbar-container{

        display: none !important;
    }

    .search-query{
        width: 75%;
    }

    .heart_section i{
        margin-top: 0 !important;
        margin-right: 0 !important;
    }

    .navbar .form-inline .search-bar{
        width: 60% !important;
    }

    .summary-container{
        display: block;
        position: relative;
        margin: 0 auto !important;
        width: 100%;
    }

    .contact {
        padding-top: 0 !important;

        .icons-boxes{
        grid-template-columns: 4fr;
        justify-items: center;

        i{
            justify-content: center !important;
        }
    }

    }

    .category-div{

        & .row{
            display: block;
        }
    }

    .row .main{
        display: flex;
        flex-direction: column;
    }
    .close{
        font-size: 0.7rem;
    }

    .product-cart{
        padding: 2rem 0 !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .the-best-of{
        padding: 0 !important;
    }

    .subtotal{
        flex-direction: column;
    }

    .alarm-box{
        margin: 0 !important;
        padding: 1rem;
    }
}

@media(max-width: 230px){

    .navbar{
        padding: 0 !important;

        & .nav-font-size{
            font-size: 0.7rem !important;
        }
    }

    .navbar .navbar-toggler{
        width: 60% !important;
        padding: 0 !important;
    }

    .navbar .form-inline{

        width: 80%;
        box-shadow: none;
        display: flex !important;
        flex-direction: column !important;
        margin: 0 !important;

        & .search-bar{
            width: 100% !important;
        }

    }

    .navbar .form-inline input{
        border: 1px solid #dee2e6 !important;
        box-shadow: 6px 13px 24px -5px rgba(0,0,0,0.17);
        border-radius: 50rem !important;
        margin-bottom: 1rem;
    }

    #nav-line{
        padding-right: 0 !important;
    }

    .cattegories {
        padding: 0 !important;
    }

}

@media(max-width: 200px){
    .navbar ul{
        grid-template-columns: repeat(1, 2fr);

        & li:last-child{
            padding-bottom: 1rem;
        }
    }

    .navbar ul .nav-item:nth-of-type(odd) a::after{
        display: none !important;
    }

    .button > div{
        display: flex !important;
    }

    .promoPrice{
        flex-direction: column-reverse;
    }

    .product-box{
        padding: 0 !important;
    }

    .alarm-box{
        ul{
            display: flex !important;
            flex-direction: column;

            .iconsDiv{
                flex-wrap: wrap;
            }
        }
    }
}