// npm run sass

.main{

    &-product-div{
        box-shadow: 6px 13px 24px -5px rgba(0,0,0,0.17);
        // height: 30rem;

        .mini-images-section{
            padding: 2rem;
            width: 10rem;

            & .mini-img{
                border: 1px solid #cbcbcb;
            &:hover{
                cursor: pointer;
                border-color: $main-red-color;
                }
            }
        }

        & .position-relative{
            & i {
                // position: absolute;
                top: 0;
                right: 0;
                position: relative;
                margin-top: 1rem;
                margin-right: 1rem;
                cursor: pointer;
            }
        }

        .buttons{

            a{
                font-size: 1rem;

                &:hover{
                    text-decoration: none;
                }
            }
        }

        & .main-img{
            padding-right: 4rem;
            width: 40rem;
            position: relative;

            .lni-heart{
                position: absolute;
                top: 1rem;
                right: 1rem;
            }

            &-div{
                box-sizing: border-box;
                height: 70%;
            }

            & img{
                max-width: 100%;
                max-height: 100%;
                object-fit: contain;
                }
        }
    }

    &-content{
        width: 25rem;
        padding: 1rem;
        color: #0d0d0d;
        padding-bottom: 0 !important;

        .extend-p-a{
            line-height: 20px;
            font-weight: 300;
            font-size: 0.9rem;
        }

        & .select-section{
            margin-bottom: 1rem;

            & .data-blocks{

                & p{
                    @extend .extend-p-a;

                }

                & button{
                    text-decoration:none;
                    background-color: #f2f2f2;
                    line-height: 24px;
                    cursor: pointer;
                    font-family: $mery-popins-font;
                }

                &:nth-child(1){
                    padding-top: 1rem;
                }

                & .product-spec-span{
                    @extend .extend-product-spec-span;
                }

            }

            & .not-data-block{
                @extend .data-blocks
            }

        }

        & .product-title{
            font-size: 1.1rem;
        }

        & h4{

            font-weight: 600;
            font-size: 1rem;
        }

        p.text-left{

            font-size: 1.1rem;
        }

        & .product-id a, .product-id p{
            font-size: 0.8rem;
            line-height: 1.6;
            font-weight: 400;
            color: $font-light-grey;
        }

        & .filter-section-reviews > div{

            & p{
            @extend .extend-p-a;

            }

            & a{
                @extend .extend-p-a;
                cursor: pointer;
            }

            & i{
                font-size: 0.7rem;
            }

        }

    }
}

.not-data-block{
    @extend .extend-p-a;

    & p{
        margin-bottom: 0;
    }

    & span{
        @extend .extend-product-spec-span;
    }
}

#product-section{


    & .grid-container{
        // grid-template-columns: 10fr 2fr;
        // grid-gap: 2rem;

        & p{
            font-size: 1.1rem;

        }

        & .small-container{
            width: 100%;
            height: 100%;
        }
    }
}

.container{
    padding: 0 !important;
}

#navbarNav1{
    .navbar-nav{

        li{
            text-align: center;
        }
        a{
            margin-right: 0 !important;
            padding-left: 4rem !important;
            padding-right: 4rem !important;
        }
    }
}

// Buy section

.buys{
    order: 2;
    display: flex;
    justify-content: space-between;
    margin-left: 3rem !important;


    &-container{
        position: sticky;
        // width: 20rem !important;
        // right: 2rem;
        z-index: 1000;
        top: 0;

        & div:nth-child(1){
            width: 12rem;
        }

        & a {
            padding: 2rem;
            font-size: 1rem;
            width: 100%;
        }

        & .free-deliver{

            & h3{
                font-weight: 100;
                font-size: 1rem;
            }
        }

    }

    .arrow-up{
        width: 100% !important;

        a{
            font-size: 2.5rem;
        }
    }

    .pieces {
        font-size: 0.9rem;
    }

    
}

.rest-section{
    order: 1;
}

.buy{
    z-index: 1001 !important;
    top: 49px !important;
    width: 20rem !important;

    &-container{
        width: 100%;
        z-index: 101 !important;

        .basket{
            font-size: 1.2rem;
            border-radius: 7px;
            width: 80%;
            display: block;
            right: 0;

        }

        
    }
    &-it{

        & a{
            width: 100%;
            font-size: 1.2rem;
            border-radius: 7px;
        }
    }
}

// Sticky buy elements

.sticky-top{
    z-index: 1 !important;
}

#fixed-sticky-wrapper{
    height: 100% !important;
}

.product-navbar-container{
    padding: 0;



    & .navbar-nav{

        height: 100%;

        & .nav-link{
            font-size: 1.1rem;
            font-weight: 100;
            margin: 0 5rem 0 0;
            cursor: pointer;
            transition: all 0.2s;

            &:hover{
                background-color: $main-red-color;
                color: $font-color;
            }
        }

    }
}

// Description section

#description{

    & p{
        // font-size: 1rem;
        font-family: $mery-popins-font;
    }

    & h3{
        font-family: $mery-popins-font;
        font-weight: 600;
        font-size: 1.8rem;
        color: #0d0d0d;
    }

    .description-photo {
        // height: 30rem;
        // width: 20rem !important;
        overflow: hidden;
        margin: auto !important;
        display: block;

        & img{
            height: 100% !important;
            // box-sizing: border-box;
            max-width: 100% !important;
            max-height: 100% !important;
            width: 100% !important;
            padding: 2rem;
        }

    }


}

.border-bottom{
    border-bottom: 1px;
}

// Opinion section

.review-questions-btns{
    border: none;
    padding: 0.5rem 0;
    display: block;
}

.write-opinion{

    margin-left: 1rem;

    &-btn{
        width: 70%;
        border: none;
    }
}

#opinions{
    h4{
        font-size: 1.1rem;
    }

    & .stars-class{

        .stars {
            & i{
            font-size: 1rem;
            }

        }

        & p{
            font-size: 1.2rem !important;
            width: 100%;
        }

        & a{
            font-size: 1rem;
        }
    }

    & .rated-on{
        p{
            font-size: 1rem;
        }

        & h2 span{
            font-size: 3rem;
        }
    }

    .progress-bar{

        &s{
        width: 30%;
        // margin: 0 20rem 0 10rem !important;
        }
    }

    .bar {
        &:nth-child(1){
            width: 10%;
        }
        &:nth-child(2){
            width: 15%;
        }
        &:nth-child(3){
            width: 50%;
        }
        &:nth-child(4){
            width: 25%;
            }
        }
}

#opinion-modal{

    & .modal-content{
        height: auto;
        width: 80%;
    }

    & .modal-header{
        border-bottom: none;
    }

    & .review-form{
        & button{
            margin: 0 auto;
            padding: 0.5rem 5rem;
        }

        & .img-block div:nth-child(2){
            width: 40%;
        }

        & .img-block div:nth-child(1){
            width: 60%;
        }
    }

    & .product-div{
        p{
            font-weight: 600;
        }
    }

    .stars-review-form{
        color:$main-red-color;
        &:hover{
            cursor: pointer;
        }
    }

    .stars-in-review{
        position: relative;
    }
}

.add-opinion{

    & button {
        @extend .review-questions-btns;
    }
}

// Ask something

#ask-something{
    & .small-container > div:first-child p {
                font-size: 1.5rem;
            }
    & input{
        height: 2.3rem;
        border: none;
    }

    & button {
        @extend .review-questions-btns;
        width: 70%;
    }

    .border-rounded{
        border-radius: 5px;
    }

    .modal{
        margin: auto;

        &-footer{
            border-top: none;
        }

        &-header{
            img{
                width: 50%;
            }
        }

        &-dialog{
            left: 40%;
        }

        &-content{
            width: 80%;
            height: auto;
        }
    }

    form{
        button{
            width: 100%;
        }
    }

    .arrow-up{
        width: 100%;
        height: 24rem;

        & .far{
            font-size: 3rem;
        }
    }
    .question-form{
        input{
            border: 1px solid #ced4da;
        }
    }
}

.zoom{
    position: absolute;
    top: 40px;
    right: 50%;
    width: 500px;
}

#shopping-cart{
    width: 100%;
    height: 100%;
    color: black;

    &::before{
        content:attr(data-totalitems);
        font-size:12px;
        font-weight:600;
        position:absolute;
        top:50px;
        right:10px;
        background:$main-red-color;
        line-height:24px;
        padding:0 5px;
        height:24px;
        min-width:24px;
        color: $font-color;
        text-align:center;
        border-radius:24px;
    }
}

.product-spec{
    & p:nth-child(1){
        font-size: 1rem;
        color: #757575;
        font-family: $mery-popins-font;
        font-weight: 400;
        line-height: 1.5;
    }
}

.reviews-questions {
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.5;
    color: #0d0d0d;
}

.user-review{
    @extend .reviews-questions;
    font-size: 1rem;
}

.user-questions {

    & .user-question p{
        @extend .reviews-questions;
        font-size: 1rem;
    }

    & .employer-reply p:nth-child(1){
        @extend .reviews-questions;
    }
}


