.price-row{

    & .subtotal p{
        font-size: 1rem;
        padding-right: 1rem;
        margin-bottom: 0 !important;
        }

    & .price-total{
        font-size: 2rem;
        }

    &-btn{
        padding: 1rem 0;
        font-size: 1.3rem;
    }
}

.price-info{
    // height: 25%;
    grid-column: 7 / span 12;
    grid-row: 1 / span 5;
    padding: 1.5rem;
}

.pic-div{

    width: 25rem;
    height: 7rem;
    min-width: 5rem;
    min-height: 5rem;
    flex-grow: 1;
    padding: 0 !important;
    margin-right: 1rem;
    
    & img{
        width: 100%;
        height: 100%;
        
    }
}

.sum-cont{
    grid-column: 1 / span 6;
    // grid-row: 1 /  20;
}



.summary-container{



    & img{
        width: 100px;
        color: $main-red-color;
    }
    .product-cart{
        padding-right: 5rem;
        padding-left: 5rem;

        & .price-div{
            overflow-wrap: break-word;
            

            & .box-shadow{
                border: 1px solid rgb(204, 204, 204);
                padding: 0.6rem;
                background-color: rgba(241, 248, 255, 0.5);
            }

            & .close{
                float: none;
                padding-left: 2rem;
            }
    
            }
    }

    & a:nth-of-type(2) {
        padding: 0.5rem;
        font-size: 1.1rem;

        & i {
            padding-right: 2rem;
        }

    }

    .row-box{
        position: relative;
        margin-top: 0 !important;
        padding-top: 1.2rem !important;

        // &::after{
        //     content: '';
        //     position: absolute;
        //     margin: 0 auto;
        //     display: block;
        //     bottom: 0;
        //     left: 0;
        //     height: 5px;
        //     width: 100%;
        //     border-bottom: 1px solid rgb(204, 204, 204);
        // }

        &::before{
            content: '';
            position: absolute;
            margin: 0 auto;
            display: block;
            left: 0;
            top: 0;
            height: 5px;
            width: 100%;
            border-bottom: 1px solid rgb(204, 204, 204);
        }


        & .price-col{
            padding-left: 0;

            & p{
                margin: auto 0;
                padding-left: 1rem;
            }

            & .trash-icon{

                text-align: left;
                margin: auto 0;
                padding-left: 1rem;
            
                i{
                    width: 100%;
                    color: $main-red-color;
                }
            }
        }
    }
}

.columns-name{
    position: relative;
    margin-bottom: 0 !important;

    & p{
        font-weight: 700;
        padding-left: 0;
        padding-bottom: 0;
        margin-bottom: 0 !important;

        &:last-child{
            padding-left: 1rem;
        }
    }

    &::after{
        content: '';
        position: absolute;
        display: block;
        bottom: 0;
        left: 0;
        width: 100%;
        border-bottom: 1px solid rgb(204, 204, 204);
    }
    
}

.product-cart-description{
        padding-left: 1rem;

        & p{
            margin: auto 0;
        }
}

.add-more-section{  

    width: 100%;

    & i{
        color: $main-red-color;
        font-size: 1.5rem;
        padding-left: 0.5rem;
        // height: 100%;
        // display: block;

        &:hover{
            cursor: pointer;
        }
    }

    
    & p{
        // width: 20%;
        // margin-bottom: 0;

        & span{
            font-size: 0.7rem;
        }

    

        & .arrows{
            
            width: 100%;
            text-align: left;
            height: 100%;

            & i{
                font-size: 1.5rem;
                display: block;

                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
}

.update-cart{
    font-size: 1.5rem;
    font-weight: 300;
}




.price-row-btn{
    &:hover{
        color: white;
        text-decoration: none;
    }
}


.Empty_cart{
    width: 100%;
    position: relative;
    padding-bottom: 1rem;

    &:after{
        content: '';
        position: absolute;
        display: block;
        bottom: 0;
        left: 0;
        width: 100%;
        border-bottom: 1px solid rgb(204, 204, 204);
    }

}




@import 'media';