@import "variables";

*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

a{
    &:hover{
        text-decoration: none;
        color: inherit;
    }

}

img{
    width: 100%;
}

body{
    font-family: $mery-popins-font;
    line-height: 1.6;
    background: $main-light-color;
}

.container{
    max-width: $max-width;
    margin: 0 auto;
    text-align: center;
}


.small-container{
    max-width: $small-width;
    margin: 0 auto;
    text-align: center;
}

.smaller-container{
    max-width: $smaller-width;
    margin: 0 auto;
    text-align: center;
}

.align-center{
    text-align: center;
}

li{
    list-style-type: none;
}

.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column{
    flex-direction: column;
}

.align-self-center{
    align-self: center;
}

.grid-container{
    display: grid;
    justify-content: center;
    align-items: center;
}

.btn{

    &-dark{
    background-color: $dark-color;
    color: $font-color;
    }

    &-grey{
        background-color: $grey-main-color;
        color: $font-color;
    }


    &-light{
        background: $main-light-color;
    }

    &-red{
        background: $main-red-color;
        color: $font-color;
    }

    &-blue{
        background: $main-blue-colour;
        color: $font-color;

    }

    &-brown{
        background: $main-brown-colour;
        color: $font-color;
    }
}

a{
    text-decoration: none;
    color: black;
}

.py-1{padding: 1rem 0;}
.py-2{padding: 2rem 0;}
.py-3{padding: 3rem 0;}
.py-4{padding: 4rem 0 !important;}

.px-1{padding-left: 5rem; padding-right: 5rem;}
.px-4{padding-left: 4rem; padding-right: 4rem;}
.px-3{padding-left: 3rem; padding-right: 3rem;}
.px-2{padding-left: 2rem; padding-right: 2rem;}
.px-1{padding-left: 1rem; padding-right: 1rem;}



.my-1{margin: 1rem 0 !important;}
.my-2{margin: 2rem 0 !important;}
.my-3{margin: 3rem 0 !important;}
.my-4{margin: 4rem 0 !important;}
.my-5{margin: 5rem 0 !important;}
.mx-1{margin-left: 1rem !important; margin-right: 1rem !important;}
.mx-2{margin-left: 2rem !important; margin-right: 2rem !important;}
.mx-3{margin-left: 3rem !important; margin-right: 3rem !important;}
.mx-4{margin-left: 4rem !important; margin-right: 4rem !important;}
.mx-5{margin-left: 5rem !important; margin-right: 5rem !important;}

.bg{

    &-grey{
        background: $main-light-color;
    }

    &-white{
        background-color: $font-color;
    }

    &-red{
        background-color: $main-red-color;

    }

    &-light-grey{
        background-color: $main-light-color;
    }
}

.font{

    &-red{
        color: $main-red-color !important;

        &:hover{
            text-decoration: none;
            color: $main-red-color;
        }
    }

    &-black{
        color: black;
    }

    &-blue{
        color: $main-blue-colour;
    }

    &-light-grey{
        color: $font-light-grey;
    }

    &-brown {
        color: $main-brown-colour;
    }

    &-point-seven-rem{
        font-size: 0.7rem !important;
    }

    &-size-0-8{
        font-size: 0.8rem;
    }

    &-white{
        color: white
    }
}

.line-through{
    text-decoration: line-through;
    color: $grey-main-color;
    font-weight: 100;
}

.inline{
    display: inline;
}

.border-rounded{
    border-radius: 10px;
}

.active{

    &-product-content{
        border: 2px solid $main-red-color;
    }
}

.light-border{
    border: 2px solid #f2f2f2;

}

.no-border{
    border: none;
}

.box-shadow{
    box-shadow: 6px 13px 24px -5px rgba(0,0,0,0.17);

}

.underline{
    border-bottom: 1px solid $main-red-color;
}

.upper{
    text-transform: uppercase;
}

.hidden{
    display: none !important;
}

.error-form{

    & input{
        visibility: visible;
        border-color: $error-form-color !important;
    }

    & .fa-exclamation-circle{
        color: $error-form-color !important;
        visibility: visible !important;
    }

    & p{
        margin-bottom: 0;
        font-size: 0.8rem;
        color:  $error-form-color;
        padding-top: 0.5rem;
        padding-left: 0.1rem;
        margin-bottom: -0.5rem;
        text-align: left;
        display: inline !important;
        animation: autoHide 0s ease-in 4s forwards;
    }
}

.success-form{

    & input{
        visibility: visible !important;
        border-color: green !important;
    }

    & .fa-check-circle{
        color: #2ecc71;
        visibility: visible !important;
    }
}

.alerts{
    // padding: 1rem;
    // height: 100% !important;
    // -webkit-animation: cssAnimation 10s forwards;
    animation: cssAnimation 10s forwards;
}

@keyframes cssAnimation {
    0%   {
        opacity: 1;
        padding: 1rem;
        min-height: 100%;
        height: 3rem;
    }
    10%   {
        opacity: 1;
        padding: 1rem;
        min-height: 100%;
        height: 3rem    ;
    }
    20%   {
        opacity: 1;
        padding: 1rem;
        min-height: 100%;
        height: 3rem    ;
    }
    30%   {
        opacity: 1;
        padding: 1rem;
        min-height: 100%;
        height: 3rem    ;
    }
    40%   {
        opacity: 1;
        padding: 1rem;
        min-height: 100%;
        height: 3rem    ;
    }
    50%   {
        opacity: 1;
        padding: 1rem;
        min-height: 100%;
        height: 3rem    ;
    }
    60%   {
        opacity: 1;
        padding: 1rem;
        min-height: 100%;
        height: 3rem    ;
    }
    70%   {
        opacity: 1;
        padding: 1rem;
        min-height: 100%;
        height: 3rem    ;
    }
    80%   {
        opacity: 1;
        padding: 1rem;
        min-height: 100%;
        height: 3rem    ;
    }
    90%  {
        opacity: 1;
        padding: 1rem;
        min-height: 100%;
        height: 3rem    ;
    }
    100% {
        opacity: 0;
        visibility: hidden;
        padding: 0px;
        height: 0;
        width: 0;
    }
}
@-webkit-keyframes cssAnimation {
    0%   {
        opacity: 1;
        padding: 1rem;
        height: 100%;
    }
    10%   {
        opacity: 1;
        padding: 1rem;
        height: 100%;
    }
    20%   {
        opacity: 1;
        padding: 1rem;
        height: 100%;
    }
    30%   {
        opacity: 1;
        padding: 1rem;
        height: 100%;
    }
    40%   {
        opacity: 1;
        padding: 1rem;
        height: 100%;
    }
    50%   {
        opacity: 1;
        padding: 1rem;
        height: 100%;
    }
    60%   {
        opacity: 1;
        padding: 1rem;
        height: 100%;
    }
    70%   {
        opacity: 1;
        padding: 1rem;
        height: 100%;
    }
    80%   {
        opacity: 1;
        padding: 1rem;
        height: 100%;
    }
    90%  {
        opacity: 1;
        padding: 1rem;
        height: 100%;
    }
    100% {
        opacity: 0;
        visibility: hidden;
        padding: 0px;
        max-height: 0;
        height: 0;
    }
}


.extend-p-a{
    line-height: 20px;
    font-weight: 300;
    font-size: 0.9rem;
}

.extend-product-spec-span{
    color: #0d0d0d;
    font-weight: 600;
    font-size: 0.9rem;
}

.lni-heart-absolute{
    cursor: pointer;
    font-weight: 100;
    font-size: 2rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.display-none{
    display: none;
}

.no-text-shadow{
    text-shadow: none !important;
}