@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100&display=swap');

$dark-color: #333;
$font-color: white;
$font-light-grey: #757575;
$grey-main-color: rgb(77, 77, 77);
$main-red-color: #ff503c;
$main-blue-colour: #0169a1;
$max-width: 2080px;
$container-max-width: 1680px;
$small-width: 1680px;
$main-font: 'Dosis', sans-serif;
$mery-popins-font: 'Poppins', sans-serif;
$main-light-color: rgb(245, 245, 245);
$awesome-colours: rgb(26, 26, 26);
$cards-font: 'IBM Plex Mono', monospace;

