
{% extends 'base.html' %}

{% block content %}

{% load static %}

    <section class="bg-grey align-center mt-5 pb-3 deliver-options-section">

        <div class="container bg-white mb-5 box-shadow">

            <section class="p-5 text-left">

                <h2>About us:</h2>

                        <div class="align-content-center">
                            <p class='mb-0'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur sit, accusantium cupiditate sapiente corrupti debitis quasi architecto iure, alias eligendi fuga a nobis modi eveniet eius atque exercitationem eos consectetur.
                            Libero quod aliquid sit adipisci pariatur neque praesentium omnis nostrum debitis illum incidunt animi totam deleniti laborum nulla magni, nobis nihil tempore quisquam commodi. Hic eligendi et vero aut deleniti.
                            Sunt, nulla tempore esse neque amet consequuntur eligendi repudiandae, eum sapiente nihil nisi repellat necessitatibus nemo animi architecto quod fuga! Voluptatum voluptate alias eum, velit ea quae. Pariatur, fugit minima.
                            Vel corporis vero minima molestiae perspiciatis tempora porro reprehenderit. Quam, repellat explicabo ab pariatur saepe ipsam rem voluptas, voluptatibus, laborum rerum aliquid corporis fugit voluptatem amet quisquam sunt iure repellendus!
                            Debitis natus magnam odio saepe reiciendis perferendis molestiae sint aliquam rem dolor soluta similique, quibusdam nam omnis ex accusamus ut veritatis ipsam quidem aspernatur facere cumque nesciunt architecto? Dicta, sequi?</p>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat hic reiciendis quaerat laborum doloribus culpa ad? Consequatur saepe at, voluptate vitae, nemo impedit blanditiis cupiditate vel alias soluta voluptates iusto.
                            Incidunt unde dicta ut dolores, eos voluptatibus iusto alias ea perferendis molestiae exercitationem qui quis blanditiis eum quos iste. Reiciendis velit molestias ipsam eum, repudiandae ipsa incidunt distinctio earum dolor!
                            Animi eum facilis quasi, iste praesentium doloremque nam quibusdam consequatur magni! A consequatur quia, sed impedit tempore error accusamus ipsum numquam libero distinctio debitis! At, et. Facilis reiciendis blanditiis nostrum.</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id dolorum, corporis quod sapiente quaerat neque repellat asperiores quam natus a ad cumque fugit error, ullam soluta modi, at aliquid possimus.
                            Ipsam voluptate officia necessitatibus, assumenda quae dolorem aperiam illo. Facilis reiciendis, eos voluptatibus cupiditate provident accusantium similique voluptas officia corporis officiis, minus tempora, eaque reprehenderit vitae quo? Soluta, tenetur nesciunt.</p>
                        </div>


            </section>

        </div>

    </section>


{% endblock %}
