
{% extends 'base.html' %}

{% block content %}

{% load static %}

    <section class="bg-grey align-center mt-5 pb-3 deliver-options-section">

        <div class="container bg-white mb-5 box-shadow">

            <section class="p-5 text-left">

                <h2>Privacy Policy:</h2>

                {% for i in '123456='|make_list %}
                    {% if i <= '6' %}
                        <div class="d-flex align-content-center mt-5">
                            <h5 class='mb-0'>{{i}}.</h5>

                            <h5 class='mb-0 pl-3'>Lorem ipsum</h5>

                        </div>
                        <div class="d-flex align-content-center d-flex">
                            <p class='mb-0'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste aliquid illo placeat quod ipsa, dolorem natus, maxime a consequuntur aperiam excepturi vero nemo saepe. Aperiam sequi porro quos vitae similique.
                            Reiciendis corporis harum, error minima culpa dolore doloribus labore consequatur modi mollitia, debitis voluptatum ut! Iusto, culpa ipsam? Nihil delectus similique, quas eum fuga omnis. Ipsum sed tempora excepturi iure?</p>
                        </div>
                    {% endif %}
                {% endfor %}

            </section>

        </div>

    </section>


{% endblock %}
