[flake8]
exclude =
  migrations
  __pycache__,
  manage.py,
  settings.py
  .venv
  .git
  .pytest_cache
  .vscode
  htmlcov
  media
  scss
  products_script.py
  products.py
  help_script.py
  examples.py
  env_script.py