<div class="pt-5  not-data-block mb-0">

    <p class="pl-5 text-left font-light-grey">
        Producent Code:
        <span class='product-spec-span'>{{ product.switch_product_data.producent_code }}</span>
    </p>

    <p class="pl-5 text-left font-light-grey">
        Ean:
        <span class='product-spec-span'>{{ product.switch_product_data.ean }}</span>
    </p>

    <p class="pl-5 text-left font-light-grey">
        Bus speed:
        <span class='product-spec-span'>{{ product.switch_product_data.bus_speed }}</span>
    </p>

    <p class="pl-5 text-left font-light-grey">
        Ports:
        <span class='product-spec-span'>{{ product.switch_product_data.ports_num }}</span>
    </p>

    <p class="pl-5 text-left font-light-grey">
        PoE:
        <span class='product-spec-span'>
        {% if product.switch_product_data.num_of_poe %}
        {% else %}N/a
        {% endif %}{{ product.switch_product_data.num_of_poe }}
        </span>
    </p>

    <p class="pl-5 text-left font-light-grey">
        Manageable:
        <span class='product-spec-span'>{{ product.switch_product_data.manageable }}</span>
    </p>

</div>
