{% load static %}

{% if same_products.items|length >= 2%}

    {% if same_products.capacity|length >= 2 %}

        <div class="color-section data-blocks">
            <p class="px-5 pt-1 text-left">
                Capacity:
            </p>
            <div class="buttons d-flex px-5
            {% if same_products.capacity|length >= 4 %}flex-wrap
            {% endif %}" data-name='product-capacity-data'>

                {% for element in same_products.capacity %}

                    <button href="" class="btn-light d-inline py-2 mt-2 mb-2 mr-2 spec-product-data
                    {% if element == product.capacity %}active-product-content bg-white
                    {% else %}light-border
                    {% endif %}
                    {% if element|length >= 15 %} font-point-seven-rem px-2
                    {% else %} px-3
                    {% endif %} ">{{ element }}
                    </button>

                {% endfor %}

            </div>
        </div>
    {% endif %}

    {% if same_products.frequency|length >= 2 %}

        <div class="processor-section data-blocks">
            <p class="px-5 pt-4 text-left">
                Frequency [MHz]:
            </p>
            <div class="buttons d-flex px-5 sort_items
            {% if same_products.frequency|length >= 4 %}flex-wrap
            {% endif %}" data-name='product-frequency-data'>

                {% for element in same_products.frequency %}

                    <button href="" class="btn-light d-inline mt-2 mb-2 mr-2 py-2 spec-product-data
                    {% if element == product.frequency %}active-product-content bg-white
                    {% else %}light-border
                    {% endif %}
                    {% if element|length >= 15 %} font-point-seven-rem px-2
                    {% else %} px-3
                    {% endif %} ">{{ element }}
                    </button>

                {% endfor %}

            </div>
        </div>

    {% endif %}

    {% if same_products.modules_number|length >= 2 %}

        <div class="disc-section data-blocks">
            <p class="px-5 pt-4 text-left">
                Modules number:
            </p>
            <div class="buttons d-flex px-5 sort_items
            {% if same_products.modules_number|length >= 4 %}flex-wrap
            {% endif %}" data-name='product-modules_number-data'>

                {% for element in same_products.modules_number %}

                    <button href="" class="btn-light d-inline mt-2 mb-2 mr-2 py-2 spec-product-data
                    {% if element == product.modules_number %}active-product-content bg-white
                    {% else %}light-border
                    {% endif %}
                    {% if element|length >= 15 %} font-point-seven-rem px-2
                    {% else %} px-3
                    {% endif %} ">{{ element }}
                    </button>

                {% endfor %}

            </div>
        </div>

    {% endif %}

    {% if same_products.delay|length >= 2 %}

        <div class="disc-section data-blocks">
            <p class="px-5 pt-4 text-left">
                Delay:
            </p>
            <div class="buttons d-flex px-5 sort_items
            {% if same_products.delay|length >= 4 %}flex-wrap
            {% endif %}" data-name='product-delay-data'>

                {% for element in same_products.delay %}

                    <button href="" class="btn-light d-inline mt-2 mb-2 mr-2 py-2 spec-product-data
                    {% if element == product.delay %}active-product-content bg-white
                    {% else %}light-border
                    {% endif %}
                    {% if element|length >= 15 %} font-point-seven-rem px-2
                    {% else %} px-3
                    {% endif %} ">{{ element }}
                    </button>

                {% endfor %}

            </div>
        </div>

    {% endif %}

{% else %}

    {% include 'ProductApp/partials/spec_description/Ram.html' %}

{% endif %}
