{% load static %}

{% if same_products.items|length >= 2 %}

     {% if same_products.diagonal|length >= 2 %}

        <div class="color-section data-blocks">
            <p class="px-5 pt-1 text-left">
                Diagonal:
            </p>
            <div class="buttons d-flex px-5
            {% if same_products.diagonal|length >= 4 %}flex-wrap
            {% endif %}" data-name='product-diagonal-data'>

                {% for element in same_products.diagonal %}

                    <button
                    href="" class="btn-light d-inline py-2 mt-2 mb-2 mr-2 spec-product-data
                    {% if element == product.diagonal %}active-product-content bg-white
                    {% else %}light-border
                    {% endif %}
                    {% if element|length >= 15 %} font-point-seven-rem px-2
                    {% else %} px-3
                    {% endif %} ">{{ element }}
                    </button>

                {% endfor %}

            </div>
        </div>

    {% endif %}

{% else %}

    {% include 'ProductApp/partials/spec_description/TV.html' %}

{% endif %}
