{% if products_filter_options.format|length > 1  %}
    <div class="pb-3 horizontal-filters">
        <h5 class="font-weight-bold">Format</h5>
        {% for format, value in products_filter_options.format.items %}
            {% if value != 0 %}
            <form>
                <div class="form-inline d-flex align-items-center py-1 justify-content-between">
                    <label class="tick">{{format}}
                    <input type="checkbox">
                        <span class="check" data-filter='format={{format}}'>
                        <div class=""></div></span>
                    </label>
                    <span class="badge badge-primary badge-pill">{{value}}</span>
                </div>
            </form>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}

{% if products_filter_options.capacity|length > 1  %}
    <div class="py-3 horizontal-filters">
        <h5 class="font-weight-bold">Capacity</h5>
        {% for capacity, num in products_filter_options.capacity.items %}
            {% if value != 0 %}
                <form>
                    <div class="form-inline d-flex align-items-center py-1 justify-content-between">
                        <label class="tick">{{capacity}}
                            <input type="checkbox">
                            <span class="check" data-filter='capacity={{capacity}}'>
                            <div class=""></div></span>
                        </label>
                        <span class="badge badge-primary badge-pill">{{num}}</span>
                    </div>
                </form>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}

{% if products_filter_options.reading_speed|length > 1  %}
    <div class="py-3 horizontal-filters">
        <h5 class="font-weight-bold">Reading speed [MB/s]</h5>
        {% for reading_speed, num in products_filter_options.reading_speed.items %}
            {% if value != 0 %}
                <form>
                    <div class="form-inline d-flex align-items-center py-1 justify-content-between">
                    <label class="tick">{{reading_speed}}
                        <input type="checkbox"> <span class="check"></span>
                        <span class="check" data-filter='reading_speed={{reading_speed}}'>
                        <div class=""></div></span>
                    </label>
                    <span class="badge badge-primary badge-pill">{{num}}</span>
                    </div>
                </form>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}


{% if products_filter_options.writing_speed|length > 1  %}
    <div class="py-3 horizontal-filters">
        <h5 class="font-weight-bold">Writing speed [MB/s]</h5>
        {% for writing_speed, value in products_filter_options.writing_speed.items %}
            {% if value != 0 %}
                <form>
                    <div class="form-inline d-flex align-items-center py-1 justify-content-between">
                        <label class="tick">{{writing_speed}}
                            <input type="checkbox">
                            <span class="check" data-filter='writing_speed={{writing_speed}}'>
                            <div class=""></div></span>
                        </label>
                        <span class="badge badge-primary badge-pill">{{value}}</span>
                    </div>
                </form>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}

{% if products_filter_options.life_time|length > 1  %}
    <div class="py-3 horizontal-filters">
        <h5 class="font-weight-bold">Life time [h]</h5>
        {% for life_time, value in products_filter_options.life_time.items %}
            <form>
                <div class="form-inline d-flex align-items-center py-1 justify-content-between">
                    <label class="tick">{{life_time}}
                        <input type="checkbox" >
                        <span class="check" data-filter='life_time={{life_time}}'>
                        <div class=""></div></span>
                    </label>
                    <span class="badge badge-primary badge-pill">{{value}}</span>
                </div>
            </form>
        {% endfor %}
    </div>
{% endif %}
