{% if products_filter_options.diagonal|length > 1  %}
    <div class="pb-3 horizontal-filters">
        <h5 class="font-weight-bold">Diagonal [cal]</h5>
        {% for diagonal, value in products_filter_options.diagonal.items %}
            {% if value != 0 %}
            <form>
                <div class="form-inline d-flex align-items-center py-1 justify-content-between">
                    <label class="tick">{{diagonal}}
                    <input type="checkbox">
                    <span class="check" data-filter='diagonal={{diagonal}}'>
                    <div class=""></div></span>
                </label>
                <span class="badge badge-primary badge-pill">{{value}}</span></div>
            </form>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}

{% if products_filter_options.resolution|length > 1  %}
    <div class="py-3 horizontal-filters">
        <h5 class="font-weight-bold">Resolution</h5>
        {% for resolution, num in products_filter_options.resolution.items %}
            {% if value != 0 %}
                <form>
                    <div class="form-inline d-flex align-items-center py-1 justify-content-between">
                    <label class="tick">{{resolution}}
                        <input type="checkbox">
                        <span class="check" data-filter='resolution={{resolution}}'>
                        <div class=""></div></span>
                    </label>
                    <span class="badge badge-primary badge-pill">{{num}}</span>
                    </div>
                </form>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}

{% if products_filter_options.refresh_rate|length > 1  %}
    <div class="py-3 horizontal-filters">
        <h5 class="font-weight-bold">Refresh rate [Hz]</h5>
        {% for refresh, num in products_filter_options.refresh_rate.items %}
            {% if value != 0 %}
                <form>
                    <div class="form-inline d-flex align-items-center py-1 justify-content-between">
                        <label class="tick">{{refresh}}
                        <input type="checkbox">
                        <span class="check" data-filter='refresh_rate={{refresh}}'>
                        <div class=""></div></span>
                    </label>
                    <span class="check"></span> </label> <span class="badge badge-primary badge-pill">{{num}}</span> </div>
                </form>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}


{% if products_filter_options.matrix_type|length > 1  %}
    <div class="py-3 horizontal-filters">
        <h5 class="font-weight-bold">Matrix type</h5>
        {% for matrix, value in products_filter_options.matrix_type.items %}
            {% if value != 0 %}
                <form>
                    <div class="form-inline d-flex align-items-center py-1 justify-content-between">
                    <label class="tick">{{matrix}}
                        <input type="checkbox">
                        <span class="check" data-filter='matrix_type={{matrix}}'>
                        <div class=""></div></span>
                    </label><span class="badge badge-primary badge-pill">{{value}}</span> </div>
                </form>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}

{% if products_filter_options.screen|length > 1  %}
    <div class="py-3 horizontal-filters">
        <h5 class="font-weight-bold">Screen type</h5>
        {% for screen, value in products_filter_options.screen.items %}
            {% if value != 0 %}
                <form>
                    <div class="form-inline d-flex align-items-center py-1 justify-content-between">
                    <label class="tick">{{screen}}
                        <input type="checkbox">
                        <span class="check" data-filter='screen={{screen}}'>
                        <div class=""></div> </span>
                    </label><span class="badge badge-primary badge-pill">{{value}}</span>
                    </div>
                </form>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}

{% if products_filter_options.format|length > 1  %}
    <div class="py-3 horizontal-filters">
        <h5 class="font-weight-bold">Format</h5>
        {% for format, value in products_filter_options.format.items %}
            {% if value != 0 %}
                <form>
                    <div class="form-inline d-flex align-items-center py-1 justify-content-between">
                    <label class="tick">{{format}}
                        <input type="checkbox">
                        <span class="check" data-filter='format={{format}}'>
                        <div class=""></div></span>
                    </label>
                    <span class="badge badge-primary badge-pill">{{value}}</span>
                    </div>
                </form>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}

{% if products_filter_options.curved|length > 1  %}
    <div class="py-3 horizontal-filters">
        <h5 class="font-weight-bold">Curved</h5>
        {% for curved, value in products_filter_options.curved.items %}
            {% if value != 0 %}
                <form>
                    <div class="form-inline d-flex align-items-center py-1 justify-content-between">
                    <label class="tick">{{curved}}
                        <input type="checkbox">
                        <span class="check" data-filter='curved={{curved}}'>
                        <div class=""></div></span>
                    </label>
                    <span class="badge badge-primary badge-pill">{{value}}</span>
                    </div>
                </form>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}