{% if products_filter_options.processor|length > 1  %}
    <div class="pb-3 horizontal-filters">
        <h5 class="font-weight-bold">Processor</h5>
        {% for processor, value in products_filter_options.processor.items %}
            {% if value != 0 and processor != 'No data'%}
            <form>
                <div class="form-inline d-flex align-items-center py-1 justify-content-between">
                <label class="tick">{{processor}}
                    <input type="checkbox">
                    <span class="check" data-filter='processor={{processor}}'>
                    <div class=""></div></span>
                </label>
                <span class="badge badge-primary badge-pill">{{value}}</span>
                </div>
            </form>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}

{% if products_filter_options.socket|length > 1  %}
    <div class="py-3 horizontal-filters">
        <h5 class="font-weight-bold">Socket</h5>
        {% for socket, num in products_filter_options.socket.items %}
            {% if value != 0 and socket != 'No data'%}
                <form>
                    <div class="form-inline d-flex align-items-center py-1 justify-content-between">
                    <label class="tick">{{socket}}
                        <input type="checkbox">
                        <span class="check" data-filter='socket={{socket}}'>
                        <div class=""></div></span>
                    </label>
                    <span class="badge badge-primary badge-pill">{{num}}</span>
                    </div>
                </form>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}

{% if products_filter_options.system|length > 1  %}
    <div class="py-3 horizontal-filters">
        <h5 class="font-weight-bold">System</h5>
        {% for system, num in products_filter_options.system.items %}
            {% if value != 0 and system != 'No data'%}
                <form>
                    <div class="form-inline d-flex align-items-center py-1 justify-content-between">
                    <label class="tick">{{system}}
                    <input type="checkbox">
                        <span class="check" data-filter='system={{system}}'>
                        <div class=""></div></span>
                    </label>
                    <span class="badge badge-primary badge-pill">{{num}}</span>
                    </div>
                </form>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}

{% if products_filter_options.motherboard_chipset|length > 1  %}
    <div class="py-3 horizontal-filters">
        <h5 class="font-weight-bold">MotherBoard</h5>
        {% for motherboard_chipset, num in products_filter_options.motherboard_chipset.items %}
            {% if value != 0 and motherboard_chipset != 'No data'%}
                <form>
                    <div class="form-inline d-flex align-items-center py-1 justify-content-between">
                    <label class="tick">{{motherboard_chipset}}
                    <input type="checkbox">
                        <span class="check" data-filter='motherboard_chipset={{motherboard_chipset}}'>
                        <div class=""></div></span>
                    </label>
                    <span class="badge badge-primary badge-pill">{{num}}</span>
                    </div>
                </form>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}

{% if products_filter_options.disc|length > 1  %}
    <div class="py-3 horizontal-filters">
        <h5 class="font-weight-bold">Disc [GB]</h5>
        {% for disc, num in products_filter_options.disc.items %}
            {% if value != 0 and disc != '0'%}
                <form>
                    <div class="form-inline d-flex align-items-center py-1 justify-content-between">
                    <label class="tick">{{disc}}
                    <input type="checkbox">
                        <span class="check" data-filter='disc={{disc}}'>
                        <div class=""></div></span>
                    </label>
                    <span class="badge badge-primary badge-pill">{{num}}</span>
                    </div>
                </form>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}

{% if products_filter_options.ram|length > 1  %}
    <div class="py-3 horizontal-filters">
        <h5 class="font-weight-bold">Ram [GB]</h5>
        {% for ram, num in products_filter_options.ram.items %}
            {% if value != 0 and ram != '0'%}
                <form>
                    <div class="form-inline d-flex align-items-center py-1 justify-content-between">
                    <label class="tick">{{ram}}
                    <input type="checkbox">
                        <span class="check" data-filter='ram={{ram}}'>
                        <div class=""></div></span>
                    </label>
                    <span class="badge badge-primary badge-pill">{{num}}</span>
                    </div>
                </form>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}

{% if products_filter_options.ram_type|length > 1  %}
    <div class="py-3 horizontal-filters">
        <h5 class="font-weight-bold">Ram Type</h5>
        {% for ram_type, num in products_filter_options.ram_type.items %}
            {% if value != 0 and ram_type != '0'%}
                <form>
                    <div class="form-inline d-flex align-items-center py-1 justify-content-between">
                    <label class="tick">{{ram_type}}
                    <input type="checkbox">
                        <span class="check" data-filter='ram_type={{ram_type}}'>
                        <div class=""></div></span>
                    </label>
                    <span class="badge badge-primary badge-pill">{{num}}</span>
                    </div>
                </form>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}

{% if products_filter_options.p_c_i_e|length > 1  %}
    <div class="py-3 horizontal-filters">
        <h5 class="font-weight-bold">Disc PcIE</h5>
        {% for p_c_i_e, num in products_filter_options.p_c_i_e.items %}
            {% if value != 0 and p_c_i_e != '0'%}
                <form>
                    <div class="form-inline d-flex align-items-center py-1 justify-content-between">
                    <label class="tick">{{p_c_i_e}}
                    <input type="checkbox">
                        <span class="check" data-filter='p_c_i_e={{p_c_i_e}}'>
                        <div class=""></div></span>
                    </label>
                    <span class="badge badge-primary badge-pill">{{num}}</span>
                    </div>
                </form>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}


{% if products_filter_options.bluetooth|length > 1  %}
    <div class="py-3 horizontal-filters">
        <h5 class="font-weight-bold">Bluetooth</h5>
        {% for bluetooth, num in products_filter_options.bluetooth.items %}
            {% if value != 0 and bluetooth != '0'%}
                <form>
                    <div class="form-inline d-flex align-items-center py-1 justify-content-between">
                    <label class="tick">{{bluetooth}}
                    <input type="checkbox">
                        <span class="check" data-filter='bluetooth={{bluetooth}}'>
                        <div class=""></div></span>
                    </label>
                    <span class="badge badge-primary badge-pill">{{num}}</span>
                    </div>
                </form>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}

