{% if products_filter_options.diagonal|length > 1  %}
    <div class="pb-3 horizontal-filters">
        <h5 class="font-weight-bold">Diagonal [cal]</h5>
        {% for key, value in products_filter_options.diagonal.items %}
            {% if value != 0 %}
            <form>
                <div class="form-inline d-flex align-items-center py-1 justify-content-between">
                    <label class="tick">{{key}}
                    {% comment %} <input type="checkbox">  {% endcomment %}
                        <span class="check" data-filter='diagonal={{key}}'>
                        <div class=""></div></span>
                    </label>
                    <span class="badge badge-primary badge-pill">{{value}}</span>
                </div>
            </form>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}

{% if products_filter_options.resolution|length > 1  %}
    <div class="py-3 horizontal-filters">
        <h5 class="font-weight-bold">Resolution</h5>
        {% for resolution, num in products_filter_options.resolution.items %}
            {% if value != 0 %}
                <form>
                    <div class="form-inline d-flex align-items-center py-1 justify-content-between">
                        <label class="tick">{{resolution}}
                        {% comment %} <input type="checkbox">  {% endcomment %}
                        <span class="check" data-filter='resolution={{resolution}}'>
                        <div class=""></div></span>
                        </label><span class="badge badge-primary badge-pill">{{num}}</span>
                    </div>
                </form>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}

{% if products_filter_options.refresh_rate|length > 1  %}
    <div class="py-3 horizontal-filters">
        <h5 class="font-weight-bold">Refresh rate [Hz]</h5>
        {% for refresh, num in products_filter_options.refresh_rate.items %}
            {% if value != 0 %}
                <form>
                    <div class="form-inline d-flex align-items-center py-1 justify-content-between">
                        <label class="tick">{{refresh}}
                            <input type="checkbox">
                            {% comment %} <span class="check"></span> </label> {% endcomment %}
                            <span class="check"  data-filter='refresh_rate={{refresh}}'>
                            <div class=""></div></span>
                        </label>
                        <span class="badge badge-primary badge-pill">{{num}}</span>
                    </div>
                </form>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}


{% if products_filter_options.matrix_type|length > 1  %}
    <div class="py-3 horizontal-filters">
        <h5 class="font-weight-bold">Matrix type</h5>
        {% for matrix, value in products_filter_options.matrix_type.items %}
            {% if value != 0 %}
                <form>
                    <div class="form-inline d-flex align-items-center py-1 justify-content-between">
                        <label class="tick">{{matrix}}
                            {% comment %} <input type="checkbox">  {% endcomment %}
                            <span class="check" data-filter='matrix_type={{matrix}}'>
                            <div class=""></div></span>
                        </label>
                        <span class="badge badge-primary badge-pill">{{value}}</span>
                    </div>
                </form>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}

{% if products_filter_options.curved|length > 1  %}
    <div class="py-3 horizontal-filters">
        <h5 class="font-weight-bold">Curved</h5>
        {% for curved, value in products_filter_options.curved.items %}
            <form>
                <div class="form-inline d-flex align-items-center py-1 justify-content-between">
                <label class="tick">{{curved}}
                    {% comment %} <input type="checkbox">  {% endcomment %}
                    <span class="check" data-filter='curved={{curved}}'><div class=""></div></span>
                </label>
                <span class="badge badge-primary badge-pill">{{value}}</span>
                </div>
            </form>
        {% endfor %}
    </div>
{% endif %}


{% if products_filter_options.smart_tv|length > 1  %}
    <div class="py-3 horizontal-filters">
        <h5 class="font-weight-bold">Smart TV</h5>
        {% for smart, value in products_filter_options.smart_tv.items %}
            <form>
                <div class="form-inline d-flex align-items-center py-1 justify-content-between">
                    <label class="tick">{{smart}}
                        {% comment %} <input type="checkbox">  {% endcomment %}
                        <span class="check" data-filter='smart_tv={{smart}}'>
                        <div class=""></div></span>
                    </label>
                    <span class="badge badge-primary badge-pill">{{value}}</span>
                </div>
            </form>
        {% endfor %}
    </div>
{% endif %}
