
{% extends 'base.html' %}

    <!-- SHowcase -->
{% block content %}

{% load static %}

    <section class="bg-grey align-center mt-5 pb-3">
        <div class="container grid-container showcase">
            {% include 'messages.html' %}

            <div class="cattegories bg-red">
                <h2>Cattegories</h2>
                <div class="alarm-box cattegories-box bg-white pt-2 pl-5">

                    <ul>
                        {% for cattegory in cattegories %}
                            {% comment %} {{cattegory}} {% endcomment %}
                            <li class='text-left mb-2'><a href="{% url 'products_cart' cattegory=cattegory %}">{{cattegory}}</a></li>
                        {% endfor %}
                    </ul>

                </div>
            </div>

            <!-- Carousel section -->

            <div id="carouselLandinpage" class="carousel slide carousel-fade" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carouselLandinpage" data-slide-to="0" class="active" ></li>
                  <li data-target="#carouselLandinpage" data-slide-to="1" ></li>
                  <li data-target="#carouselLandinpage" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner mr-2">

                    {% load landing_page %}
                    {% for num, article in articles|ennumerate_obj %}
                        <div class="carousel-item {% if num == 'First' %}active{% endif %}">
                            <a href="{% url 'articles' article.id %}"><img class="img-responsive d-block mh-100 mw-100 img-fluid" src="{{article.img.url}}" alt="{{num}} slide"></a>
                        </div>
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carouselLandinpage" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselLandinpage" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
            </div>

            <!-- Articles section-->
            <div class="blog-articles grid-container">
                {% for article in articles %}
                    <div class="box px-2 py-2">
                        <a href="{% url 'articles' article.id %}">
                            <img class=""  src="{{article.img.url}}" alt="">
                        <p class='py-2'>{{article.short_description|truncatechars:90}}</p>
                        </a>
                    </div>
                {% endfor %}
            </div>

        </div>
    </section>

    <!-- Recent watched -->

    <section class="align-center bg-grey pb-4">
        <div class="small-container">
            <div class="boxes-container flex-container flex-column">
                <h3>Recent Watched</h3>
                <div class="boxes-watched flex-container"></div>
            </div>
        </div>
    </section>

    <!-- Recomends section -->

    <section class="bg-grey">
        <div class="container grid-container offerts">
            <div class="the-best-of grid-container bg-white">

                {% for product in selected %}
                    <div class="offert label ">
                        <img src="{{ product.img.url }}" alt="">
                        <p>{{ product.name|truncatechars:40 }}</p>
                        {% if product.promotion %}
                            <div class="">
                                <p class="line-through d-inline old-price">{{ product.price }} $</p>
                                <p class='d-inline new-promotion-price font-red'>{{ product.promotion }} $</p>
                            </div>
                        {% else %}
                            <p>{{ product.price }} $</p>
                        {% endif %}
                    </div>
                {% endfor %}

            </div>

            <!-- Product of the day -->
            <div class="offert-of-the-day bg-white bg-red">
                <h4 class='font-black pt-4 pb-3'>
                    Product of the day
                </h4>
                <div class="alarm-box bg-white">
                    <div class="product-box">
                        <a href="{% url 'product_page' product_of_the_day.id %}">
                            <img class="main-pic" src="{{ product_of_the_day.img.url }}" alt="">
                        </a>
                        <div class="description">
                            <p class="font-black line-through">{{ product_of_the_day.price }}</p>
                            <p class="price font-red">{{ product_of_the_day.promotion }}</p>
                            <p class="font-black desc">
                                <a href="{% url 'product_page' product_of_the_day.id %}">
                                    {{ product_of_the_day.name|truncatechars:50 }}
                                </a> 
                            </p>
                        </div>
                    </div>
                    <div class="sold-left grid-container">
                        <p class="font-red">Sold {{ product_of_the_day|get_promotion_buy_num }} piece{{product_of_the_day|get_promotion_buy_num|pluralize}}</p>
                        <p class="font-black ">{{ product_of_the_day.pieces }} pieces left</p>
                        <div class="button add-to-cart update-cart" data-action="add" data-product="{{ product_of_the_day.id }}">
                            <i class="fas btn-light fa-shopping-cart fa-2x buy" ><span> Basket</span></i>
                        </div>
                    </div>

                    <div class="time-left flex-column flex-container">
                        <div class="hour" data-promoTime="{{ product_of_the_day.product_of_the_day_added|format_datetime }}">
                            <span class="time-hour"></span>
                            <span>:</span>
                            <span class="time-minutes"></span>
                            <span>:</span>
                            <span class="time-seconds"></span>
                        </div>
                        <div class="hour-text">
                            <p>HOURS </p> <p> MINUTES </p> <p> SECONDS</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <!-- Brand Zone -->

    <section class="bg-white my-2">
        <div class="container flex-container logos justify-content-between">

            <div class="logo">
                <div class="">
                    <img src="{% static 'images/Logos/intel.png'%} " alt="">
                </div>
                
            </div>

            <div class="logo">
                <div class="">
                    <img src="{% static 'images/Logos/samsung smart tv.png'%} " alt="">
                </div>
            </div>

            <div class="logo">
                <div class="">
                    <img src="{% static 'images/Logos/apple.png'%} " alt="">
                </div>
            </div>

            <div class="logo">
                <div class="">
                    <img src="{% static 'images/Logos/huawei.png'%} " alt="">
                </div>
            </div>

            <div class="logo">
                <div class="">
                    <img src="{% static 'images/Logos/dell.png'%} " alt="">
                </div>
            </div>

            <div class="logo">
                <div class="">
                    <img src="{% static 'images/Logos/lg.png'%} " alt="">
                </div>
            </div>

            <div class="logo">
                <div class="">
                    <img src="{% static 'images/Logos/Philips.png'%} " alt="">
                </div>
            </div>

            <div class="logo">
                <div class="">
                    <img src="{% static 'images/Logos/Lenovo.png'%} " alt="">
                </div>
            </div>

        </div>
    </section>

    <!-- Newsletter section -->

    <section class="notification">
        <div class="container grid-container notifications">
            <div class="newsletter bg-white grid-container">
                <div class="mobile-pic letter-pic">
                    <img src="{% static 'images/newsletter/at-1019990_1920.jpg'%}" alt="">
                </div>
                <div class="mobile-desc newsletter-desc">
                    <h3>Newsletter</h3>
                    <h4>Don't miss any promotion,
                        get additional discounts.</h4>

                    <div class="newsletter-form d-flex flex-column">
                        <form action="" class="flex-container">
                            <input type="text" placeholder="Your email">
                            <button type="submi">Sign up</button>
                        </form>
                    </div>
                </div>

            </div>
            <div class="mobile-aplication bg-white grid-container">
                <div class="mobile-desc">
                    <h3>Mobile Aplication</h3>
                    <h4>
                        Check our promotions avaiable in application on
                        Google Play and App Store
                    </h4>
                    <div class="mobile-icons flex-container">
                        <img src="{% static 'images/app_icons/Untitled.png'%} " alt="">
                        <img src="{% static 'images/app_icons/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg'%}" alt="">
                    </div>
                </div>
                <div class="mobile-pic">
                    <img src="{% static 'images/app_icons/adrien-Pvck4ScQH9E-unsplash.jpg'%} " alt="">
                </div>
            </div>
        </div>
    </section>

<script src="{% static 'js/recentWatches.js' %}" type="text/javascript"></script>
<script src="{% static 'js/landingPage/promotionTimer.js' %}" type="text/javascript"></script>
<script src="{% static 'js/landingPage/newsletter.js' %}" type="text/javascript"></script>


{% endblock %}
