#productsList .productList-flex {
  flex-direction: row;
  height: fit-content;
  height: 15rem;
  overflow: hidden; }

#productsList .product-bar {
  display: block;
  max-width: 100%;
  flex: 100%; }

#productsList .img-wrap, #productsList .product-description-list-page, #productsList .product-price-lsit-page {
  padding: 1rem;
  margin-left: 3rem;
  width: 10rem;
  height: 100%; }
  #productsList .img-wrap img, #productsList .product-description-list-page img, #productsList .product-price-lsit-page img {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    display: block;
    align-self: center; }

#productsList .product-description-list-page {
  width: 45rem;
  padding-top: 1rem; }
  #productsList .product-description-list-page a, #productsList .product-description-list-page p, #productsList .product-description-list-page i {
    font-size: 0.9rem; }

#productsList .not-data-block {
  padding-top: 2rem !important; }
  #productsList .not-data-block p {
    padding-left: 0 !important; }

#productsList .descriptionList {
  padding-top: 0; }
