<div class="pt-5  not-data-block mb-0">

    <p class="pl-5 text-left font-light-grey">
        Producent Code:
        <span class='product-spec-span'>{{ product.producent_code }}</span>
    </p>

    <p class="pl-5 text-left font-light-grey">
        Ean:
        <span class='product-spec-span'>{{ product.ean }}</span>
    </p>

    <p class="pl-5 text-left font-light-grey">
        Socket:
        <span class='product-spec-span'>{{ product.socket }}</span>
    </p>

    <p class="pl-5 text-left font-light-grey">
        Cores:
        <span class='product-spec-span'>{{ product.cores_num }}</span>
    </p>

    <p class="pl-5 text-left font-light-grey">
        Clock frequency:
        <span class='product-spec-span'>{{ product.clock_frequency }}</span>
    </p>

    <p class="pl-5 text-left font-light-grey">
        Cooler:
        <span class='product-spec-span'>{{ product.cooler }}</span>
    </p>

</div>