<div class="pt-5  not-data-block mb-0">

    <p class="pl-5 text-left font-light-grey">
        Producent Code:
        <span class='product-spec-span'>{{ product.producent_code }}</span>
    </p>

    <p class="pl-5 text-left font-light-grey">
        Ean:
        <span class='product-spec-span'>{{ product.ean }}</span>
    </p>

    <p class="pl-5 text-left font-light-grey">
        Card lenght:
        <span class='product-spec-span'>{{ product.phisic_lenght }}</span>
    </p>

    <p class="pl-5 text-left font-light-grey">
        Core clock:
        <span class='product-spec-span'>{{ product.core_clock }}</span>
    </p>

    <p class="pl-5 text-left font-light-grey">
        RAM:
        <span class='product-spec-span'>{{ product.ram }}</span>
    </p>

</div>
