<div class="pt-5  not-data-block mb-0">

    <p class="pl-5 text-left font-light-grey">
        Producent Code:
        <span class='product-spec-span'>{{ product.producent_code }}</span>
    </p>

    <p class="pl-5 text-left font-light-grey">
        Ean:
        <span class='product-spec-span'>{{ product.ean }}</span>
    </p>

    <p class="pl-5 text-left font-light-grey">
        Processor socket:
        <span class='product-spec-span'>{{ product.processor_socket }}</span>
    </p>

    <p class="pl-5 text-left font-light-grey">
        Ram slots:
        <span class='product-spec-span'>{{ product.ram_slots }}</span>
    </p>

    <p class="pl-5 text-left font-light-grey">
        WiFi:
        <span class='product-spec-span'>{{ product.wifi }}</span>
    </p>

    <p class="pl-5 text-left font-light-grey">
        Card standard:
        <span class='product-spec-span'>{{ product.card_standard }}</span>
    </p>

</div>