<div class="pt-5  not-data-block mb-0">

    <p class="pl-5 text-left font-light-grey">
        Producent Code:
        <span class='product-spec-span'>{{ product.producent_code }}</span>
    </p>

    <p class="pl-5 text-left font-light-grey">
        Ean:
        <span class='product-spec-span'>{{ product.ean }}</span>
    </p>

    <p class="pl-5 text-left font-light-grey">
        Capacity:
        <span class='product-spec-span'>{{ product.capacity }}</span>
    </p>

    <p class="pl-5 text-left font-light-grey">
        Connections:
        <span class='product-spec-span'>{{ product.connector }}</span>
    </p>

</div>