<div class="pt-5 not-data-block mb-0">

    <p class="text-left font-light-grey">
        Producent Code:
        <span class='product-spec-span'>{{ product.producent_code }}</span>
    </p>

    <p class="text-left font-light-grey">
        Ean:
        <span class='product-spec-span'>{{ product.ean }}</span>
    </p>

    <p class="text-left font-light-grey">
        Color:
        <span class='product-spec-span'>{{ product.color }}</span>
    </p>

    <p class="text-left font-light-grey">
        RAM:
        <span class='product-spec-span'>{{ product.ram }}</span>
    </p>

    <p class="text-left font-light-grey">
        Memory:
        <span class='product-spec-span'>{{ product.memory }}</span>
    </p>

    <p class="text-left font-light-grey">
        Battery [mAh]:
        <span class='product-spec-span'>{{ product.battery }}</span>
    </p>

</div>