<div class="pt-5  not-data-block mb-0">

    <p class="pl-5 text-left font-light-grey">
        Producent Code:
        <span class='product-spec-span'>{{ product.producent_code }}</span>
    </p>

    <p class="pl-5 text-left font-light-grey">
        Ean:
        <span class='product-spec-span'>{{ product.ean }}</span>
    </p>

    <p class="pl-5 text-left font-light-grey">
        Capacity:
        <span class='product-spec-span'>{{ product.capacity }}</span>
    </p>

    <p class="pl-5 text-left font-light-grey">
        Frequency:
        <span class='product-spec-span'>{{ product.frequency }}</span>
    </p>

    <p class="pl-5 text-left font-light-grey">
        Modules number:
        <span class='product-spec-span'>{{ product.modules_number }}</span>
    </p>

    <p class="pl-5 text-left font-light-grey">
        Delay:
        <span class='product-spec-span'>{{ product.delay }}</span>
    </p>

</div>