<div class="pt-5 not-data-block mb-0">

        <p class="pl-5 text-left font-light-grey">
            Producent Code:
            <span class='product-spec-span'>{{ product.producent_code }}</span>
        </p>

        <p class="pl-5 text-left font-light-grey">
            Ean:
            <span class='product-spec-span'>{{ product.ean }}</span>
        </p>

        <p class="pl-5 text-left font-light-grey">
            Color:
            <span class='product-spec-span'>{{ product.color }}</span>
        </p>

        <p class="pl-5 text-left font-light-grey">
            Diagonal:
            <span class='product-spec-span'>{{ product.diagonal }}</span>
        </p>

        <p class="pl-5 text-left font-light-grey">
            Matrix Type:
            <span class='product-spec-span'>{{ product.matrix_type }}</span>
        </p>

        <p class="pl-5 text-left font-light-grey">
            Hdr:
            <span class='product-spec-span'>{{ product.hdr }}</span>
        </p>

        <p class="pl-5 text-left font-light-grey">
            Refresh rate:
            <span class='product-spec-span'>{{ product.refresh_rate }}</span>
        </p>

    </div>