{% extends 'base.html' %}

{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/bootstrap_list.css' %}">

<div class="smaller-container bg-white mt-5 mb-5 box-shadow">
	<div class="wrapper small-container">

		<!-- Vertical filters -->

		<div class="content content-sidebar py-md-0 py-3">

			<!-- Products Section -->

			<section id="">

                <!-- body -->
                {% include 'partials/search_query_wishlist_body.html' %}

				<!-- wishlist paginator -->
				{% if  products.has_other_pages %}

					<div class="content_detail__pagination cdp" actpage="1">

						{% if products.has_previous %}
							<a class="cdp_i page-link toogle-view" href="{% url 'wishlist' %}?page={{products.previous_page_number}}">prev</a>
						{% endif %}

						{% if 1 not in custom_range %}

							<a href="{% url 'wishlist' %}?page=1" class="cdp_i page-item
								{% if page == products.number %}active btn-red
								{% endif %} toogle-view">1</a>
							<a class="cdp_i toogle-view">..</a>

						{% endif %}

						{% for page in custom_range %}
							{{page}}

							<a href="{% url 'wishlist' %}?page={{page}}"
							class="cdp_i page-item toogle-view {% if page == products.number %}active{% endif %}">{{page}}</a>

						{% endfor %}

						{% if products.number not in page_num_range %}
							<a class="cdp_i toogle-view">..</a>
							<a class="cdp_i toogle-view" href="{% url 'wishlist' %}?page={{last_page}}">{{last_page}}</a>
						{% endif %}


						{% if products.has_next %}

							<a href="{% url 'wishlist' %}?page={{products.next_page_number}}" class="cdp_i page-link toogle-view">next</a>

						{% endif %}

					</div>
				{% endif %}
			</section>
		</div>
	</div>
</div>

<script src="{% static 'js/product_search/changeUrlFunction.js' %}"></script>
<script src="{% static 'js/product_search/renderFilterProducts.js' %}"></script>
<script src="{% static 'js/product_search/paginator.js' %}"></script>
<script src="{% static 'js/product_search/horizontalFilters/HorizontalFilterBar.js' %}"></script>
<script src="{% static 'js/product_search/catchHeart.js' %}"></script>

{% endblock  %}