{% load custom_filters %}
{% load static %}
{% load humanize %}

<link rel="stylesheet" href="{% static 'css/bootstrap_list.css' %}">

<div class="container bg-white mt-5 mb-5 box-shadow">
	<div class="wrapper ">
		<div class="d-md-flex align-items-md-center">
			<div class="h3 cattegory_cat">{% if cattegory == 'all' %}All Products {% else %}{{cattegory}}{% endif %}</div>

			<div class="form-inline d-flex align-items-center ml-lg-5 mr-lg-2 radio bg-light border product-filter-parameters">
				<label class="options">Latest
					<input type="radio" name="radio" value='latest' {% if filter_option == 'latest' %}checked{% endif %}>
					<span class="checkmark"></span>
				</label>
				<label class="options">Most Popular
					<input type="radio" name="radio" value='popular' {% if filter_option == 'popular' %}checked{% endif %}>
					<span class="checkmark"></span>
				</label>
				<label class="options">Cheapest
					<input type="radio" name="radio" value='cheapest' {% if filter_option == 'cheapest' %}checked{% endif %}>
					<span class="checkmark"></span>
				</label>
				<label class="options">Trending
					<input type="radio" name="radio" value='trending' {% if filter_option == 'trending' %}checked{% endif %}>
					<span class="checkmark"></span>
				</label>
			</div>

			<div class="ml-auto d-flex align-items-center views">
				<span class="btn {% if request.get_full_path|find_grid %} font-red {% endif %} grid-view">
					<span class="fas fa-th px-md-2 px-1"></span>
					<span>Grid view</span>
				</span>
				<span class="btn list-view {% if not request.get_full_path|find_grid %} font-red {% endif %}">
					<span class="fas fa-list-ul"></span>
					<span class="px-md-2 px-1">List view</span>
				</span>
				<span class="green-label px-md-2 px-1">{{products_total}}</span>
				<span class="text-muted">Product{{products_total|pluralize}}</span>
			</div>
		</div>

		<div class="d-lg-flex align-items-lg-center pt-2">

			<div class="d-sm-flex align-items-sm-center pt-2 clear filters-active">
				<div class="text-muted filter-label mr-1">Applied Filters:</div>
				{% comment %} {% if filter_option %}
					<div class="green-label font-weight-bold p-0 px-1 mx-sm-1 mx-0 my-sm-0 my-2">{{filter_option|capfirst }} <span class=" px-1 close">&times;</span> </div>
				{% endif %} {% endcomment %}

				{% for filter in  request|get_aplied_filters %}

					<div class="green-label font-weight-bold p-0 px-1 mx-sm-1 mx-0 my-sm-0 my-2 filters-applied">{{filter|capfirst }} <span class=" px-1 close">&times;</span> </div>

				{% endfor %}

				{% if request|get_aplied_filters|length >= 2 %}
					<div class="green-label font-weight-bold p-0 px-1 mx-sm-1 mx-0 my-sm-0 my-2 all-filters">All filters <span class=" px-1 close">&times;</span> </div>
				{% endif %}

				{% comment %} <div class="green-label font-weight-bold p-0 px-1 mx-sm-1 mx-0">Selected Filtre <span class=" px-1 close">&times;</span> </div> {% endcomment %}
			</div>

		</div>


		<!-- Mobile view? -->

		<div class="filters"> <button class="btn btn-success" type="button" data-toggle="collapse" data-target="#mobile-filter" aria-expanded="true" aria-controls="mobile-filter">Filter<span class="px-1 fas fa-filter"></span></button> </div>
		<div id="mobile-filter">
			{% comment %} <div class="py-3">
				<h5 class="font-weight-bold">Categories</h5>
				<ul class="list-group">
					<li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center category"> vegetables <span class="badge badge-primary badge-pill">328</span> </li>
					<li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center category"> Fruits <span class="badge badge-primary badge-pill">112</span> </li>
					<li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center category"> Kitchen Accessories <span class="badge badge-primary badge-pill">32</span> </li>
					<li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center category"> Chefs Tips <span class="badge badge-primary badge-pill">48</span> </li>
				</ul>
			</div> {% endcomment %}
			<div class="py-3">
				<h5 class="font-weight-bold">Brands</h5>
				<form class="brand">
					<div class="form-inline d-flex align-items-center py-1"> <label class="tick">Royal Fields <input type="checkbox"> <span class="check"></span> </label> </div>
					<div class="form-inline d-flex align-items-center py-1"> <label class="tick">Crasmas Fields <input type="checkbox" checked> <span class="check"></span> </label> </div>
					<div class="form-inline d-flex align-items-center py-1"> <label class="tick">Vegetarisma Farm <input type="checkbox" checked> <span class="check"></span> </label> </div>
					<div class="form-inline d-flex align-items-center py-1"> <label class="tick">Farmar Field Eve <input type="checkbox"> <span class="check"></span> </label> </div>
					<div class="form-inline d-flex align-items-center py-1"> <label class="tick">True Farmar Steve <input type="checkbox"> <span class="check"></span> </label> </div>
				</form>
			</div>
			<div class="py-3">
				<h5 class="font-weight-bold">Rating</h5>
				<form class="rating">
					<div class="form-inline d-flex align-items-center py-2"> <label class="tick"><span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <input type="checkbox"> <span class="check"></span> </label> </div>
					<div class="form-inline d-flex align-items-center py-2"> <label class="tick"> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="far fa-star px-1 text-muted"></span> <input type="checkbox"> <span class="check"></span> </label> </div>
					<div class="form-inline d-flex align-items-center py-2"> <label class="tick"><span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="far fa-star px-1 text-muted"></span> <span class="far fa-star px-1 text-muted"></span> <input type="checkbox"> <span class="check"></span> </label> </div>
					<div class="form-inline d-flex align-items-center py-2"> <label class="tick"><span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="far fa-star px-1 text-muted"></span> <span class="far fa-star px-1 text-muted"></span> <span class="far fa-star px-1 text-muted"></span> <input type="checkbox"> <span class="check"></span> </label> </div>
					<div class="form-inline d-flex align-items-center py-2"> <label class="tick"> <span class="fas fa-star"></span> <span class="far fa-star px-1 text-muted"></span> <span class="far fa-star px-1 text-muted"></span> <span class="far fa-star px-1 text-muted"></span> <span class="far fa-star px-1 text-muted"></span> <input type="checkbox"> <span class="check"></span> </label> </div>
				</form>
			</div>
		</div>

		<!-- Vertical filters -->

		<div class="content content-sidebar py-md-0 py-3">
			<section id="sidebar">
				{% comment %} <div class="py-3">
					<h5 class="font-weight-bold">Categories</h5>
					<ul class="list-group">
						<li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center category"> vegetables <span class="badge badge-primary badge-pill">328</span> </li>
						<li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center category"> Fruits <span class="badge badge-primary badge-pill">112</span> </li>
						<li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center category"> Kitchen Accessories <span class="badge badge-primary badge-pill">32</span> </li>
						<li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center category"> Chefs Tips <span class="badge badge-primary badge-pill">48</span> </li>
					</ul>
				</div> {% endcomment %}
				<div class="">
                    {% if producents|length > 1 %}
                        <div class="pb-3">
                            <h5 class="font-weight-bold">Producents</h5>
                            {% for producent, number in producents.items %}
                                <form>
                                    <div class="form-inline d-flex align-items-center py-1 justify-content-between">
                                        <label class="tick producent-label">{{producent}}
                                            <input type="checkbox">
                                            <span class="check" data-filter="producent={{producent}}">
                                            <div class=""></div></span>
                                        </label>
                                        <span class="badge badge-primary badge-pill">{{number}}</span>
                                    </div>
                                </form>
                            {% endfor %}
                        </div>
                    {% endif %}

					{% if request.get_full_path|find_all %}
						{% include 'ProductApp/partials/filter_vertical_bar/all.html' %}
					{% elif cattegory == 'Phones' %}
						{% include 'ProductApp/partials/filter_vertical_bar/phones.html' %}
					{% elif cattegory == 'Laptops' %}
						{% include 'ProductApp/partials/filter_vertical_bar/Laptops.html' %}
					{% elif cattegory == 'PC' %}
						{% include 'ProductApp/partials/filter_vertical_bar/PC.html' %}
					{% elif cattegory == 'Monitors' %}
						{% include 'ProductApp/partials/filter_vertical_bar/Monitor.html' %}
					{% elif cattegory == 'Accesories for laptops' %}
						{% include 'ProductApp/partials/filter_vertical_bar/Accesories for laptops.html' %}
					{% elif cattegory == 'SSD' %}
						{% include 'ProductApp/partials/filter_vertical_bar/SSD.html' %}
					{% elif cattegory == 'Graphs' %}
						{% include 'ProductApp/partials/filter_vertical_bar/Graphs.html' %}
					{% elif cattegory == 'Ram' %}
						{% include 'ProductApp/partials/filter_vertical_bar/Ram.html' %}
					{% elif cattegory == 'Pendrives' %}
						{% include 'ProductApp/partials/filter_vertical_bar/Pendrives.html' %}
					{% elif cattegory == 'Routers' %}
						{% include 'ProductApp/partials/filter_vertical_bar/Routers.html' %}
					{% elif cattegory == 'Switches' %}
						{% include 'ProductApp/partials/filter_vertical_bar/Switches.html' %}
					{% elif cattegory == 'Motherboard' %}
						{% include 'ProductApp/partials/filter_vertical_bar/Motherboard.html' %}
					{% elif cattegory == 'CPU' %}
						{% include 'ProductApp/partials/filter_vertical_bar/CPU.html' %}
					{% elif cattegory == 'TV' %}
						{% include 'ProductApp/partials/filter_vertical_bar/TV.html' %}
					{% elif cattegory == 'Headphones' %}
						{% include 'ProductApp/partials/filter_vertical_bar/Headphones.html' %}
					{% endif %}

					<!-- Stars rating -->

					<div class="py-3">
						<h5 class="font-weight-bold">Rating</h5>
						<form class="rating rating-stars">

							<div class="form-inline d-flex align-items-center py-2">
								<label class="tick">
									<span class="fas fa-star"></span>
									<span class="fas fa-star"></span>
									<span class="fas fa-star"></span>
									<span class="fas fa-star"></span>
									<span class="fas fa-star"></span>
									<input type="checkbox">
									<span class="check"  data-filter='stars=5'>
									<div class=""></div></span>
								</label>
							</div>

							<div class="form-inline d-flex align-items-center py-2">
								<label class="tick">
									<span class="fas fa-star"></span>
									<span class="fas fa-star"></span>
									<span class="fas fa-star"></span>
									<span class="fas fa-star"></span>
									<span class="far fa-star px-1 text-muted"></span>
									<input type="checkbox" >
									<span class="check" data-filter='stars=4'>
									<div class=""></div></span>
								</label>
							</div>

							<div class="form-inline d-flex align-items-center py-2">
								<label class="tick">
									<span class="fas fa-star"></span>
									<span class="fas fa-star"></span>
									<span class="fas fa-star"></span>
									<span class="far fa-star px-1 text-muted"></span>
									<span class="far fa-star px-1 text-muted"></span>
									<input type="checkbox" >
									<span class="check" data-filter='stars=3'>
									<div class=""></div></span>
								</label>
							</div>

							<div class="form-inline d-flex align-items-center py-2">
								<label class="tick">
									<span class="fas fa-star"></span>
									<span class="fas fa-star"></span>
									<span class="far fa-star px-1 text-muted"></span>
									<span class="far fa-star px-1 text-muted"></span>
									<span class="far fa-star px-1 text-muted"></span>
									<input type="checkbox" >
									<span class="check" data-filter='stars=2'>
									<div class=""></div></span>
								</label>
							</div>

							<div class="form-inline d-flex align-items-center py-2">
								<label class="tick">
									<span class="fas fa-star"></span>
									<span class="far fa-star px-1 text-muted"></span>
									<span class="far fa-star px-1 text-muted"></span>
									<span class="far fa-star px-1 text-muted"></span>
									<span class="far fa-star px-1 text-muted"></span>
									<input type="checkbox" >
									<span class="check" data-filter='stars=1'>
									<div class=""></div></span>
								</label>
							</div>

						</form>
					</div>
					<div class="observe-div">
						<button class='btn-red w-100 p-1 no-border filter-btn mb-3'>Filter</button>
					</div>
				</div>
			</section>

			<!-- Products Section -->

			<section id="products">
				<div class="container py-3">
					<div class="row">
						{% if products|length == 0 %}
							<div class="w-100 d-flex justify-content-center">
								<div class="page-not-found">
									<img src="{% static 'images/no-results-found.png' %}" alt="">
								</div>
							</div>
						{% else %}
							{% for product in products %}
								<div class="col-lg-4 col-md-6 col-sm-10 offset-md-0 offset-sm-1 mb-4 product-rows">
									<div class="card">
										<img class="card-img-top main-pic" src="{{product.main_photo.url}}">

										<div class="card-body">

											<div class="card-body-description">
												{% comment %} <h6 class="font-weight-bold pt-1">{{product.name|truncatechars:30}}</h6> {% endcomment %}

												<h6 class="font-weight-bold pt-1 product-description {% if not request.get_full_path|find_grid %} display-none {% endif %}">
												<a href="{% url 'product_page' product.cattegory product|get_main_product_id %}">{{product.name}}</a>
												</h6>

												<div class="product-description {% if not request.get_full_path|find_grid %} display-none {% endif %}">


													{% if product.cattegory == 'Phones' %}
														{% include 'ProductApp/partials/spec_description/phones.html' %}
													{% elif product.cattegory == 'Laptops' %}
														{% include 'ProductApp/partials/spec_description/Laptops.html' %}
													{% elif product.cattegory == 'PC' %}
														{% include 'ProductApp/partials/spec_description/PC.html' %}
													{% elif product.cattegory == 'Monitors' %}
														{% include 'ProductApp/partials/spec_description/Monitor.html' %}
													{% elif product.cattegory == 'Accesories for laptops' %}
														{% include 'ProductApp/partials/spec_description/Accesories for laptops.html' %}
													{% elif product.cattegory == 'SSD' %}
														{% include 'ProductApp/partials/spec_description/SSD.html' %}
													{% elif product.cattegory == 'Graphs' %}
														{% include 'ProductApp/partials/spec_description/Graphs.html' %}
													{% elif product.cattegory == 'Ram' %}
														{% include 'ProductApp/partials/spec_description/Ram.html' %}
													{% elif product.cattegory == 'Pendrives' %}
														{% include 'ProductApp/partials/spec_description/Pendrives.html' %}
													{% elif product.cattegory == 'Routers' %}
														{% include 'ProductApp/partials/spec_description/Routers.html' %}
													{% elif product.cattegory == 'Switches' %}
														{% include 'ProductApp/partials/spec_description/Switches.html' %}
													{% elif product.cattegory == 'Motherboard' %}
														{% include 'ProductApp/partials/spec_description/Motherboard.html' %}
													{% elif product.cattegory == 'CPU' %}
														{% include 'ProductApp/partials/spec_description/CPU.html' %}
													{% elif product.cattegory == 'TV' %}
														{% include 'ProductApp/partials/spec_description/TV.html' %}
													{% elif product.cattegory == 'Headphones' %}
														{% include 'ProductApp/partials/spec_description/Headphones.html' %}
													{% endif %}

												</div>

												<h6 class="font-weight-bold pt-1 description-grid"><a href="{% url 'product_page' product.cattegory product|get_main_product_id %}">{{product.name|truncatechars:30}}</a></h6>
												<div class="text-muted description description-grid">Space for small product description</div>

												<div class="d-flex mt-3">

													<div class="d-flex align-items-center product">
														{% for element in product.get_star_avg.1 %}
															{% if element %}

																<i class="fas fa-star font-red "></i>

																{% else %}

																<i class="far fa-star font-red "></i>

															{% endif %}
														{% endfor %}
														<a href="{% url 'product_page' product.cattegory product|get_main_product_id %}#opinions"
															class='font-red pl-1 m-auto'>({% if not product.get_num_of_reviews %}0{% else %}{{product.get_num_of_reviews}}{% endif %})
														</a>
													</div>

													{% if product.get_num_of_questions and not request.get_full_path|find_grid %}
														<div class="pl-3">
															<a href="{% url 'product_page' product.cattegory product|get_main_product_id %}#ask-something" class='m-auto w-100 font-brown'>{{ product.get_num_of_questions }} Questions</a>
														</div>
													{% endif %}

													{% if  product.bought_num and not request.get_full_path|find_grid%}
														<div class="pl-3">
															<p class='m-auto w-100 font-brown'>Bought by {{ product.bought_num }} people </p>
														</div>
													{% endif %}

												</div>

											</div>

											<div class="d-flex align-items-center justify-content-between pb-3 buy-list-view">

												<div class="position-relative w-100">
													<i class="lni-heart-absolute lni lni-heart font-light-grey hearts
													{% if product|check_like:request %}
													d-none
													{% endif %}" data-heart={{product|get_main_product_id}}></i>

													<i class="fas fa-heart font-red fa-2x hearts
													{% if not product|check_like:request %}
													d-none
													{% endif %}" data-heart={{product|get_main_product_id}}></i>
												</div>

												<div class="d-flex flex-column pt-3 pb-1">
													{% if product.promotion %}

														<div class="h6 font-weight-bold">{{product.promotion}} EUR</div>
														<div class="text-muted rebate">{{product.price|intcomma}}</div>
													{% else %}
														<div class="h6 font-weight-bold">{{product.price|intcomma}} EUR</div>
													{% endif %}
												</div>

												<div class="d-flex basket">
													<div class="btn-light ml-2 p-2 pt-2 text-center product-not-avaiable {% if request|update_pieces:product <= 0%} d-block {% else %}d-none {% endif %}">Product is not avaiable</div>
													<div class="btn-red-list update-cart add-to-cart {% if request|update_pieces:product <= 0%} d-none {% else %} d-block {% endif %}" data-product="{{ product|get_main_product_id }}" data-action="add" style="cursor: pointer">Add to cart</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							{% endfor %}
						{% endif %}
					</div>
				</div>

				<!-- Paginator -->
				{% if  products.has_other_pages %}

					<div class="content_detail__pagination cdp" actpage="1">

						{% if products.has_previous %}
							<a class="cdp_i page-link toogle-view" href="{% url 'products_cart' cattegory %}?page={{products.previous_page_number}}{% if filter_option %}&filter={{filter_option}}{% endif %}">prev</a>
						{% endif %}

						{% if 1 not in custom_range %}

							<a href="{% url 'products_cart' cattegory %}?page=1
								{% if filter_option %}&filter={{filter_option}}{% endif %}" class="cdp_i page-item
								{% if page == products.number %}active btn-red
								{% endif %} toogle-view">1</a>
							<a class="cdp_i toogle-view">..</a>

						{% endif %}

						{% for page in custom_range %}
							{{page}}

							<a href="{% url 'products_cart' cattegory %}?page={{page}}{% if filter_option %}&filter={{filter_option}}{% endif %}"
							class="cdp_i page-item toogle-view {% if page == products.number %}active{% endif %}">{{page}}</a>

						{% endfor %}

						{% if products.number not in page_num_range %}
							<a class="cdp_i toogle-view">..</a>
							<a class="cdp_i toogle-view" href="{% url 'products_cart' cattegory %}?page={{last_page}}
							{% if filter_option %}&filter={{filter_option}}
							{% endif %}">{{last_page}}</a>
						{% endif %}


						{% if products.has_next %}

							<a href="{% url 'products_cart' cattegory %}?page={{products.next_page_number}}{% if filter_option %}&filter={{filter_option}}{% endif %}" class="cdp_i page-link toogle-view">next</a>

						{% endif %}

					</div>
				{% endif %}
			</section>
		</div>
	</div>
</div>

<script src="{% static 'js/product_search/changeUrlFunction.js' %}"></script>
<script src="{% static 'js/product_search/toogleView2.js' %}"></script>
<script src="{% static 'js/product_search/renderFilterProducts.js' %}"></script>
<script src="{% static 'js/product_search/paginator.js' %}"></script>
<script src="{% static 'js/product_search/horizontalFilters/HorizontalFilterBar.js' %}"></script>
<script src="{% static 'js/product_search/removeAppliedFilters.js' %}"></script>
<script src="{% static 'js/product_search/acceptFilters.js' %}"></script>
<script src="{% static 'js/product_search/catchHeart.js' %}"></script>