<!-- Description -->
{% load static %}

            <section id="description">

                <div class="mb-4 ">
                    <div class="small-container ml-0 bg-white box-shadow">

                        <h3 class="pt-5">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        </h3>

                        <p class="px-5 pt-3 pb-5 text-justify">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni maxime corporis placeat voluptate veniam possimus doloremque minus nihil ducimus animi laudantium ipsam corrupti, ea hic eaque quasi minima, molestias natus.
                            Veritatis voluptatem, voluptas perferendis aspernatur eius vitae, eum maxime sequi vel doloremque atque? Molestias ea ullam quam eius rem eveniet facilis ad tenetur quisquam illum, officiis accusamus iste fugiat esse.
                            Repellat similique cum ea fugit mollitia dolores explicabo error, natus voluptas maiores, ipsam quos. Molestiae illum in tempore aliquid quia pariatur consequuntur quae, placeat illo! Excepturi ea maiores quae illum?
                            Provident aut quas a? Dicta rem pariatur perferendis totam magnam inventore doloremque, aperiam dolorum porro asperiores ab corporis enim sapiente. Ullam accusamus expedita possimus facere odit nulla, earum quidem minus!
                            Nesciunt veritatis odio odit, nisi distinctio, quod non libero obcaecati ducimus numquam in, similique sapiente hic corrupti unde voluptatem? Quisquam illum doloribus voluptate hic doloremque, dignissimos iste quod itaque iure!
                            Modi itaque quia eveniet atque, est rem aliquid reprehenderit animi alias nam repellendus labore omnis impedit autem, asperiores cumque a hic mollitia accusantium iusto aliquam numquam odio ipsa officia? Veniam.
                            Vero nam a saepe, sint sit at veritatis illo, tenetur exercitationem, provident asperiores consequatur optio repudiandae voluptatibus magni delectus minus quo aut tempora! Similique impedit explicabo perspiciatis ipsam hic sequi.
                            Reiciendis placeat nulla iure. Eveniet neque voluptatibus nesciunt iusto harum perspiciatis, iure consequatur voluptatum voluptatem quis eaque quo magnam dicta laboriosam obcaecati, quas veniam dignissimos vel dolorem doloribus ullam? Amet.

                        </p>

                        <h3 class="pt-5">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        </h3>

                        <p class="px-5 pt-3 pb-5 text-justify">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores fugiat repellendus fugit consequuntur odit aperiam! Enim omnis earum quo illum voluptatibus voluptate, nemo harum mollitia consequuntur qui ab, nihil quam!
                            Possimus, consequuntur nobis? Animi, modi aliquid cumque quod unde dolorum rerum incidunt, quisquam dolor dolorem, ut iste doloremque quae! Temporibus numquam, corporis officiis deleniti magni praesentium officia iste voluptate odio?
                            Sint ipsam dolore, incidunt doloribus corporis porro natus. Quos sed molestias consectetur doloremque aliquam modi quo cum exercitationem aspernatur quae a optio, ut perspiciatis dignissimos facere, asperiores rerum fuga eos.
                            Commodi quibusdam perspiciatis cum quidem possimus nisi expedita quis? Officiis dolor quae eveniet minus commodi consectetur tempore esse alias quidem vero! Quaerat at ea ab ducimus. Ut possimus vitae eaque.
                            Explicabo accusamus reiciendis in voluptate facilis magni quidem quam, possimus sequi, dolor sed beatae cumque dolorem ab quis, praesentium cupiditate asperiores vero porro voluptas similique facere architecto recusandae? Totam, consequuntur.
                            Quibusdam, beatae officia rem, fuga qui inventore perferendis accusantium magni repellat ea exercitationem voluptatem porro id. Laboriosam repudiandae libero numquam tempore nemo excepturi, recusandae nesciunt, aliquid facere, deserunt impedit. Vitae.
                            Eius eveniet consequuntur officia adipisci suscipit totam, repellendus esse corrupti animi sapiente nobis officiis consequatur cumque, quo nulla possimus impedit corporis veniam nostrum dolorem, amet quia! Magni, dignissimos ipsam. Asperiores.
                            Repellat quam minus ea id praesentium at ut mollitia consectetur sapiente repudiandae voluptas itaque fuga maxime vel, est quae tenetur cum non cumque velit atque deleniti? Accusantium nisi cupiditate quisquam.
                            </p>
                        <div class='d-flex'>

                            <div class='w-50 d-fex m-auto'>
                                <div class="description-photo align-self-center">
                                    <img class="" src="{% static 'images\products\description\graphs\1.jpg' %}" alt="">
                                </div>
                            </div>

                            <div class='w-50'>
                                <h3 class="pt-5">
                                    Lorem ipsum dolor, sit amet consectetur.
                                </h3>
                                <p class="px-5 pt-3 pb-5 text-justify">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam ea rerum praesentium molestias quae dolores laudantium corrupti excepturi, possimus alias cumque officia temporibus repellat! Dicta molestias voluptate optio tempore facere.
                                    Dignissimos eum temporibus culpa ut doloribus voluptate vel illo, officia odit voluptatibus magni nam blanditiis sit adipisci illum quibusdam quaerat rem, placeat porro sed quisquam sapiente accusamus! Tenetur, animi repellendus!
                                    Reprehenderit, illo. Adipisci et similique repudiandae, autem omnis non atque facere, doloribus quae alias ut. Quos, ad dolorum quam accusantium minima totam voluptate aliquid in cupiditate sed! Ipsum, dignissimos architecto?
                                    Quidem, recusandae aut in sapiente nam sequi magnam quisquam inventore iure sint nemo voluptatibus delectus sed consectetur, quis nisi est deleniti omnis distinctio eaque dolor suscipit veritatis libero. Dolores, iste!
                                    Nemo totam fugit rem dolorem, facilis non corrupti ut iusto obcaecati accusantium saepe ea a iste vero voluptates sint est tenetur fugiat, qui quos asperiores consequatur aliquam. Voluptatem, odio ad!
                                    Magni dolore laudantium id delectus a ab dolorum facere aliquam inventore ipsum consectetur dicta cupiditate, at accusamus blanditiis quidem deleniti, iste labore odio nesciunt animi? Est tempore tenetur quisquam sequi.
                                    Odit illum fugiat possimus voluptatum eum. Reiciendis vitae, culpa sapiente nulla magnam aperiam laudantium excepturi esse. Iusto quis minima nesciunt sapiente voluptatibus, eum exercitationem atque quod corrupti maiores repellat accusantium?
                                </p>
                            </div>

                        </div>

                        <div class='d-flex'>

                            <div class='w-50'>
                                <h3 class="pt-5">
                                    Lorem ipsum dolor, sit amet consectetur.
                                </h3>
                                <p class="px-5 pt-3 pb-5 text-justify">
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum, deleniti fuga aperiam optio saepe dignissimos incidunt iste facere ex, voluptas magnam perspiciatis? Porro ipsa eaque magni quisquam. Eum, laborum deserunt!
                                    Ducimus facere reiciendis commodi. Maiores rerum facere odio quae dignissimos, dicta odit hic nostrum exercitationem eum eos perspiciatis quibusdam quaerat aut aperiam tempore ab quo neque minima inventore. Corporis, ducimus.
                                    Cupiditate, aperiam! Beatae quas optio repellat facilis temporibus necessitatibus dolorum sint, nam placeat, ea impedit eos totam deleniti magni dolorem quaerat nostrum consectetur sequi officiis quis quae earum ab doloremque?
                                    Fuga recusandae nemo ullam dignissimos. Enim vitae, ad odit alias libero porro quibusdam aut. Illum, quis odio quia asperiores distinctio accusamus facilis quos impedit laborum et? Minus veritatis dolorem cum?
                                    Voluptatibus fugiat perspiciatis repellat consequatur fuga consectetur quibusdam accusamus autem doloremque vel placeat optio nisi mollitia sunt, eveniet, odit ipsa, error dolorem molestiae animi ipsum sequi. Nam pariatur repellat ex.
                                    Dolorem deleniti repellat, quam consectetur autem dicta omnis sint tenetur, quibusdam maxime cupiditate iure quia est reprehenderit debitis? Voluptate maiores dolores assumenda amet sed autem fugit porro veritatis molestiae cupiditate?
                                    Quae sapiente tenetur magnam et qui harum eveniet libero quidem quis, accusamus perferendis, officiis porro fugiat laborum in quam ratione quas placeat ducimus ad iusto cumque. Veniam animi eum ab.
                                    </p>
                            </div>

                            <div class='w-50 d-fex m-auto'>
                                <div class='description-photo align-self-center'>
                                     <img class="" src="{% static 'images\products\description\graphs\2.jfif' %}" alt="">
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

            </section>