<tbody>
    <tr>
        <th scope="row w-100">
            <h6 class="h3-2 col-12 pt-2 pb-2"> <span class="pb-2 underline upper">Specification</span> </h6>
        </th>
    </tr>
    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center">
                <p class="pr-4 mb-0 text-right col-6">Producent: </p>
                <p class="mb-0 text-left col-6">{{ product.graph_product_data.producent }}</p>
            </div>
        </th>
    </tr>
    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center ">
                <p class="pr-4 mb-0 w-50 text-right col-6">Producer code: </p>
                <p class="mb-0 w-50 text-left col-6">{{ product.graph_product_data.producent_code }}</p>
            </div>
    </th>
    </tr>
    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 ">
                <p class="pr-4 mb-0 w-50 text-right col-6">EAN: </p>
                <p class="mb-0  w-50 text-left col-6">{{ product.graph_product_data.ean }}</p>
            </div>
    </th>
    </tr>
    <tr>
        <th scope="row w-100">
            <h6 class="mx-5 mb-0 pt-2 pb-3"><span class="pb-2 underline upper"> Basic Informations</span></h6>
        </th>
    </tr>
    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 ">
                <p class="pr-4 mb-0 w-50 text-right col-6">Type: </p>
                <p class="mb-0 w-50 text-left col-6">{{ product.graph_product_data.cattegory }}</p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2 ">
                <p class="pr-4 mb-0 w-50 text-right col-6 col-6">Chipset: </p>
                <p class="mb-0 w-50 text-left col-6 col-6"> {{ product.graph_product_data.chipset }} </p>
            </div>
        </th>
    </tr>
    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2 ">
                <p class="pr-4 mb-0 w-50 text-right col-6 col-6">Chipset producent: </p>
                <p class="mb-0 w-50 text-left col-6 col-6"> {{ product.graph_product_data.chipset_producent }}</p>
            </div>
        </th>
    </tr>
    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2 ">
                <p class="pr-4 mb-0 w-50 text-right col-6 col-6">Lenght: </p>
                <p class="mb-0 w-50 text-left col-6 col-6"> {{ product.graph_product_data.phisic_lenght }} </p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2 ">
                <p class="pr-4 mb-0 w-50 text-right col-6 col-6">ram: </p>
                <p class="mb-0 w-50 text-left col-6 col-6">{{ product.graph_product_data.ram }}</p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2 ">
                <p class="pr-4 mb-0 w-50 text-right col-6 col-6">Ram type: </p>
                <p class="mb-0 w-50 text-left col-6 col-6">{{ product.graph_product_data.ram_type }}</p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2 ">
                <p class="pr-4 mb-0 w-50 text-right col-6 col-6">Core clock: </p>
                <p class="mb-0 w-50 text-left col-6 col-6">{{ product.graph_product_data.core_clock }}</p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2 ">
                <p class="pr-4 mb-0 w-50 text-right col-6 col-6">Connector type: </p>
                <p class="mb-0 w-50 text-left col-6 col-6">{{ product.graph_product_data.connector_type }}</p>
            </div>
        </th>
    </tr>


</tbody>