<tbody>

    <tr>
        <th scope="row w-100">
            <h6 class="h3-2 col-12 pt-2 pb-2"> <span class="pb-2 underline upper">Specification</span> </h6>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center">
                <p class="pr-4 mb-0 text-right col-6">Producent: </p>
                <p class="mb-0 text-left col-6">{{ product.pc_product_data.producent }}</p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center ">
                <p class="pr-4 mb-0 w-50 text-right col-6">Producent code: </p>
                <p class="mb-0 w-50 text-left col-6">{{ product.pc_product_data.producent_code }}</p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 ">
                <p class="pr-4 mb-0 w-50 text-right col-6">EAN: </p>
                <p class="mb-0  w-50 text-left col-6">{{ product.pc_product_data.ean }}</p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <h6 class="mx-5 mb-0 pt-2 pb-3"><span class="pb-2 underline upper"> Basic Informations</span></h6>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 ">
                <p class="pr-4 mb-0 w-50 text-right col-6">Resolution: </p>
                <p class="mb-0 w-50 text-left col-6">{{ product.pc_product_data.resolution }}</p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2 ">
                <p class="pr-4 mb-0 w-50 text-right col-6 col-6">System: </p>
                <p class="mb-0 w-50 text-left col-6 col-6"> {{ product.pc_product_data.system }} </p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2 ">
                <p class="pr-4 mb-0 w-50 text-right col-6 col-6">Graph: </p>
                <p class="mb-0 w-50 text-left col-6 col-6"> {{ product.pc_product_data.graph }}</p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2 ">
                <p class="pr-4 mb-0 w-50 text-right col-6 col-6"> Disc: </p>
                <p class="mb-0 w-50 text-left col-6 col-6"> {{ product.pc_product_data.disc }} </p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2 ">
                <p class="pr-4 mb-0 w-50 text-right col-6 col-6">Ram: </p>
                <p class="mb-0 w-50 text-left col-6 col-6"> {{ product.pc_product_data.ram }} </p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2 ">
                <p class="pr-4 mb-0 w-50 text-right col-6 col-6">Ram model: </p>
                <p class="mb-0 w-50 text-left col-6 col-6"> {{ product.pc_product_data.ram_model  }} </p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2 ">
                <p class="pr-4 mb-0 w-50 text-right col-6 col-6">PcIE: </p>
                <p class="mb-0 w-50 text-left col-6 col-6"> {{ product.pc_product_data.p_c_i_e  }} </p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2 ">
                <p class="pr-4 mb-0 w-50 text-right col-6 col-6">WiFi: </p>
                <p class="mb-0 w-50 text-left col-6 col-6"> {{ product.pc_product_data.wifi  }} </p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2 ">
                <p class="pr-4 mb-0 w-50 text-right col-6 col-6">Bluetooth: </p>
                <p class="mb-0 w-50 text-left col-6 col-6"> {{ product.pc_product_data.bluetooth  }} </p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <h6 class="mx-5 mb-0 pt-2 pb-3"><span class="pb-2 underline upper"> General </span></h6>
        </th>
    </tr>


    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2 ">
                <p class="pr-4 mb-0 w-50 text-right col-6 col-6">Weight: </p>
                <p class="mb-0 w-50 text-left col-6 col-6"> {{ product.pc_product_data.weight }} </p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2 ">
                <p class="pr-4 mb-0 w-50 text-right col-6 col-6">High: </p>
                <p class="mb-0 w-50 text-left col-6 col-6"> {{ product.pc_product_data.high }} </p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2 ">
                <p class="pr-4 mb-0 w-50 text-right col-6 col-6">Deep: </p>
                <p class="mb-0 w-50 text-left col-6 col-6"> {{ product.pc_product_data.deep }} </p>
            </div>
        </th>
    </tr>

</tbody>