<tbody class='product-spec'>
    <tr>
        <th scope="row w-100">
            <h6 class="h3-2 col-12 pt-2 pb-2"> <span class="pb-2 underline upper">Specification</span> </h6>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center">
                <p class="pr-4 mb-0 text-right col-6">Producent: </p>
                <p class="mb-0 text-left col-6">{{ product.phones_product_data.producent }}</p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center ">
                <p class="pr-4 mb-0 w-50 text-right col-6">Producer code: </p>
                <p class="mb-0 w-50 text-left col-6">{{ product.phones_product_data.producent_code }}</p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 ">
                <p class="pr-4 mb-0 w-50 text-right col-6">EAN: </p>
                <p class="mb-0  w-50 text-left col-6">{{ product.phones_product_data.ean }}</p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <h6 class="mx-5 mb-0 pt-2 pb-3"><span class="pb-2 underline upper"> Basic Informations</span></h6>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 ">
                <p class="pr-4 mb-0 w-50 text-right col-6">Type: </p>
                <p class="mb-0 w-50 text-left col-6">{{ product.phones_product_data.cattegory }}</p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5">
                <p class="pr-4 mb-0 w-50 text-right col-6">Color: </p>
                <p class="mb-0  w-50 text-left col-6">{{ product.phones_product_data.color }}</p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <h6 class="mx-5 mb-0 pt-2 pb-3"><span class="pb-2 underline upper">Screen</span></h6>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5">
                <p class="pr-4 mb-0 w-50 text-right col-6">Screen resolution: </p>
                <p class="mb-0  w-50 text-left col-6">{{ product.phones_product_data.screen }}</p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5">
                <p class="pr-4 mb-0 w-50 text-right col-6">Screen diagonal: </p>
                <p class="mb-0  w-50 text-left col-6">{{ product.phones_product_data.screen_diagonal }}
                </p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <h6 class="mx-5 mb-0 pt-2 pb-3"><span class="pb-2 underline upper">Memory</span></h6>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 ">
                <p class="pr-4 mb-0 w-50 text-right col-6t col-6">RAM inside [GB]: </p>
                <p class="mb-0 w-50 text-left col-6 col-6">{{ product.phones_product_data.ram }}</p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 ">
                <p class="pr-4 mb-0 w-50 text-right col-6"> Card inside [GB]: </p>
                <p class="mb-0  w-50 text-left col-6">{{ product.phones_product_data.memory_card }}</p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 ">
                <p class="pr-4 mb-0 w-50 text-right col-6">Maximum card [GB]: </p>
                <p class="mb-0  w-50 text-left col-6">{{ product.phones_product_data.max_memory_card }}</p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <h6 class="mx-5 p-2 mb-0 pt-2 pb-3"><span class="pb-2 underline upper">Other</span></h6>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2 ">
                <p class="pr-4 mb-0 w-50 text-right col-6 col-6">Distribution </p>
                <p class="mb-0 w-50 text-left col-6 col-6">{{ product.phones_product_data.distribution }}</p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2 ">
                <p class="pr-4 mb-0 w-50 text-right col-6 col-6">Cpu clock </p>
                <p class="mb-0 w-50 text-left col-6 col-6">{{ product.phones_product_data.cpu_clock }}</p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2 ">
                <p class="pr-4 mb-0 w-50 text-right col-6 col-6">System </p>
                <p class="mb-0 w-50 text-left col-6 col-6">{{ product.phones_product_data.system }}</p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2 ">
                <p class="pr-4 mb-0 w-50 text-right col-6 col-6">Waterproof </p>
                <p class="mb-0 w-50 text-left col-6 col-6">{% if product.phones_product_data.waterproof %}Yes {% else %}N/a{% endif %}</p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2 ">
                <p class="pr-4 mb-0 w-50 text-right col-6 col-6">Usb </p>
                <p class="mb-0 w-50 text-left col-6 col-6">{{ product.phones_product_data.usb }}</p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2 ">
                <p class="pr-4 mb-0 w-50 text-right col-6 col-6">Battery [mAh]</p>
                <p class="mb-0 w-50 text-left col-6 col-6">{{ product.phones_product_data.battery }}</p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2 ">
                <p class="pr-4 mb-0 w-50 text-right col-6">High [cm]: </p>
                <p class="mb-0 w-50 text-left col-6">
                {% if product.phones_product_data.change_high %}
                {{ product.phones_product_data.change_high }}
                {% else %}
                N/a
                {% endif %}
                </p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2 ">
                <p class="pr-4 mb-0 w-50 text-right col-6">Width [cm]: </p>
                <p class="mb-0 w-50 text-left col-6">
                {% if product.phones_product_data.change_width %}
                {{ product.phones_product_data.change_width }}
                {% else %}
                N/a
                {% endif %}
                </p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2 ">
                <p class="pr-4 mb-0 w-50 text-right col-6">Depth [cm]: </p>
                <p class="mb-0 w-50 text-left col-6">
                {% if product.phones_product_data.change_deep %}
                {{ product.phones_product_data.change_deep }}
                {% else %}
                N/a
                {% endif %}
                </p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2">
                <p class="pr-4 mb-0 w-50 text-right col-6">Weight [g]: </p>
                <p class="mb-0 w-50 text-left col-6">
                {% if product.phones_product_data.change_weight %}
                {{ product.phones_product_data.change_weight }}
                {% else %}
                N/a
                {% endif %}
                </p>
            </div>
        </th>
    </tr>

</tbody>