<tbody>
    <tr>
        <th scope="row w-100">
            <h6 class="h3-2 col-12 pt-2 pb-2"> <span class="pb-2 underline upper">Specification</span> </h6>
        </th>
    </tr>
    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center">
                <p class="pr-4 mb-0 text-right col-6">Producent: </p>
                <p class="mb-0 text-left col-6">{{ product.router_product_data.producent }}</p>
            </div>
        </th>
    </tr>
    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center ">
                <p class="pr-4 mb-0 w-50 text-right col-6">Producer code: </p>
                <p class="mb-0 w-50 text-left col-6">{{ product.router_product_data.producent_code }}</p>
            </div>
    </th>
    </tr>
    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 ">
                <p class="pr-4 mb-0 w-50 text-right col-6">EAN: </p>
                <p class="mb-0  w-50 text-left col-6">{{ product.router_product_data.ean }}</p>
            </div>
    </th>
    </tr>
    <tr>
        <th scope="row w-100">
            <h6 class="mx-5 mb-0 pt-2 pb-3"><span class="pb-2 underline upper"> Basic Informations</span></h6>
        </th>
    </tr>
    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 ">
                <p class="pr-4 mb-0 w-50 text-right col-6">Type: </p>
                <p class="mb-0 w-50 text-left col-6">{{ product.router_product_data.cattegory }}</p>
            </div>
        </th>
    </tr>

    {% if product.router_product_data.color %}
        <tr>
            <th scope="row w-100">
                <div class="d-flex justify-content-center mx-5">
                    <p class="pr-4 mb-0 w-50 text-right col-6">Color: </p>
                    <p class="mb-0  w-50 text-left col-6">{{ product.router_product_data.color }}</p>
                </div>
            </th>
        </tr>
    {% endif %}
    
    <tr>
        <th scope="row w-100">
            <h6 class="mx-5 mb-0 pt-2 pb-3"><span class="pb-2 underline upper">General information</span></h6>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2 ">
                <p class="pr-4 mb-0 w-50 text-right col-6 col-6">Wifi: </p>
                <p class="mb-0 w-50 text-left col-6 col-6">
                {% if product.router_product_data.wifi %}YES{% else %}NO{% endif %}
                </p>
            </div>
        </th>
    </tr>

    {% if product.router_product_data.wifi %}
    
        <tr>
            <th scope="row w-100">
                <div class="d-flex justify-content-center mx-5">
                    <p class="pr-4 mb-0 w-50 text-right col-6">Wifi Standard: </p>
                    <p class="mb-0  w-50 text-left col-6">{{ product.router_product_data.wifi_standard }}
                    </p>
                </div>
            </th>
        </tr>

        <tr>
            <th scope="row w-100">
                <div class="d-flex justify-content-center mx-5">
                    <p class="pr-4 mb-0 w-50 text-right col-6">Wifi 2.4 Ghz speed: </p>
                    <p class="mb-0  w-50 text-left col-6">{{ product.router_product_data.wifi_2_4ghz_speed }}
                    </p>
                </div>
            </th>
        </tr>

        <tr>
            <th scope="row w-100">
                <div class="d-flex justify-content-center mx-5">
                    <p class="pr-4 mb-0 w-50 text-right col-6">Wifi 5 Ghz speed: </p>
                    <p class="mb-0  w-50 text-left col-6">{{ product.router_product_data.wifi_5ghz_speed }}
                    </p>
                </div>
            </th>
        </tr>
    
    {% endif %}
    
    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5">
                <p class="pr-4 mb-0 w-50 text-right col-6">Portable: </p>
                <p class="mb-0  w-50 text-left col-6">
                {% if product.router_product_data.portable %}YES{% else %}NO{% endif %}
                </p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5">
                <p class="pr-4 mb-0 w-50 text-right col-6">VPN: </p>
                <p class="mb-0  w-50 text-left col-6">
                {% if product.router_product_data.vpn %}YES{% else %}NO{% endif %}
                </p>
            </div>
        </th>
    </tr>
    

    <tr>
        <th scope="row w-100">
            <h6 class="mx-5 p-2 mb-0 pt-2 pb-3"><span class="pb-2 underline upper">Other</span></h6>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2 ">
                <p class="pr-4 mb-0 w-50 text-right col-6 col-6">Encryption standard: </p>
                <p class="mb-0 w-50 text-left col-6 col-6">{{ if product.router_product_data.encryption_standard }}
                </p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2 ">
                <p class="pr-4 mb-0 w-50 text-right col-6 col-6">Wan ports: </p>
                <p class="mb-0 w-50 text-left col-6 col-6">{{ product.router_product_data.wan_ports }}</p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2 ">
                <p class="pr-4 mb-0 w-50 text-right col-6 col-6">Lan ports: </p>
                <p class="mb-0 w-50 text-left col-6 col-6">{{ product.router_product_data.lan_ports }}</p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2 ">
                <p class="pr-4 mb-0 w-50 text-right col-6 col-6">USB ports: </p>
                <p class="mb-0 w-50 text-left col-6 col-6">
                    {% if product.router_product_data.usb_ports > 0 %}
                        {{product.router_product_data.usb_ports}}
                    {% else %}
                        No USB ports
                    {% endif %}
                </p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2 ">
                <p class="pr-4 mb-0 w-50 text-right col-6 col-6">SIM: </p>
                <p class="mb-0 w-50 text-left col-6 col-6">{{ product.router_product_data.sim }}</p>
            </div>
        </th>
    </tr>

    {% if product.router_product_data.antennas %}
    
        <tr>
            <th scope="row w-100">
                <div class="d-flex justify-content-center mx-5 p-2 ">
                    <p class="pr-4 mb-0 w-50 text-right col-6 col-6">Antennas number: </p>
                    <p class="mb-0 w-50 text-left col-6 col-6">{{ product.router_product_data.antennas_num }}</p>
                </div>
            </th>
        </tr>
    
    {% endif %}

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2 ">
                <p class="pr-4 mb-0 w-50 text-right col-6">High [cm]: </p>
                <p class="mb-0 w-50 text-left col-6">{{ product.router_product_data.high }}</p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2 ">
                <p class="pr-4 mb-0 w-50 text-right col-6">Width [cm]: </p>
                <p class="mb-0 w-50 text-left col-6">{{ product.router_product_data.width }}</p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2 ">
                <p class="pr-4 mb-0 w-50 text-right col-6">Depth [cm]: </p>
                <p class="mb-0 w-50 text-left col-6">{{ product.router_product_data.deep }}</p>
            </div>
        </th>
    </tr>
    
    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2">
                <p class="pr-4 mb-0 w-50 text-right col-6">Weight [kg]: </p>
                <p class="mb-0 w-50 text-left col-6">{{ product.router_product_data.weight }}</p>
            </div>
        </th>
    </tr>
    
</tbody>