<tbody>
    <tr>
        <th scope="row w-100">
            <h6 class="h3-2 col-12 pt-2 pb-2"> <span class="pb-2 underline upper">Specification</span> </h6>
        </th>
    </tr>
    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center">
                <p class="pr-4 mb-0 text-right col-6">Producent: </p>
                <p class="mb-0 text-left col-6">{{ product.router_product_data.producent }}</p>
            </div>
        </th>
    </tr>
    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center ">
                <p class="pr-4 mb-0 w-50 text-right col-6">Producer code: </p>
                <p class="mb-0 w-50 text-left col-6">{{ product.router_product_data.producent_code }}</p>
            </div>
    </th>
    </tr>
    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 ">
                <p class="pr-4 mb-0 w-50 text-right col-6">EAN: </p>
                <p class="mb-0  w-50 text-left col-6">{{ product.router_product_data.ean }}</p>
            </div>
    </th>
    </tr>
    <tr>
        <th scope="row w-100">
            <h6 class="mx-5 mb-0 pt-2 pb-3"><span class="pb-2 underline upper"> Basic Informations</span></h6>
        </th>
    </tr>
    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 ">
                <p class="pr-4 mb-0 w-50 text-right col-6">Type: </p>
                <p class="mb-0 w-50 text-left col-6">{{ product.router_product_data.cattegory }}</p>
            </div>
        </th>
    </tr>

    {% if product.router_product_data.color %}
        <tr>
            <th scope="row w-100">
                <div class="d-flex justify-content-center mx-5">
                    <p class="pr-4 mb-0 w-50 text-right col-6">Color: </p>
                    <p class="mb-0  w-50 text-left col-6">{{ product.router_product_data.color }}</p>
                </div>
            </th>
        </tr>
    {% endif %}

    <tr>
        <th scope="row w-100">
            <h6 class="mx-5 mb-0 pt-2 pb-3"><span class="pb-2 underline upper">General information</span></h6>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2 ">
                <p class="pr-4 mb-0 w-50 text-right col-6 col-6">Wifi: </p>
                <p class="mb-0 w-50 text-left col-6 col-6">
                {% if product.router_product_data.wifi %}Yes{% else %}Not avaiable{% endif %}
                </p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5">
                <p class="pr-4 mb-0 w-50 text-right col-6">Wifi Standard: </p>
                <p class="mb-0  w-50 text-left col-6">{% if product.router_product_data.wifi %}{{ product.router_product_data.wifi }}{% else %}N/a {% endif %}
                </p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5">
                <p class="pr-4 mb-0 w-50 text-right col-6">Wifi 2.4 Ghz speed: </p>
                <p class="mb-0  w-50 text-left col-6">{% if product.router_product_data.wifi_2_4ghz_speed %}{{ product.router_product_data.wifi_2_4ghz_speed }}{% else %}N/a {% endif %}
                </p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5">
                <p class="pr-4 mb-0 w-50 text-right col-6">Wifi 5 Ghz speed: </p>
                <p class="mb-0  w-50 text-left col-6">{% if product.router_product_data.wifi_5ghz_speed %}{{ product.router_product_data.wifi_5ghz_speed }}{% else %}N/a {% endif %}
                </p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5">
                <p class="pr-4 mb-0 w-50 text-right col-6">Case: </p>
                <p class="mb-0  w-50 text-left col-6">
                {{product.router_product_data.case }}
                </p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5">
                <p class="pr-4 mb-0 w-50 text-right col-6">VPN: </p>
                <p class="mb-0  w-50 text-left col-6">
                {% if product.router_product_data.vpn %}Yes{% else %}Not avaiable{% endif %}
                </p>
            </div>
        </th>
    </tr>


    <tr>
        <th scope="row w-100">
            <h6 class="mx-5 p-2 mb-0 pt-2 pb-3"><span class="pb-2 underline upper">Other</span></h6>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2 ">
                <p class="pr-4 mb-0 w-50 text-right col-6 col-6">Encryption standard: </p>
                <p class="mb-0 w-50 text-left col-6 col-6">{% if product.router_product_data.encryption_standard %}
                {{ product.router_product_data.encryption_standard }}
                {% else %}
                N/a
                {% endif %}
                </p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2 ">
                <p class="pr-4 mb-0 w-50 text-right col-6 col-6">Wan ports: </p>
                <p class="mb-0 w-50 text-left col-6 col-6">
                {% if product.router_product_data.wan_ports %}{{ product.router_product_data.wan_ports }}
                {% else %} N/a
                {% endif %}
                </p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2 ">
                <p class="pr-4 mb-0 w-50 text-right col-6 col-6">Lan ports: </p>
                <p class="mb-0 w-50 text-left col-6 col-6">{% if product.router_product_data.lan_ports %}{{ product.router_product_data.lan_ports }}
                {% else %} N/a
                {% endif %}</p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2 ">
                <p class="pr-4 mb-0 w-50 text-right col-6 col-6">USB ports: </p>
                <p class="mb-0 w-50 text-left col-6 col-6">
                    {{product.router_product_data.usb_ports}}
                </p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2 ">
                <p class="pr-4 mb-0 w-50 text-right col-6 col-6">SIM: </p>
                <p class="mb-0 w-50 text-left col-6 col-6">
                {% if product.router_product_data.sim %}Yes
                {% else %}N/a
                {% endif %}
                </p>
            </div>
        </th>
    </tr>

        <tr>
            <th scope="row w-100">
                <div class="d-flex justify-content-center mx-5 p-2 ">
                    <p class="pr-4 mb-0 w-50 text-right col-6 col-6">Antennas number: </p>
                    <p class="mb-0 w-50 text-left col-6 col-6">{{ product.router_product_data.antennas }}</p>
                </div>
            </th>
        </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2 ">
                <p class="pr-4 mb-0 w-50 text-right col-6">High [mm]: </p>
                <p class="mb-0 w-50 text-left col-6">
                {% if product.router_product_data.change_high %}
                {{ product.router_product_data.change_high }}
                {% else %}
                Data not avaiable
                {% endif %}
                </p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2 ">
                <p class="pr-4 mb-0 w-50 text-right col-6">Width [mm]: </p>
                <p class="mb-0 w-50 text-left col-6">
                {% if product.router_product_data.change_width %}
                {{ product.router_product_data.change_width }}
                {% else %}
                Data not avaiable
                {% endif %}
                </p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2 ">
                <p class="pr-4 mb-0 w-50 text-right col-6">Depth [mm]: </p>
                <p class="mb-0 w-50 text-left col-6">
                {% if product.router_product_data.change_deep %}
                {{ product.router_product_data.change_deep }}
                {% else %}
                Data not avaiable
                {% endif %}
                </p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2">
                <p class="pr-4 mb-0 w-50 text-right col-6">Weight [g]: </p>
                <p class="mb-0 w-50 text-left col-6">
                {% if product.router_product_data.change_weight %}
                {{ product.router_product_data.change_weight }}
                {% else %}
                Data not avaiable
                {% endif %}
                </p>
            </div>
        </th>
    </tr>

</tbody>