<tbody>
    <tr>
        <th scope="row w-100">
            <h6 class="h3-2 col-12 pt-2 pb-2"> <span class="pb-2 underline upper">Specification</span> </h6>
        </th>
    </tr>
    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center">
                <p class="pr-4 mb-0 text-right col-6">Producent: </p>
                <p class="mb-0 text-left col-6">{{ product.tv_product_data.producent }}</p>
            </div>
        </th>
    </tr>
    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center ">
                <p class="pr-4 mb-0 w-50 text-right col-6">Producer code: </p>
                <p class="mb-0 w-50 text-left col-6">{{ product.tv_product_data.producent_code }}</p>
            </div>
    </th>
    </tr>
    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 ">
                <p class="pr-4 mb-0 w-50 text-right col-6">EAN: </p>
                <p class="mb-0  w-50 text-left col-6">{{ product.tv_product_data.ean }}</p>
            </div>
    </th>
    </tr>
    <tr>
        <th scope="row w-100">
            <h6 class="mx-5 mb-0 pt-2 pb-3"><span class="pb-2 underline upper"> Basic Informations</span></h6>
        </th>
    </tr>
    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 ">
                <p class="pr-4 mb-0 w-50 text-right col-6">Type: </p>
                <p class="mb-0 w-50 text-left col-6">{{ product.tv_product_data.cattegory }}</p>
            </div>
        </th>
    </tr>
    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5">
                <p class="pr-4 mb-0 w-50 text-right col-6">Color: </p>
                <p class="mb-0  w-50 text-left col-6">{{ product.tv_product_data.color }}</p>
            </div>
        </th>
    </tr>
    
    <tr>
        <th scope="row w-100">
            <h6 class="mx-5 mb-0 pt-2 pb-3"><span class="pb-2 underline upper">Screen</span></h6>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5">
                <p class="pr-4 mb-0 w-50 text-right col-6">Screen resolution: </p>
                <p class="mb-0  w-50 text-left col-6">{{ product.tv_product_data.screen }}</p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5">
                <p class="pr-4 mb-0 w-50 text-right col-6">Screen diagonal: </p>
                <p class="mb-0  w-50 text-left col-6">{{ product.tv_product_data.screen_diagonal }}
                </p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <h6 class="mx-5 p-2 mb-0 pt-2 pb-3"><span class="pb-2 underline upper">Other</span></h6>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2 ">
                <p class="pr-4 mb-0 w-50 text-right col-6 col-6">Distribution: </p>
                <p class="mb-0 w-50 text-left col-6 col-6">{{ product.tv_product_data.distribution }}</p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2 ">
                <p class="pr-4 mb-0 w-50 text-right col-6 col-6">power_consumption: </p>
                <p class="mb-0 w-50 text-left col-6 col-6">{{ product.tv_product_data.power_consumption }}</p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2 ">
                <p class="pr-4 mb-0 w-50 text-right col-6 col-6">refresh_rate: </p>
                <p class="mb-0 w-50 text-left col-6 col-6">{{ product.tv_product_data.refresh_rate }}</p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2 ">
                <p class="pr-4 mb-0 w-50 text-right col-6 col-6">resolution: </p>
                <p class="mb-0 w-50 text-left col-6 col-6">{{ product.tv_product_data.resolution }}</p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2 ">
                <p class="pr-4 mb-0 w-50 text-right col-6 col-6">Matrix type: </p>
                <p class="mb-0 w-50 text-left col-6 col-6">{{ product.tv_product_data.matrix_type }}</p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2 ">
                <p class="pr-4 mb-0 w-50 text-right col-6 col-6">Curved: </p>
                <p class="mb-0 w-50 text-left col-6 col-6">
                {% if product.tv_product_data.resolution %}YES{% else %}NO{% endif %}
                </p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2 ">
                <p class="pr-4 mb-0 w-50 text-right col-6 col-6">HDR: </p>
                <p class="mb-0 w-50 text-left col-6 col-6">
                {% if product.tv_product_data.hdr %}YES{% else %}NO{% endif %}
                </p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2 ">
                <p class="pr-4 mb-0 w-50 text-right col-6 col-6">SMART TV: </p>
                <p class="mb-0 w-50 text-left col-6 col-6">
                {% if product.tv_product_data.smart_tv %}YES{% else %}NO{% endif %}
                </p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2 ">
                <p class="pr-4 mb-0 w-50 text-right col-6 col-6">WiFI: </p>
                <p class="mb-0 w-50 text-left col-6 col-6">
                {% if product.tv_product_data.wifi %}YES{% else %}NO{% endif %}
                </p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2 ">
                <p class="pr-4 mb-0 w-50 text-right col-6 col-6">Bluetooth: </p>
                <p class="mb-0 w-50 text-left col-6 col-6">
                {% if product.tv_product_data.bluetooth %}YES{% else %}NO{% endif %}
                </p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2 ">
                <p class="pr-4 mb-0 w-50 text-right col-6 col-6">HDMI ports: </p>
                <p class="mb-0 w-50 text-left col-6 col-6">{{ if product.tv_product_data.hdmi_ports }}</p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2 ">
                <p class="pr-4 mb-0 w-50 text-right col-6 col-6">USB ports: </p>
                <p class="mb-0 w-50 text-left col-6 col-6">{{ if product.tv_product_data.usb_ports }}</p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2 ">
                <p class="pr-4 mb-0 w-50 text-right col-6 col-6">Energy class: </p>
                <p class="mb-0 w-50 text-left col-6 col-6">{{ if product.tv_product_data.energy_class }}</p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2 ">
                <p class="pr-4 mb-0 w-50 text-right col-6">High [cm]: </p>
                <p class="mb-0 w-50 text-left col-6">{{ product.tv_product_data.high }}</p>
            </div>
    </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2 ">
                <p class="pr-4 mb-0 w-50 text-right col-6">Width [cm]: </p>
                <p class="mb-0 w-50 text-left col-6">{{ product.tv_product_data.width }}</p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2 ">
                <p class="pr-4 mb-0 w-50 text-right col-6">Depth [cm]: </p>
                <p class="mb-0 w-50 text-left col-6">{{ product.tv_product_data.deep }}</p>
            </div>
        </th>
    </tr>
    
    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2">
                <p class="pr-4 mb-0 w-50 text-right col-6">Weight [kg]: </p>
                <p class="mb-0 w-50 text-left col-6">{{ product.tv_product_data.weight }}</p>
            </div>
    </th>
    </tr>
</tbody>