<div class="color-section">

    <p class="px-5 pt-1 text-left">
        Producent Code:
    </p>
    <p>{{ product.cpu_product_data.producent_code }}</p>
    <p class="px-5 pt-1 text-left">
        Ean:
    </p>
    <p>{{ product.cpu_product_data.ean }}</p>
    <p class="px-5 pt-1 text-left">
        Socket:
    </p>
    <p>{{ product.cpu_product_data.socket }}</p>
    <p class="px-5 pt-1 text-left">
        Cores:
    </p>
    <p>{{ product.cpu_product_data.cores_num }}</p>
    <p class="px-5 pt-1 text-left">
        Clock frequency:
    </p>
    <p>{{ product.cpu_product_data.clock_frequency }}</p>
    <p class="px-5 pt-1 text-left">
        Cooler:
    </p>
    <p>{{ product.cpu_product_data.cooler }}</p>  
    
</div>
