<div class="color-section">
    <p class="px-5 pt-1 text-left">
        Producent Code:
    </p>
    <p>{{ product.graph_product_data.producent_code }}</p>
    <p class="px-5 pt-1 text-left">
        Ean:
    </p>
    <p>{{ product.graph_product_data.ean }}</p>
    <p class="px-5 pt-1 text-left">
        Card lenght:
    </p>
    <p>{{ product.graph_product_data.phisic_lenght }}</p>
    <p class="px-5 pt-1 text-left">
        Ram:
    </p>
    <p>{{ product.graph_product_data.ram }}</p>
    <p class="px-5 pt-1 text-left">
        Core clock:
    </p>
    <p>{{ product.graph_product_data.core_clock }}</p>
    
</div>
