<div class="color-section">
    <p class="px-5 pt-1 text-left">
        Producent Code:
    </p>
    <p>{{ product.headphone_product_data.producent_code }}</p>
    <p class="px-5 pt-1 text-left">
        Ean:
    </p>
    <p>{{ product.headphone_product_data.ean }}</p>
    <p class="px-5 pt-1 text-left">
        Microphone:
    </p>
    <p>{% if product.headphone_product_data.microphone %}Yes{% else %}No{% endif %}</p>
    
    
    {% if product.headphone_product_data.bluetooth %}
        <p class="px-5 pt-1 text-left">
            Wireless:
        </p>
        <p>Yes</p>
        <p class="px-5 pt-1 text-left">Wireless range:</p>
        <p>{{ product.headphone_product_data.bluetooth_range }}</p>
        <p class="px-5 pt-1 text-left">Work time:</p>
        <p>{{ product.headphone_product_data.work_time }}</p>
    {% endif %}

    {% if product.headphone_product_data.cable %}
        <p class="px-5 pt-1 text-left">
            Cable:
        </p>
        <p>Yes</p>
        <p class="px-5 pt-1 text-left">Cable lenght:</p>
        <p>{{ product.headphone_product_data.cable_lenght }}</p>
        <p class="px-5 pt-1 text-left">Jack:</p>
        <p>{{ product.headphone_product_data.jack }}</p>
    {% endif %}
    
</div>
