{% load static %}

<div class="color-section">
    <p class="px-5 pt-1 text-left">
        RAM:
    </p>
    <div class="buttons d-flex px-5" data-name='product-ram-data'>
    
        {% for element in same_products.ram %}

            <button href="" class="btn-light d-inline px-4 py-2 mt-2 mb-2 mr-2 spec-product-data {% if element == product.laptops_product_data.ram %}active-product-content bg-white{% endif %} ">{{ element }}</button>

        {% endfor %}

    </div>
</div>
<div class="processor-section">
    <p class="px-5 pt-4 text-left">
        Disc Pcie:
    </p>
    <div class="buttons d-flex px-5 sort_items" data-name='product-p_c_i_e-data'>

        {% for element in same_products.p_c_i_e %}

            <button href="" class="btn-light d-inline px-3 mt-2 mb-2 mr-2 py-2 spec-product-data {% if element == product.laptops_product_data.p_c_i_e %}active-product-content bg-white{% endif %} ">{{ element }}</button>

        {% endfor %}
        
    </div>
</div>

{% if product.laptops_product_data.producent != 'Apple'%}
    <div class="ram-section">
        <p class="px-5 pt-4 text-left">
            System:
        </p>
        <div class="buttons d-flex px-5 sort_items" data-name='product-system-data'>

            {% for element in same_products.system %}

                <button href="" class="btn-light d-inline px-3 mt-2 mb-2 mr-2 py-2 spec-product-data {% if element == product.laptops_product_data.system %}active-product-content bg-white{% endif %} ">{{ element }}</button>

            {% endfor %}

        </div>
    </div>
{% endif %}

{% if product.laptops_product_data.producent != 'Apple' %}
    <div class="disc-section">
        <p class="px-5 pt-4 text-left">
            Processor:
        </p>
        <div class="buttons d-flex px-5 sort_items" data-name='product-processor-data'>

            {% for element in same_products.processor %}

                <button href="" class="btn-light d-inline px-3 mt-2 mb-2 mr-2 py-2 spec-product-data {% if element == product.laptops_product_data.processor %}active-product-content bg-white{% endif %} ">{{ element }}</button>

            {% endfor %}

        </div>
    </div>
{% endif %}

{% if product.laptops_product_data.producent == 'Apple' %}
    <div class="disc-section">
        <p class="px-5 pt-4 text-left">
            Color:
        </p>
        <div class="buttons d-flex px-5 sort_items" data-name='product-color-data'>

            {% for element in same_products.colors %}

                <button href="" class="btn-light d-inline px-3 mt-2 mb-2 mr-2 py-2 spec-product-data {% if element == product.laptops_product_data.color %}active-product-content bg-white{% endif %} ">{{ element }}</button>

            {% endfor %}

        </div>
    </div>
{% endif %}

<script> let productIds = '{{ same_products.items_id }}'; </script>
<script src='{% static 'js/sortSpecData.js' %}'></script>
<script src='{% static 'js/getDataProduct.js' %}'></script>