<div class="color-section">
    <p class="px-5 pt-1 text-left">
        Color:
    </p>
    <div class="buttons d-flex px-5" data-name='product-color-data'>
    
        {% for element in same_products.items %}

            <a href="" class="btn-light d-inline px-4 py-2 mt-2 mb-2 mr-2 {% if element.monitors_product_data.color == product.monitors_product_data.color %}active-product-content bg-white{% endif %} ">{{ element.monitors_product_data.color }}</a>

        {% endfor %}

    </div>
</div>
<div class="processor-section">
    <p class="px-5 pt-4 text-left">
        Refresh rate [GHz]:
    </p>
    <div class="buttons d-flex px-5 sort_items" data-name='product-refresh_rate-data'>

        {% for element in same_products.refresh_rate %}

            <a href="" class="btn-light d-inline px-3 mt-2 mb-2 mr-2 py-2 {% if element == product.monitors_product_data.refresh_rate %}active-product-content bg-white{% endif %} ">{{ element }}</a>

        {% endfor %}
        
    </div>
</div>
<div class="ram-section">
    <p class="px-5 pt-4 text-left">
        Power consumption [W]:
    </p>
    <div class="buttons d-flex px-5 sort_items" data-name='product-power_consumption-data'>

        {% for element in same_products.power_consumption %}

            <a href="" class="btn-light d-inline px-3 mt-2 mb-2 mr-2 py-2 {% if element == product.monitors_product_data.power_consumption %}active-product-content bg-white{% endif %} ">{{ element }}</a>

        {% endfor %}

    </div>
</div>
<div class="disc-section">
    <p class="px-5 pt-4 text-left">
        Diagonal:
    </p>
    <div class="buttons d-flex px-5 sort_items" data-name='product-diagonal-data'>

        {% for element in same_products.screen_diagonal %}

            <a href="" class="btn-light d-inline px-3 mt-2 mb-2 mr-2 py-2 {% if element == product.monitors_product_data.screen_diagonal %}active-product-content bg-white{% endif %} ">{{ element }}</a>

        {% endfor %}

    </div>
</div>

<script> let productIds = '{{ same_products.items_id }}'; </script>
<script src='{% static 'js/sortSpecData.js' %}'></script>
<script src='{% static 'js/getDataProduct.js' %}'></script>