<div class="color-section">
    <p class="px-5 pt-1 text-left">
        Producent Code:
    </p>
    <p>{{ product.motherboard_product_data.producent_code }}</p>
    <p class="px-5 pt-1 text-left">
        Ean:
    </p>
    <p>{{ product.motherboard_product_data.ean }}</p>
    <p class="px-5 pt-1 text-left">
        Processor socket:
    </p>
    <p>{{ product.motherboard_product_data.processor_socket }}</p>
    <p class="px-5 pt-1 text-left">
        Ram slots:
    </p>
    <p>{{ product.motherboard_product_data.ram_slots }}</p>
    <p class="px-5 pt-1 text-left">
        Chipset:
    </p>
    <p>{{ product.motherboard_product_data.chipset }}</p>
    <p class="px-5 pt-1 text-left">
        WiFi:
    </p>
    <p>{% if product.motherboard_product_data.wifi %}Yes {% else %}No{% endif %}</p>
    
    
</div>
