{% load static %}

<div class="color-section">

        <div class="d-flex">
            <p class="px-5 pt-1 text-left">
                Producent Code:
            </p>
            <p class="px-5 pt-1 text-left font-light-grey">{{ product.pendrive_product_data.producent_code }}</p>
        </div>

        <div class="d-flex">
            <p class="px-5 pt-1 text-left d-inline">
            Ean:
            </p>
            <p class="px-5 pt-1 text-left font-light-grey">{{ product.pendrive_product_data.ean }}</p>
        </div>

        <div class="d-flex">
            <p class="px-5 pt-1 text-left d-inline">
                Capacity:
            </p>
            <p class="px-5 pt-1 text-left font-light-grey">{{ product.pendrive_product_data.capacity }}</p>
        </div>

        <div class="d-flex">
            <p class="px-5 pt-1 text-left d-inline">
                Connections:
            </p>
            <p class="px-5 pt-1 text-left font-light-grey">{{ product.pendrive_product_data.connector }}</p>
        </div>

    </div>

<script> let productIds = '{{ same_products.items_id }}'; </script>
<script src='{% static 'js/sortSpecData.js' %}'></script>
<script src='{% static 'js/getDataProduct.js' %}'></script>

