{% load static %}

{% if same_products.items|length >= 2%}

    {% if same_products.colors|length >= 2 %}

        <div class="color-section data-blocks">
            <p class="px-5 pt-1 text-left">
                Color:
            </p>
            <div class="buttons d-flex px-5" data-name='product-color-data'>
            
                {% for element in same_products.colors %}
                
                    <button 
                    href="" 
                    class="btn-light d-inline px-4 py-2 mt-2 mb-2 mr-2 spec-product-data {% if element == product.color %}active-product-content bg-white{% endif %} ">
                    {{ element }}
                    </button>

                {% endfor %}

            </div>
        </div>

    {% endif %}

    {% if same_products.memory|length >= 2 %}

        <div class="processor-section data-blocks">
            <p class="px-5 pt-4 text-left">
                Memory [GB]:
            </p>
            <div class="buttons d-flex px-5 sort_items" data-name='product-memory-data'>

                {% for element in same_products.memory %}

                    <button 
                    href="" 
                    class="btn-light d-inline px-3 mt-2 mb-2 mr-2 py-2 spec-product-data {% if element == product.phones_product_data.memory %}active-product-content bg-white{% endif %} ">
                    {{ element }}
                    </button>

                {% endfor %}
                
            </div>
        </div>

    {% endif %}

    {% if same_products.ram|length >= 2 %}

        <div class="ram-section data-blocks">
            <p class="px-5 pt-4 text-left">
                RAM [GB]: 
            </p>
            <div class="buttons d-flex px-5 sort_items" data-name='product-ram-data'>

                {% for element in same_products.ram %}

                    <button 
                    href="" 
                    class="btn-light d-inline px-3 mt-2 mb-2 mr-2 py-2 spec-product-data {% if element == product.phones_product_data.ram %}active-product-content bg-white{% endif %} ">
                    {{ element }}
                    </button>

                {% endfor %}

            </div>
        </div>
    
    {% endif %}

    {% if same_products.battery|length >= 2 %}

        <div class="disc-section data-blocks">
            <p class="px-5 pt-4 text-left">
                Battery [mAh]:
            </p>
            <div class="buttons d-flex px-5 sort_items" data-name='product-battery-data'>

                {% for element in same_products.battery %}

                    <button 
                    href="" 
                    class="btn-light d-inline px-3 mt-2 mb-2 mr-2 py-2 spec-product-data {% if element == product.phones_product_data.battery %}active-product-content bg-white{% endif %} ">
                    {{ element }}
                    </button>

                {% endfor %}

            </div>
        </div>
    
    {% endif %}

{% else %}

    <div class="color-section">

        <div class="d-flex">
            <p class="px-5 pt-1 text-left">
                Producent Code:
            </p>
            <p class="px-5 pt-1 text-left font-light-grey">{{ product.phones_product_data.producent_code }}</p>
        </div>

        <div class="d-flex">
            <p class="px-5 pt-1 text-left d-inline">
            Ean:
            </p>
            <p class="px-5 pt-1 text-left font-light-grey">{{ product.phones_product_data.ean }}</p>
        </div>

        <div class="d-flex">
            <p class="px-5 pt-1 text-left d-inline">
                Color:
            </p>
            <p class="px-5 pt-1 text-left font-light-grey">{{ product.phones_product_data.color }}</p>
        </div>

        <div class="d-flex">
            <p class="px-5 pt-1 text-left d-inline">
                RAM:
            </p>
            <p class="px-5 pt-1 text-left font-light-grey">{{ product.phones_product_data.ram }}</p>
        </div>

        <div class="d-flex">
            <p class="px-5 pt-1 text-left d-inline">
                Memory:
            </p>
            <p class="px-5 pt-1 text-left font-light-grey">{{ product.phones_product_data.memory }}</p>
        </div>

        <div class="d-flex">
            <p class="px-5 pt-1 text-left d-inline">
                Battery [mAh]:
            </p>
            <p class="px-5 pt-1 text-left font-light-grey">{{ product.phones_product_data.battery }}</p>
        </div>
   
    </div>

{% endif %}

<script> let productIds = '{{ same_products.items_id }}'; </script>
<script src='{% static 'js/sortSpecData.js' %}'></script>
<script src='{% static 'js/getDataProduct.js' %}'></script>
<script src='{% static 'js/renderProductDataInFilerBox.js' %}'></script>