{% load static %}

<div class="color-section">
    <p class="px-5 pt-1 text-left">
        Color:
    </p>
    <div class="buttons d-flex px-5" data-name='product-color-data'>
    
        {% for element in same_products.items %}
        
            <button href="" class="btn-light d-inline px-4 py-2 mt-2 mb-2 mr-2 spec-product-data {% if element.phones_product_data.color == product.color %}active-product-content bg-white{% endif %} ">{{ element.phones_product_data.color }}</button>

        {% endfor %}

    </div>
</div>

<div class="processor-section">
    <p class="px-5 pt-4 text-left">
        Memory [GB]:
    </p>
    <div class="buttons d-flex px-5 sort_items" data-name='product-memory-data'>

        {% for element in same_products.memory %}

            <button href="" class="btn-light d-inline px-3 mt-2 mb-2 mr-2 py-2 spec-product-data {% if element == product.phones_product_data.memory %}active-product-content bg-white{% endif %} ">{{ element }}</button>

        {% endfor %}
        
    </div>
</div>

<div class="ram-section">
    <p class="px-5 pt-4 text-left">
        RAM [GB]: 
    </p>
    <div class="buttons d-flex px-5 sort_items" data-name='product-ram-data'>

        {% for element in same_products.ram %}

            <button href="" class="btn-light d-inline px-3 mt-2 mb-2 mr-2 py-2 spec-product-data {% if element == product.phones_product_data.ram %}active-product-content bg-white{% endif %} ">{{ element }}</button>

        {% endfor %}

    </div>
</div>

<div class="disc-section">
    <p class="px-5 pt-4 text-left">
        Battery [mAh]:
    </p>
    <div class="buttons d-flex px-5 sort_items" data-name='product-battery-data'>

        {% for element in same_products.battery %}

            <button href="" class="btn-light d-inline px-3 mt-2 mb-2 mr-2 py-2 spec-product-data {% if element == product.phones_product_data.battery %}active-product-content bg-white{% endif %} ">{{ element }}</button>

        {% endfor %}

    </div>
</div>

<script> let productIds = '{{ same_products.items_id }}'; </script>
<script src='{% static 'js/sortSpecData.js' %}'></script>
<script src='{% static 'js/getDataProduct.js' %}'></script>

