{% load static %}

<div class="color-section">
    <p class="px-5 pt-1 text-left">
        Capacity:
    </p>
    <div class="buttons d-flex px-5" data-name='product-capacity-data'>
    
        {% for element in same_products.capacity %}
        
            <button href="" class="btn-light d-inline px-4 py-2 mt-2 mb-2 mr-2 spec-product-data {% if element == product.ram_product_data.capacity %}active-product-content bg-white{% endif %} ">{{ element }}</button>

        {% endfor %}

    </div>
</div>

<div class="processor-section">
    <p class="px-5 pt-4 text-left">
        Frequency [MHz]:
    </p>
    <div class="buttons d-flex px-5 sort_items" data-name='product-frequency-data'>

        {% for element in same_products.frequency %}

            <button href="" class="btn-light d-inline px-3 mt-2 mb-2 mr-2 py-2 spec-product-data {% if element == product.ram_product_data.frequency %}active-product-content bg-white{% endif %} ">{{ element }}</button>

        {% endfor %}
        
    </div>
</div>

<div class="disc-section">
    <p class="px-5 pt-4 text-left">
        Color:
    </p>
    <div class="buttons d-flex px-5 sort_items" data-name='product-color-data'>

        {% for element in same_products.colors %}

            <button href="" class="btn-light d-inline px-3 mt-2 mb-2 mr-2 py-2 spec-product-data {% if element == product.color %}active-product-content bg-white{% endif %} ">{{ element}}</button>

        {% endfor %}

    </div>
</div>

<script> let productIds = '{{ same_products.items_id }}'; </script>
<script src='{% static 'js/sortSpecData.js' %}'></script>
<script src='{% static 'js/getDataProduct.js' %}'></script>

