<div class="color-section">
    <p class="px-5 pt-1 text-left">
        Producent Code:
    </p>
    <p>{{ product.router_product_data.producent_code }}</p>
    <p class="px-5 pt-1 text-left">
        Ean:
    </p>
    <p>{{ product.router_product_data.ean }}</p>
    
    {% if product.router_product_data.wifi %}
        <p class="px-5 pt-1 text-left">
        Wifi standard:
        </p>
        <p>{{ product.router_product_data.wifi_standard }}</p>
    {% endif %}
    
    {% if product.router_product_data.encryption_standard %}
        <p class="px-5 pt-1 text-left">
        Encryption standard:
    </p>
    <p>{{ product.router_product_data.encryption_standard }}</p>
    {% endif %}
    
    <p class="px-5 pt-1 text-left">
        Lan ports:
    </p>
    <p>{{ product.router_product_data.lan_ports }}</p>,

    <p class="px-5 pt-1 text-left">
        Wan ports:
    </p>
    <p>{{ product.router_product_data.wan_ports }}</p>
    
</div>
