<div class="color-section">

    <div class="d-flex">
        <p class="px-5 pt-1 text-left">
            Producent Code:
        </p>
        <p class="px-5 pt-1 text-left font-light-grey">{{ product.router_product_data.producent_code }}</p>
    </div>

    <div class="d-flex">
        <p class="px-5 pt-1 text-left d-inline">
        Ean:
        </p>
        <p class="px-5 pt-1 text-left font-light-grey">{{ product.router_product_data.ean }}</p>
    </div>

    <div class="d-flex">
        <p class="px-5 pt-1 text-left d-inline">
            Wifi standard:
        </p>
        <p class="px-5 pt-1 text-left font-light-grey">
        {% if product.router_product_data.wifi %}{{ product.router_product_data.wifi }}
        {% else %}N/a
        {% endif %}
        </p>
    </div>

    <div class="d-flex">
        <p class="px-5 pt-1 text-left d-inline">
            Encryption standard:
        </p>
        <p class="px-5 pt-1 text-left font-light-grey">
            {% if product.router_product_data.encryption_standard %}{{ product.router_product_data.encryption_standard }}
            {% else %}N/a
            {% endif %}
        </p>
    </div>

    <div class="d-flex">
        <p class="px-5 pt-1 text-left d-inline">
            Lan ports:
        </p>
        <p class="px-5 pt-1 text-left font-light-grey">{{ product.router_product_data.lan_ports }}</p>
    </div>

    <div class="d-flex">
        <p class="px-5 pt-1 text-left d-inline">
            Wan ports:
        </p>
        <p class="px-5 pt-1 text-left font-light-grey">{{ product.router_product_data.wan_ports }}</p>
    </div>
</div>

