{% load static %}

<div class="color-section">
    <p class="px-5 pt-1 text-left">
        Color:
    </p>
    <div class="buttons d-flex px-5" data-name='product-color-data'>
    
        {% for element in same_products.items %}

            <a href="" class="btn-light d-inline px-4 py-2 mt-2 mb-2 mr-2 {% if element.color == product.ssd_product_data.color %}active-product-content bg-white{% endif %} ">{{ element.color }}</a>

        {% endfor %}

    </div>
</div>
<div class="processor-section">
    <p class="px-5 pt-4 text-left">
        Capacity [GB]:
    </p>
    <div class="buttons d-flex px-5 sort_items" data-name='product-capacity-data'>

        {% for element in same_products.capacity %}

            <a href="" class="btn-light d-inline px-3 mt-2 mb-2 mr-2 py-2 {% if element == product.ssd_product_data.capacity %}active-product-content bg-white{% endif %} ">{{ element }}</a>

        {% endfor %}
        
    </div>
</div>
<div class="ram-section">
    <p class="px-5 pt-4 text-left">
        Reading speed [MB/s]:
    </p>
    <div class="buttons d-flex px-5 sort_items" data-name='product-reading_speed-data'>

        {% for element in same_products.reading_speed %}

            <a href="" class="btn-light d-inline px-3 mt-2 mb-2 mr-2 py-2 {% if element == product.ssd_product_data.reading_speed %}active-product-content bg-white{% endif %} ">{{ element }}</a>

        {% endfor %}

    </div>
</div>
<div class="disc-section">
    <p class="px-5 pt-4 text-left">
        Writing speed [MB/s]:
    </p>
    <div class="buttons d-flex px-5 sort_items" data-name='product-writing_speed-data'>

        {% for element in same_products.writing_speed %}

            <a href="" class="btn-light d-inline px-3 mt-2 mb-2 mr-2 py-2 {% if element == product.ssd_product_data.writing_speed %}active-product-content bg-white{% endif %} ">{{ element }}</a>

        {% endfor %}

    </div>
</div>

<script> let productIds = '{{ same_products.items_id }}'; </script>
<script src='{% static 'js/sortSpecData.js' %}'></script>
<script src='{% static 'js/getDataProduct.js' %}'></script>