{% load static %}

{% if same_products.items|length >= 2 %}

    {% if same_products.capacity|length >= 2 %}

        <div class="processor-section data-blocks">
            <p class="px-5 pt-4 text-left">
                Capacity [GB]:
            </p>
            <div class="buttons d-flex px-5 sort_items" data-name='product-capacity-data'>

                {% for element in same_products.capacity %}

                    <a href="" class="btn-light d-inline px-3 mt-2 mb-2 mr-2 py-2 {% if element == product.ssd_product_data.capacity %}active-product-content bg-white{% endif %} ">{{ element }}</a>

                {% endfor %}

            </div>
        </div>

    {% endif %}

{% else %}

    <div class="color-section">

        <div class="d-flex">
            <p class="px-5 pt-1 text-left">
                Producent Code:
            </p>
            <p class="px-5 pt-1 text-left font-light-grey">{{ product.ssd_product_data.producent_code }}</p>
        </div>

        <div class="d-flex">
            <p class="px-5 pt-1 text-left d-inline">
            Ean:
            </p>
            <p class="px-5 pt-1 text-left font-light-grey">{{ product.ssd_product_data.ean }}</p>
        </div>

        <div class="d-flex">
            <p class="px-5 pt-1 text-left d-inline">
            Capacity:
            </p>
            <p class="px-5 pt-1 text-left font-light-grey">{{ product.ssd_product_data.capacity }}</p>
        </div>

        <div class="d-flex">
            <p class="px-5 pt-1 text-left d-inline">
            Format:
            </p>
            <p class="px-5 pt-1 text-left font-light-grey">{{ product.ssd_product_data.format }}</p>
        </div>

        <div class="d-flex">
            <p class="px-5 pt-1 text-left d-inline">
            Reading speed:
            </p>
            <p class="px-5 pt-1 text-left font-light-grey">{{ product.ssd_product_data.reading_speed }}</p>
        </div>

        <div class="d-flex">
            <p class="px-5 pt-1 text-left d-inline">
            Writing speed:
            </p>
            <p class="px-5 pt-1 text-left font-light-grey">{{ product.ssd_product_data.writing_speed }}</p>
        </div>

        <div class="d-flex">
            <p class="px-5 pt-1 text-left d-inline">
            Life time:
            </p>
            <p class="px-5 pt-1 text-left font-light-grey">{{ product.ssd_product_data.life_time }}</p>
        </div>

    </div>

{% endif %}

<script> let productIds = '{{ same_products.items_id }}'; </script>
<script src='{% static 'js/sortSpecData.js' %}'></script>
<script src='{% static 'js/getDataProduct.js' %}'></script>
<script src='{% static 'js/renderProductDataInFilerBox.js' %}'></script>