<div class="color-section">

        <div class="d-flex">
            <p class="px-5 pt-1 text-left">
                Bus speed [Gb/s]:
            </p>
            <p class="px-5 pt-1 text-left font-light-grey">{{ product.switch_product_data.bus_speed }}</p>
        </div>

        <div class="d-flex">
            <p class="px-5 pt-1 text-left d-inline">
                Ports:
            </p>
            <p class="px-5 pt-1 text-left font-light-grey">{{ product.switch_product_data.ports_num }}</p>
        </div>

        <div class="d-flex">
            <p class="px-5 pt-1 text-left d-inline">
                PoE:
            </p>
            <p class="px-5 pt-1 text-left font-light-grey">{{ product.switch_product_data.num_of_poe }}</p>
        </div>

        <div class="d-flex">
            <p class="px-5 pt-1 text-left d-inline">
                Manageable:
            </p>
            <p class="px-5 pt-1 text-left font-light-grey">{{ product.switch_product_data.manageable }}</p>
        </div>
   
    </div>

