{% load static %}

{% if same_products.items|length >= 2 %}

     {% if same_products.diagonal|length >= 2 %}

        <div class="color-section data-blocks">
            <p class="px-5 pt-1 text-left">
                Diagonal:
            </p>
            <div class="buttons d-flex px-5
            {% if same_products.diagonal|length >= 4 %}flex-wrap
            {% endif %}" data-name='product-diagonal-data'>

                {% for element in same_products.diagonal %}

                    <button
                    href="" class="btn-light d-inline px-4 py-2 mt-2 mb-2 mr-2 spec-product-data
                    {% if element == product.tv_product_data.diagonal %}active-product-content bg-white
                    {% else %}light-border
                    {% endif %}
                    {% if element|length >= 15 %} font-point-seven-rem
                    {% endif %} ">
                    {{ element }}
                    </button>

                {% endfor %}

            </div>
        </div>

    {% endif %}

{% else %}

    <div class="color-section">

        <div class="d-flex">
            <p class="px-5 pt-1 text-left">
                Producent Code:
            </p>
            <p class="px-5 pt-1 text-left font-light-grey">{{ product.tv_product_data.producent_code }}</p>
        </div>

        <div class="d-flex">
            <p class="px-5 pt-1 text-left d-inline">
            Ean:
            </p>
            <p class="px-5 pt-1 text-left font-light-grey">{{ product.tv_product_data.ean }}</p>
        </div>

        <div class="d-flex">
            <p class="px-5 pt-1 text-left d-inline">
                Color:
            </p>
            <p class="px-5 pt-1 text-left font-light-grey">{{ product.tv_product_data.color }}</p>
        </div>

        <div class="d-flex">
            <p class="px-5 pt-1 text-left d-inline">
                Diagonal:
            </p>
            <p class="px-5 pt-1 text-left font-light-grey">{{ product.tv_product_data.diagonal }}</p>
        </div>

        <div class="d-flex">
            <p class="px-5 pt-1 text-left d-inline">
                Matrix Type:
            </p>
            <p class="px-5 pt-1 text-left font-light-grey">{{ product.tv_product_data.matrix_type }}</p>
        </div>

        <div class="d-flex">
            <p class="px-5 pt-1 text-left d-inline">
                Hdr:
            </p>
            <p class="px-5 pt-1 text-left font-light-grey">{{ product.tv_product_data.hdr }}</p>
        </div>

        <div class="d-flex">
            <p class="px-5 pt-1 text-left d-inline">
                Refresh rate:
            </p>
            <p class="px-5 pt-1 text-left font-light-grey">{{ product.tv_product_data.refresh_rate }}</p>
        </div>

    </div>

{% endif %}



<script> let productIds = '{{ same_products.items_id }}'; </script>
<script src='{% static 'js/sortSpecData.js' %}'></script>
<script src='{% static 'js/getDataProduct.js' %}'></script>
<script src='{% static 'js/renderProductDataInFilerBox.js' %}'></script>