<tbody>

    <tr>
        <th scope="row w-100">
            <h6 class="h3-2 col-12 pt-2 pb-2"> <span class="pb-2 underline upper">Specification</span> </h6>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center">
                <p class="pr-4 mb-0 text-right col-6">Producent: </p>
                <p class="mb-0 text-left col-6">{{ product.producent }}</p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center ">
                <p class="pr-4 mb-0 w-50 text-right col-6">Producent code: </p>
                <p class="mb-0 w-50 text-left col-6">{{ product.producent_code }}</p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 ">
                <p class="pr-4 mb-0 w-50 text-right col-6">EAN: </p>
                <p class="mb-0  w-50 text-left col-6">{{ product.ean }}</p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <h6 class="mx-5 mb-0 pt-2 pb-3"><span class="pb-2 underline upper"> Basic Informations</span></h6>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 ">
                <p class="pr-4 mb-0 w-50 text-right col-6">Processor: </p>
                <p class="mb-0 w-50 text-left col-6">{{ product.processor }}</p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 ">
                <p class="pr-4 mb-0 w-50 text-right col-6">Socket: </p>
                <p class="mb-0 w-50 text-left col-6">{{ product.socket }}</p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 ">
                <p class="pr-4 mb-0 w-50 text-right col-6">Cooler: </p>
                <p class="mb-0 w-50 text-left col-6">{{ product.cooler }}</p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 ">
                <p class="pr-4 mb-0 w-50 text-right col-6">Chipset: </p>
                <p class="mb-0 w-50 text-left col-6">{{ product.motherboard_chipset }}</p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2 ">
                <p class="pr-4 mb-0 w-50 text-right col-6 col-6">System: </p>
                <p class="mb-0 w-50 text-left col-6 col-6"> {{ product.system }} </p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2 ">
                <p class="pr-4 mb-0 w-50 text-right col-6 col-6">Power suply [W]: </p>
                <p class="mb-0 w-50 text-left col-6 col-6"> {{ product.power_suply }} </p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2 ">
                <p class="pr-4 mb-0 w-50 text-right col-6 col-6">Graph: </p>
                <p class="mb-0 w-50 text-left col-6 col-6"> {{ product.graph }}</p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2 ">
                <p class="pr-4 mb-0 w-50 text-right col-6 col-6"> Disc: </p>
                <p class="mb-0 w-50 text-left col-6 col-6">
                {% if product.disc != '0' %} {{ product.disc }} {% else %} N/a {% endif %} </p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2 ">
                <p class="pr-4 mb-0 w-50 text-right col-6 col-6">Ram: </p>
                <p class="mb-0 w-50 text-left col-6 col-6"> {{ product.ram }} GB</p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2 ">
                <p class="pr-4 mb-0 w-50 text-right col-6 col-6">Ram model: </p>
                <p class="mb-0 w-50 text-left col-6 col-6"> {{ product.ram_type }} </p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2 ">
                <p class="pr-4 mb-0 w-50 text-right col-6 col-6">PcIE: </p>
                <p class="mb-0 w-50 text-left col-6 col-6"> {{ product.p_c_i_e  }} </p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2 ">
                <p class="pr-4 mb-0 w-50 text-right col-6 col-6">Bluetooth: </p>
                <p class="mb-0 w-50 text-left col-6 col-6"> {% if product.bluetooth %}Yes {% else %} N/a {% endif %} </p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2 ">
                <p class="pr-4 mb-0 w-50 text-right col-6 col-6">Wifi: </p>
                <p class="mb-0 w-50 text-left col-6 col-6"> {% if product.wifi %}Yes {% else %} N/a {% endif %}</p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <h6 class="mx-5 mb-0 pt-2 pb-3"><span class="pb-2 underline upper"> General </span></h6>
        </th>
    </tr>

     <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2 ">
                <p class="pr-4 mb-0 w-50 text-right col-6 col-6">Mouse: </p>
                <p class="mb-0 w-50 text-left col-6 col-6">
                {% if product.mouse %}Yes
                {% else %}
                N/a
                {% endif %}
                </p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2 ">
                <p class="pr-4 mb-0 w-50 text-right col-6 col-6">Keyboard: </p>
                <p class="mb-0 w-50 text-left col-6 col-6"> {% if product.keaybord %}Yes
                {% else %}
                N/a
                {% endif %}
                </p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2 ">
                <p class="pr-4 mb-0 w-50 text-right col-6 col-6">Weight [kg]: </p>
                <p class="mb-0 w-50 text-left col-6 col-6"> {% if product.change_weight %}Yes
                {% else %}
                N/a
                {% endif %} </p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2 ">
                <p class="pr-4 mb-0 w-50 text-right col-6 col-6">High [cm]: </p>
                <p class="mb-0 w-50 text-left col-6 col-6"> {{ product.change_high }} </p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2 ">
                <p class="pr-4 mb-0 w-50 text-right col-6 col-6">Deep [cm]: </p>
                <p class="mb-0 w-50 text-left col-6 col-6"> {{ product.change_deep }} </p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2 ">
                <p class="pr-4 mb-0 w-50 text-right col-6 col-6">Width [cm]: </p>
                <p class="mb-0 w-50 text-left col-6 col-6"> {{ product.change_width }} </p>
            </div>
        </th>
    </tr>


</tbody>