<tbody>
    <tr>
        <th scope="row w-100">
            <h6 class="h3-2 col-12 pt-2 pb-2"> <span class="pb-2 underline upper">Specification</span> </h6>
        </th>
    </tr>
    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center">
                <p class="pr-4 mb-0 text-right col-6">Producent: </p>
                <p class="mb-0 text-left col-6">{{ product.producent }}</p>
            </div>
        </th>
    </tr>
    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center ">
                <p class="pr-4 mb-0 w-50 text-right col-6">Producer code: </p>
                <p class="mb-0 w-50 text-left col-6">{{ product.producent_code }}</p>
            </div>
    </th>
    </tr>
    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 ">
                <p class="pr-4 mb-0 w-50 text-right col-6">EAN: </p>
                <p class="mb-0  w-50 text-left col-6">{{ product.ean }}</p>
            </div>
    </th>
    </tr>
    <tr>
        <th scope="row w-100">
            <h6 class="mx-5 mb-0 pt-2 pb-3"><span class="pb-2 underline upper"> Basic Informations</span></h6>
        </th>
    </tr>
    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 ">
                <p class="pr-4 mb-0 w-50 text-right col-6">Type: </p>
                <p class="mb-0 w-50 text-left col-6">{{ product.cattegory }}</p>
            </div>
        </th>
    </tr>

    {% if product.color %}

        <tr>
            <th scope="row w-100">
                <div class="d-flex justify-content-center mx-5">
                    <p class="pr-4 mb-0 w-50 text-right col-6">Color: </p>
                    <p class="mb-0  w-50 text-left col-6">{{ product.color }}</p>
                </div>
            </th>
        </tr>

    {% endif %}

    <tr>
        <th scope="row w-100">
            <h6 class="mx-5 mb-0 pt-2 pb-3"><span class="pb-2 underline upper">Screen</span></h6>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5">
                <p class="pr-4 mb-0 w-50 text-right col-6">Screen resolution: </p>
                <p class="mb-0  w-50 text-left col-6">{{ product.resolution }}</p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5">
                <p class="pr-4 mb-0 w-50 text-right col-6">Screen diagonal: </p>
                <p class="mb-0  w-50 text-left col-6">{{ product.diagonal }}
                </p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <h6 class="mx-5 p-2 mb-0 pt-2 pb-3"><span class="pb-2 underline upper">Other</span></h6>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2 ">
                <p class="pr-4 mb-0 w-50 text-right col-6 col-6">Distribution: </p>
                <p class="mb-0 w-50 text-left col-6 col-6">{{ product.distribution }}</p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2 ">
                <p class="pr-4 mb-0 w-50 text-right col-6 col-6">Power consumption [W]: </p>
                <p class="mb-0 w-50 text-left col-6 col-6">{{ product.power_consumption }}</p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2 ">
                <p class="pr-4 mb-0 w-50 text-right col-6 col-6">Refresh rate [Hz]: </p>
                <p class="mb-0 w-50 text-left col-6 col-6">{{ product.refresh_rate }}</p>
            </div>
        </th>
    </tr>


    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2 ">
                <p class="pr-4 mb-0 w-50 text-right col-6 col-6">Matrix type: </p>
                <p class="mb-0 w-50 text-left col-6 col-6">{{ product.matrix_type }}</p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2 ">
                <p class="pr-4 mb-0 w-50 text-right col-6 col-6">Curved: </p>
                <p class="mb-0 w-50 text-left col-6 col-6">
                {% if product.curved %}Yes{% else %}N/a{% endif %}
                </p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2 ">
                <p class="pr-4 mb-0 w-50 text-right col-6 col-6">HDR: </p>
                <p class="mb-0 w-50 text-left col-6 col-6">
                {% if product.hdr %}Yes{% else %}N/a{% endif %}
                </p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2 ">
                <p class="pr-4 mb-0 w-50 text-right col-6 col-6">SMART TV: </p>
                <p class="mb-0 w-50 text-left col-6 col-6">
                {% if product.smart_tv %}Yes{% else %}N/a{% endif %}
                </p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2 ">
                <p class="pr-4 mb-0 w-50 text-right col-6 col-6">WiFI: </p>
                <p class="mb-0 w-50 text-left col-6 col-6">
                {% if product.wifi %}Yes{% else %}N/a{% endif %}
                </p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2 ">
                <p class="pr-4 mb-0 w-50 text-right col-6 col-6">Bluetooth: </p>
                <p class="mb-0 w-50 text-left col-6 col-6">
                {% if product.bluetooth %}Yes{% else %}N/a{% endif %}
                </p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2 ">
                <p class="pr-4 mb-0 w-50 text-right col-6 col-6">HDMI ports: </p>
                <p class="mb-0 w-50 text-left col-6 col-6">{{ product.hdmi_ports }}</p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2 ">
                <p class="pr-4 mb-0 w-50 text-right col-6 col-6">USB ports: </p>
                <p class="mb-0 w-50 text-left col-6 col-6">{{ product.usb_ports }}</p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2 ">
                <p class="pr-4 mb-0 w-50 text-right col-6 col-6">Energy class: </p>
                <p class="mb-0 w-50 text-left col-6 col-6">{{ product.energy_class }}</p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2 ">
                <p class="pr-4 mb-0 w-50 text-right col-6">High [cm]: </p>
                <p class="mb-0 w-50 text-left col-6">
                {% if product.high == 0 %}N/a {% else %}
                {{ product.change_high }}{% endif %}</p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2 ">
                <p class="pr-4 mb-0 w-50 text-right col-6">Width [cm]: </p>
                <p class="mb-0 w-50 text-left col-6">{% if product.width == 0 %}N/a 
                {% else %}
                {{ product.change_width }}
                {% endif %}
                </p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2 ">
                <p class="pr-4 mb-0 w-50 text-right col-6">Depth [cm]: </p>
                <p class="mb-0 w-50 text-left col-6">{% if product.deep == 0 %}N/a
                {% else %}
                {{ product.change_deep }}
                {% endif %}
                </p>
            </div>
        </th>
    </tr>

    <tr>
        <th scope="row w-100">
            <div class="d-flex justify-content-center mx-5 p-2">
                <p class="pr-4 mb-0 w-50 text-right col-6">Weight [kg]: </p>
                <p class="mb-0 w-50 text-left col-6">{% if product.weight == 0 %}N/a
                {% else %}
                {{ product.change_weight }}
                {% endif %}
                </p>
            </div>
        </th>
    </tr>
</tbody>