{% load static %}

<header class="">

    <!-- navbar -->
    <div class="bg-white box-shadow" id="navbar">
        <div class="container mb-4 ">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="{% url 'landing-page' %}"><img src="{% static 'images/blocks-logo/electronic2.png' %}" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <form class="form-inline my-2 my-lg-0 flex-row w-100 border rounded-pill d-flex justify-content-between search-query" method='GET'>
                    <div class="search-bar text-left">
                        <input class="form-control mr-sm-2 border-0 rounded-pill" type="search" placeholder="search.." aria-label="Search" name='search_query' value='{{search_query}}'>
                    </div>
                    <div class="form-cont d-flex ">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle drop-main" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% if param %}{{param}}{% else %}Everywhere{% endif %}</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                {% for cattegory in cattegories %}
                                    <a class="dropdown-item getCategorry" href="#" name='{{ cattegory }}'>{{cattegory}}</a>
                                {% endfor %}
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item getCategorry" name="Everywhere" href="#">Everywhere</a>
                            </div>

                        </li>
                        <button class="btn btn-outline-success my-sm-0 border-0 text-white rounded-pill" type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="25" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
                        </button>
                    </div>
                </form>

                <div class=" collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item ml-2" id="nav-line">
                            <a class="btn d-flex flex-column text-center" href="#contact"><i class="fas fa-headset fa-2x d-flex flex-column text-center"></i><span class="nav-font-size">Contact</span></a>
                        </li>
                        <li class="nav-item">
                        {% if user.is_authenticated %}
                            <a href="{% url 'account' %}" class="btn d-flex text-center flex-column">
                                <i class="fas fa-user-alt fa-2x"></i> 
                                <span class="nav-font-size">
                                    {% if user.first_name and user.last_name %}

                                    {{user.first_name }} {{ user.last_name }}

                                    {% else %}
                                    {{ user.username }}

                                    {% endif %}
                                </span>

                            </a>

                            {% else %}

                            <a href="" data-toggle="modal" data-target="#Modal1" class="btn d-flex text-center">
                                <i class="fas fa-user-alt fa-2x"></i>
                                <span class="nav-font-size"></span>Login
                            </a>

                        {% endif %}

                        </li>
                        <li class="nav-item">
                            <a href="{% url 'wishlist' %}" class="btn d-flex flex-column text-center wishlistNav">
                                <i class="fa-2x d-flex flex-column text-center {% if likes %}no-text-shadow fas fa-heart font-red {% else %}lni lni-heart{% endif %}"></i>
                                <span class="nav-font-size">Wishlist(<span class='likesNum'>{{likes}}</span>)</span>
                            </a>
                        </li>

                        <li class="nav-item" >
                            <div id="shopping-cart" data-totalitems={% if not order %}'0'{% else %}"{{ order.get_cart_items }}"{% endif %}>

                                <a data-product="{{ product.id }}" data-action="add" class="btn d-flex flex-column text-center" href= "{% url 'shopping-cart' %}">
                                    <i class="fas fa-shopping-cart fa-2x shopping-cart"></i>
                                    <span class="nav-font-size price-navbar">{{order.get_cart_total|floatformat:2}} $</span>
                                </a>

                            </div>
                        </li>
                    </ul>

                </div>
            </nav>
        </div>
    </div>


    <!-- Modal login-->

        {% if not user.is_authenticated %}
            <div class="modal fade" id="Modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

                <div class="line-close" data-dismiss="modal" aria-label="Close">
                    <div class="line"></div>
                </div>

                <!-- <button type="button" class="close " data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> -->
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="form-container">
                                <div class="inside-container d-flex flex-column bg-light-grey border-rounded">
                                    <div class="sign-in flex-container">
                                        <h3 class="inline"><span>Sign in</span> to continue</h3>
                                        <p class="inline">Not a member yet? <a class="btn mt-0 border-0 pl-1 font-red" href="{% url 'register' %}">Register now</a> </p>

                                    </div>
                                    <form action="{% url 'landing-page' %}" method="post" class="flex-container flex-column login-form">

                                        {% csrf_token %}
                                        {% load widget_tweaks %}

                                        {% render_field login_form.username type="text" autocomplete="username" placeholder="Email or Username" %}
                                        {% render_field login_form.password type="password" autocomplete="current-password" placeholder="Password" %}


                                        {% comment %} <input type="text" autocomplete="username" placeholder="Email or Username"> {% endcomment %}
                                        {% comment %} <input type="password" autocomplete="current-password" placeholder="Password"> {% endcomment %}
                                        <div class="check flex-container">
                                            {{ keep_me.keep_me_logged }}
                                            {% comment %} <input type="checkbox" class="checkbox"> {% endcomment %}
                                            <p class="inline">Keep me loggeed in</p>
                                        </div>
                                        <button type="submit" class="btn-red">Login Now</button>
                                    </form>
                                    <p class="forgot-pass"><a href="">Forgot your password?</a></p>
                                    <div class="social-sigin">
                                        <h2>Or sign in with</h2>

                                        <div class="social-buttons grid-container">
                                            <a href=""> <img src="{% static 'images/social-logos/google-icon.svg' %}" alt="">
                                                Google
                                            </a>
                                            <a href=""> <img src="{% static 'images/social-logos/twitter (2).svg' %}" alt="">
                                                Twitter</a>
                                            <a href=""> <img src="{% static 'images/social-logos/facebook-3.svg' %}" alt="">
                                                Facebook</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% endif %}

    <!-- Second bar -->

    <section class="another-navbar bg-white box-shadow">
        <div class="container flex-container fas-flex">
            <i class="fas fa-desktop"><a href="{% url 'products_cart' cattegory='PC' %}" class='p-3 fas-font'> Computers</a></i>
            <i class="fas fa-laptop"><a href="{% url 'products_cart' cattegory='Laptops' %}" class='p-3 fas-font'>Laptops</a></i>
            <i class="fas fa-tv"><a href="{% url 'products_cart' cattegory='TV' %}?page={{page}}" class='p-3 fas-font'>TV</a></i>
            <i class="fas fa-server"><a href="{% url 'products_cart' cattegory='Routers' %}" class='p-3 fas-font'> Routers</a></i>
            <i class="fas fa-tablet-alt"><a href="{% url 'products_cart' cattegory='Monitors' %}" class='p-3 fas-font'> Monitors</a></i>
            <i class="fas fa-mobile-alt"><a href="{% url 'products_cart' cattegory='Phones' %}" class='p-3 fas-font'> Smartphones</a></i>
            <i class="far fa-hdd"><a href="{% url 'products_cart' cattegory='Ram' %}" class='p-3 fas-font'> Ram's</a></i>
            <i class="fas fa-microchip"><a href="{% url 'products_cart' cattegory='CPU' %}" class='p-3 fas-font'> CPU's</a></i></i>

        </div>
    </section>
</header>

<script src="{% static 'js/nav/searchQuery.js' %}"></script>
