<div class="pt-5  not-data-block mb-0">

    <p class="pl-5 text-left font-light-grey">
        Producent Code:
        <span class='product-spec-span'>{{ product.producent_code }}</span>
    </p>

    <p class="pl-5 text-left font-light-grey">
        Ean:
        <span class='product-spec-span'>{{ product.ean }}</span>
    </p>

    <p class="pl-5 text-left font-light-grey">
        Disc PciE:
        <span class='product-spec-span'>{{ product.p_c_i_e }}</span>
    </p>

    <p class="pl-5 text-left font-light-grey">
        Ram:
        <span class='product-spec-span'>{{ product.ram }}</span>
    </p>

    <p class="pl-5 text-left font-light-grey">
        Processor:
        <span class='product-spec-span'>{{ product.processor }}</span>
    </p>

</div>