<div class="pt-5 not-data-block mb-0">

    <p class="pl-5 text-left font-light-grey">
        &bull; Producent Code:
        <span class='product-spec-span'>{{ product.producent_code }}</span>
    </p>

    <p class="pl-5 text-left font-light-grey">
        &bull; Ean:
        <span class='product-spec-span'>{{ product.ean }}</span>
    </p>

    <p class="pl-5 text-left font-light-grey">
        &bull; RAM:
        <span class='product-spec-span'>{{ product.ram }}</span>
    </p>

    <p class="pl-5 text-left font-light-grey">
        &bull; Processor:
        <span class='product-spec-span'>{{ product.processor }}</span>
    </p>

    <p class="pl-5 text-left font-light-grey">
        &bull; Disc Pcie:
        <span class='product-spec-span'>{{ product.p_c_i_e }}</span>
    </p>

</div>