{% extends 'base.html' %}

{% block content %}
{% load static %}
{% load custom_filters %}

    <!-- product page -->
    <!-- Main content section -->

    <!-- Buy it section -->
    
    <div class=" m-auto d-flex justify-content-between small-container" >

        <div class="buys flex-column sticky-top align-items-start my-3 buy-section-hide " >
            <!-- id="fixed" -->

            <div class="buys-container pt-4 pb-3 bg-white box-shadow pl-5 pr-5">

                <div class="">

                    <h2 class="w-100 pb-4">{{ product.price }} $</h2>

                    <div class="buys-it d-flex">
                        <select name="amount" id="" class="amount">

                            {% if pieces == 0 %}
                                <option value="0">0</option>
                            {% else %}
                                {% for num in pieces_range %}
                                    <option value="{{num}}">{{num}}</option>
                                {% endfor %}
                            {% endif %}

                            </select>
                            <a href="" class="ml-2 btn-red py-2 text-center w-100">Buy now</a>

                        </div>

                    <div class="d-flex justify-content-between left-pcs">
                        <p class="text-right pt-2 pl-1 font-light-grey pieces">Left: {{pieces}} pcs</p>
                        <p class="text-right pt-2 font-light-grey pieces pr-4">or</p>
                    </div>

                    <div class="d-flex basket">
                        {% if pieces <= 0%}
                            <button href="#" type="button" class="add-to-cart btn-light ml-2 p-2 pt-2 pb-2 text-center" disabled>Product is not avaiable </button>
                        {%else%}
                            <a href="#" data-product="{{ product|get_main_product_id }}" data-action="add" type="button" class="add-to-cart btn-red ml-2 pt-2 pb-2 text-center update-cart">Add to cart </a>
                        {% endif %}

                    </div>

                   {% include 'partials/free_deliver.html' %}

                </div>


            </div>
            <div class="d-flex justify-content-center align-items-end arrow-up ">
                <a href="#navbar" class="jump-smooth"><i class="far fa-arrow-alt-circle-up font-red"></i></a>
            </div>
        </div>

        <div class="rest-section" style="width: 100%;">
            {% include 'messages.html' %}
            <section id="product-section">

                <div class=" d-block mt-5 product-sect">

                    <div class="small-container mx-0">

                        <div class="main-product-div d-flex bg-white mt-4 mb-4 justify-content-between">

                            <!-- product images section -->
                            <div class="d-flex flex-column mini-images-section">
                                {% for key, value in product.return_images.items %}
                                    <img src="{{value}}" alt="" class="
                                    {% if value == product.main_photo.url %}
                                    active-product-content
                                    {% else %}
                                    mini-img
                                    {% endif %} p-3"
                                    data-image-name='{{ key }}'>
                                {% endfor %}

                            </div>
                            <div class="d-flex main-img">
                                <div class="align-self-center m-auto main-img-div">
                                    <img src="{% if product.main_photo %}{{ product.main_photo.url }}{% endif %}" class="main-pic" alt="" />
									{% comment %} <i class="far fa-heart font-red fa-2x"></i> {% endcomment %}
                                    <i class="lni lni-heart font-light-grey"></i>
                                </div>

                            </div>

                            <!-- product filter section -->

                            <div class="main-content d-flex flex-column pb-5 pt-4 border-left">

                                <h4 class="mt-2 mb-0 text-left pl-5 product-title">{{ product.name }}</h4>

                                <div class="d-flex w-100 product-id">
                                    <p class="text-left pl-5 pt-1 d-inline font-light-grey">Product ID: {{ product|get_main_product_id }}</p>
                                    {% if same_products|length >= 2 %}
                                        <a href='' class="text-left ml-3 pt-1 d-inline font-light-grey">Check similar products</a>
                                    {% endif %}
                                </div>

                                <div class="text-left pl-5 d-flex flex-column filter-section-reviews align-content-center">

                                    <div class="d-flex">
                                        <div class="d-flex">
                                            {% for element in product.get_star_avg.1 %}

                                                {% if element %}

                                                    <i class="fas fa-star font-red fa-1x m-auto"></i>

                                                {% else %}

                                                    <i class="far fa-star font-red fa-1x m-auto"></i>

                                                {% endif %}

                                            {% endfor %}
                                            <a href="#opinions" class='font-red pl-1 m-auto'>({% if not product.get_num_of_reviews %}0{% else %}{{product.get_num_of_reviews}}{% endif %})</a>
                                        </div>

                                        {% comment %} {% if product.get_num_of_questions %} {% endcomment %}

                                            <div class="pl-5">
                                                <a href='#ask-something' class='m-auto w-100 font-brown'>{{ product.get_num_of_questions }} Questions</a>
                                            </div>
                                    </div>

                                    {% comment %} {% endif %} {% endcomment %}

                                    <div class="pt-2">
                                        <p class='m-auto w-100 font-brown'>This product has been bought by {{ product.bought_num }} people </p>
                                    </div>

                                </div>

                                <div class="select-section">
                                    {% if product.cattegory == 'Phones' %}
                                        {% include 'products_filter_boxes/phones.html' %}
                                    {% elif product.cattegory == 'Laptops' %}
                                        {% include 'products_filter_boxes/Laptops.html' %}
                                    {% elif product.cattegory == 'PC' %}
                                        {% include 'products_filter_boxes/PC.html' %}
                                    {% elif product.cattegory == 'Monitors' %}
                                        {% include 'products_filter_boxes/Monitor.html' %}
                                    {% elif product.cattegory == 'Accesories for laptops' %}
                                        {% include 'products_filter_boxes/Accesories for laptops.html' %}
                                    {% elif product.cattegory == 'SSD' %}
                                        {% include 'products_filter_boxes/SSD.html' %}
                                    {% elif product.cattegory == 'Graphs' %}
                                        {% include 'products_filter_boxes/Graphs.html' %}
                                    {% elif product.cattegory == 'Ram' %}
                                        {% include 'products_filter_boxes/Ram.html' %}
                                    {% elif product.cattegory == 'Pendrives' %}
                                        {% include 'products_filter_boxes/Pendrives.html' %}
                                    {% elif product.cattegory == 'Routers' %}
                                        {% include 'products_filter_boxes/Routers.html' %}
                                    {% elif product.cattegory == 'Switches' %}
                                        {% include 'products_filter_boxes/Switches.html' %}
                                    {% elif product.cattegory == 'Motherboard' %}
                                        {% include 'products_filter_boxes/Motherboard.html' %}
                                    {% elif product.cattegory == 'CPU' %}
                                        {% include 'products_filter_boxes/CPU.html' %}
                                    {% elif product.cattegory == 'TV' %}
                                        {% include 'products_filter_boxes/TV.html' %}
                                    {% elif product.cattegory == 'Headphones' %}
                                        {% include 'products_filter_boxes/Headphones.html' %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- Buy it section -->

                    <div class="buy d-none flex-column align-items-start my-4" id="fixed">

                        <div class="buy-container justify-content-around px-4 pt-4 pb-3 bg-white box-shadow">
                            <div class="align-self-center w-20">
                                <h2 class="w-100 pb-4 text-left">3 299 zł</h2>
                            </div>



                            <div class="buy-it d-flex">
                                <a href="" class="btn-red ml-2 p-1 py-2 mr-2 text-center">Buy now</a>
                                <select name="amount" id="" class="">

                                    {% for num in  pieces_range %}

                                        <option value="{{ num }}">{{ num }}</option>

                                    {% endfor %}

                                    </select>
                                </div>

                            <div class="d-flex justify-content-between pl-3 left-pcs">
                                <p class="">or</p>
                                <p class="text-right pt-2 font-light-grey mb-0"><span class="hide-it">Left: {{ product.quantity }} pcs</span></p>
                            </div>

                            <div class="d-flex basket ">
                                <a href="" class=" btn-red border-rounded ml-2 p-2 pt-2 pb-2 text-center add-to-cart">Add to card</a>
                            </div>

                            <div class="free-deliver d-flex mt-4 border-top border-bottom py-3">

                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-truck mr-2 font-red" viewBox="0 0 16 16">
                                    <path d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                                </svg>
                                <h3 class="my-auto">Free Delivery</h3>
                            </div>
                        </div>
                </div>
            </section>

            <!-- product navbar -->

            <nav class="product-navbar-container bg-white box-shadow navbar navbar-expand-lg mb-4 d-flex sticky-top">
                <div class="w-100" id="navbarNav1">
                    <div class="small-container mx-0 w-100 ">
                        <div class=" bg-white ">
                            <ul class="navbar-nav justify-content-between d-flex">
                                <li class="nav-item"><a class="nav-link p-3 jump-smooth" href="#description">Description</a></li>
                                <li class="nav-item"><a class="nav-link p-3 jump-smooth" href="#specification">Specification</a></li>
                                <li class="nav-item"><a class="nav-link p-3 jump-smooth" href="#opinions">Opinions</a></li>
                                <li class="nav-item"><a class="nav-link p-3 jump-smooth" href="#ask-something">Ask and Answer</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>

            {% comment %} Use this if you want render specific product html template {% endcomment %}
            {% comment %} {{product.phones_product_data.render_html}} {% endcomment %}

            {% if product.cattegory == 'Phones' %}
                 {% include 'product_description_templates/Phones.html' %}
            {% elif product.cattegory == 'Laptops' %}
                 {% include 'product_description_templates/Laptops.html' %}
            {% elif product.cattegory == 'PC' %}
                 {% include 'product_description_templates/PC.html' %}
            {% elif product.cattegory == 'Monitors' %}
                 {% include 'product_description_templates/Monitor.html' %}
            {% elif product.cattegory == 'SSD' %}
                 {% include 'product_description_templates/SSD.html' %}
            {% elif product.cattegory == 'Graphs' %}
                 {% include 'product_description_templates/Graphs.html' %}
            {% elif product.cattegory == 'Ram' %}
                 {% include 'product_description_templates/Ram.html' %}
            {% elif product.cattegory == 'Routers' %}
                 {% include 'product_description_templates/Routers.html' %}
            {% elif product.cattegory == 'Motherboard' %}
                 {% include 'product_description_templates/Motherboard.html' %}
            {% elif product.cattegory == 'CPU' %}
                 {% include 'product_description_templates/CPU.html' %}
            {% elif product.cattegory == 'TV' %}
                 {% include 'product_description_templates/TV.html' %}
            {% endif %}





            <!-- Specification -->

            <section>
                <div class="mb-3 pb-4 pt-4" id="specification">
                    <div class="small-container bg-white box-shadow mx-0 p-5">
                        <table class="table table-striped account-table">

                            {% if product.cattegory == 'Phones' %}
                                {% include 'spec_table/phones.html' %}
                            {% elif product.cattegory == 'Laptops' %}
                                {% include 'spec_table/Laptops.html' %}
                            {% elif product.cattegory == 'PC' %}
                                {% include 'spec_table/PC.html' %}
                            {% elif product.cattegory == 'Monitors' %}
                                {% include 'spec_table/Monitor.html' %}
                            {% elif product.cattegory == 'Accesories for laptops' %}
                                {% include 'spec_table/Accesories for laptops.html' %}
                            {% elif product.cattegory == 'SSD' %}
                                {% include 'spec_table/SSD.html' %}
                            {% elif product.cattegory == 'Graphs' %}
                                {% include 'spec_table/Graphs.html' %}
                            {% elif product.cattegory == 'Ram' %}
                                {% include 'spec_table/Ram.html' %}
                            {% elif product.cattegory == 'Pendrives' %}
                                {% include 'spec_table/Pendrives.html' %}
                            {% elif product.cattegory == 'Routers' %}
                                {% include 'spec_table/Routers.html' %}
                            {% elif product.cattegory == 'Switches' %}
                                {% include 'spec_table/Switches.html' %}
                            {% elif product.cattegory == 'Motherboard' %}
                            {% include 'spec_table/Motherboard.html' %}
                            {% elif product.cattegory == 'CPU' %}
                                {% include 'spec_table/CPU.html' %}
                            {% elif product.cattegory == 'TV' %}
                                {% include 'spec_table/TV.html' %}
                            {% elif product.cattegory == 'Headphones' %}
                                {% include 'spec_table/Headphones.html' %}
                            {% endif %}

                        </table>
                    </div>


                </div>
            </section>

            <!-- Opinions -->
            <section class="my-3">
                <div class="d-flex flex-column" id="opinions">
                    <div class="small-container pt-3 mx-0 bg-white box-shadow">
                        <div class="d-flex border-bottom pb-5 mx-5 opinion-div justify-content-between">
                            <div class="d-flex flex-column pb-3 stars-class">
                                <h4 class="">Opinions</h4>
                                <div class="stars">

                                    {% for element in product.get_star_avg.1 %}

                                        {% if element %}

                                            <i class="fas fa-star font-red fa-2x"></i>

                                        {% else %}

                                            <i class="far fa-star fa-2x"></i>

                                        {% endif %}

                                    {% endfor %}
                                    {% comment %} <i class="fas fa-star font-red fa-3x"></i>
                                    <i class="fas fa-star font-red fa-3x"></i>
                                    <i class="fas fa-star font-red fa-3x"></i>
                                    <i class="far fa-star fa-3x"></i>
                                    <i class="far fa-star fa-3x"></i> {% endcomment %}
                                </div>
                                <a href="#reviews" class="w-100">{{ product.get_num_of_reviews }} review{{ product.get_num_of_reviews|pluralize }}</a>
                            </div>
                            <div class="rated-on d-flex flex-column pl-5">
                                <p class="">This product is rated on</p>
                                <h2><span> {{product.get_star_avg.0}}</span>/5</h2>
                            </div>
                            <div class="progress-bars ml-4">
                                {% for key, value in product.get_stars.items %}
                                <div class="d-flex">
                                    <p class="mb-0 bar">{{ key }}</p>
                                    <div class="bar d-flex">
                                        <i class="fas fa-star font-red align-self-center"></i>
                                    </div>
                                    <div class="progress align-items-center w-100 mt-1 mx-2 bar">
                                        <div class="progress-bar" role="progressbar" style="width: {{ value.1 }}%; height: 100%;" aria-valuenow="{{ value.1 }}" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <p class="mb-0 bar"> {% if value == 0 %}0{% else %}{{ value.1 }}{% endif %}%</p>
                                </div>

                                {% endfor %}

                                {% comment %} <div class="d-flex mb-2">
                                    <p class="mb-0">2</p>
                                    <div class="progress align-items-center w-100 mt-1 mx-2">
                                        <div class="progress-bar" role="progressbar" style="width: 50%; height: 100%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <p class="mb-0">2</p>
                                </div>
                                <div class="d-flex mb-2">
                                    <p class="mb-0">2</p>
                                    <div class="progress align-items-center w-100 mt-1 mx-2">
                                        <div class="progress-bar" role="progressbar" style="width: 75%; height: 100%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <p class="mb-0">2</p>
                                </div>
                                <div class="d-flex mb-2">
                                    <p class="mb-0">2</p>
                                    <div class="progress align-items-center w-100 mt-1 mx-2">
                                        <div class="progress-bar" role="progressbar" style="width: 100%; height: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <p class="mb-0">2</p>
                                </div>
                                <div class="d-flex mb-2">
                                    <p class="mb-0">2</p>
                                    <div class="progress align-items-center w-100 mt-1 mx-2">
                                        <div class="progress-bar" role="progressbar" style="width: 25%; height: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <p class="mb-0">2</p>
                                </div> {% endcomment %}
                            </div>

                            <div class="add-opinion">

                                <div class="modal fade" id="opinion-modal" tabindex="-1" role="dialog" aria-labelledby="question-modalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content p-5">
                                        <div class="modal-header">
                                            <div class="product-div d-flex w-100 text-left">
                                                <p class="w-100">{{product.name}}</p>
                                            </div>
                                            {% comment %} <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button> {% endcomment %}
                                        </div>
                                        <div class="modal-body">

                                            <!-- Form question submit -->

                                            <form class="review-form">
                                                {% csrf_token %}
                                                <div class="form-group" >

                                                    <div class="d-flex img-block mb-4 ">
                                                        <div class="d-flex flex-column">
                                                            <div class="w-100">
                                                                <p class='text-left pl-4'>Do you like this product?</p>
                                                                <div class="stars-in-review w-100 text-left pl-4 d-flex pb-4 ">
                                                                    <i class="far fa-star fa-2x stars-review-form font-red" data-numofstars='1'></i>
                                                                    <i class="far fa-star fa-2x stars-review-form" data-numofstars='2'></i>
                                                                    <i class="far fa-star fa-2x stars-review-form" data-numofstars='3'></i>
                                                                    <i class="far fa-star fa-2x stars-review-form" data-numofstars='4'></i>
                                                                    <i class="far fa-star fa-2x stars-review-form" data-numofstars='5'></i>
                                                                </div>
                                                            </div>
                                                            <div class="w-100 text-left pl-4">
                                                                    <label class='text-left'>What's your order number?</label>
                                                                    <input type="text" placeholder='Order number' class='order-number-review w-75 text-center form-control'>
                                                            </div>
                                                        </div>
                                                        <div class="pr-4">
                                                            <img src="{{product.main_photo.url}}" alt="">
                                                        </div>
                                                    </div>
                                                    <textarea class="form-control" data-productid='{{ product|get_main_product_id }}' id="opinion-form" rows="3"></textarea>


                                                </div>
                                                <button type="submit" class="btn btn-brown">Submit</button>
                                            </form>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <div class="write-opinion">
                                    <button type="button" class="btn-brown mx-4 px-5 box-shadow write-opinion-btn" data-toggle="modal" data-target="#opinion-modal">
                                        Write opinion
                                    </button>
                                </div>
                            </div>

                        </div>

                        <!-- user review -->

                        {% for review in reviews %}

                            <div class="d-flex mx-5 mt-3 border-bottom review-container py-2" id="reviews">
                                <div class="review pr-5">
                                    <i class="fas fa-user font-brown fa-2x"></i>
                                    <p>{{ review.user.username }}</p>
                                </div>
                                <div class="d-flex flex-column ml-4">
                                    <div class="text-left d-flex">
                                        <div class="stars">

                                            {% for star in review.get_range_stars %}
                                                {% if star %}
                                                    <i class="fas fa-star font-red "></i>

                                                {% else %}
                                                    <i class="far fa-star"></i>
                                                {% endif %}

                                            {% endfor %}

                                        </div>
                                        <p class="ml-2">{{ review.get_time }}</p>
                                    </div>
                                    <div class="user-review text-left">
                                        <p>{{ review.review|linebreaksbr }}</p>
                                    </div>
                                </div>
                            </div>

                        {% endfor %}

                    </div>


                </div>
            </section>

            <!-- Ask about soemthing section -->

            <div class="d-flex ask" id="ask-something">
                <div class="small-container w-100 bg-white pt-4 mb-4 box-shadow mx-0">
                    <div class="d-flex border-bottom pb-2 mx-5 ask-form justify-content-between">
                        <p>Do you have any question?</p>

                        <div class="modal fade" id="question-modal" tabindex="-1" role="dialog" aria-labelledby="question-modalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content p-5">
                                <div class="modal-header">
                                    <div class="product-div d-flex w-100">
                                        <img class='' src="{% if product.main_photo %}{{ product.main_photo.url }}{% endif %}" alt="">
                                        <div class="">
                                            <p class="align-self-center w-100 px-2">{{ product.name }}</p>
                                        </div>
                                    </div>
                                    {% comment %} <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button> {% endcomment %}
                                </div>
                                <div class="modal-body">

                                    <!-- Form question submit -->

                                    <form method="POST" class='question-form' data-productid='{{ product|get_main_product_id }}'>
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <textarea class="form-control" id="question-form" rows="3"></textarea>
                                        </div>
                                        <button type="submit" class="btn btn-brown">Submit</button>
                                    </form>
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="">
                            <button type="button" class="btn-brown mx-4 px-5 box-shadow" data-toggle="modal" data-target="#question-modal">
                                Ask something
                            </button>
                        </div>
                    </div>

                    <!-- user questions -->

                    {% for question in questions %}
                    {% if  question.question%}

                        <div class="d-flex mx-5 mt-3 border-bottom user-questions py-2">
                            <div class="review pr-5">
                                <i class="fas fa-user font-brown fa-2x"></i>
                                <p>{{question.user.username}}</p>
                            </div>
                            <div class="d-flex flex-column ml-4">
                                <div class="text-left d-flex">
                                    <p class="ml-2 text-left">{{ question.get_time }}</p>
                                </div>
                                <div class="user-question text-left">
                                    <p class="text-left pl-2">{{ question.question }}</p>
                                    {% if question.employer_reply %}
                                        <div class="bg-light-grey border-rounded py-2 mb-3 ml-5 px-2 text-left employer-reply">
                                            <p class='p-0 m-0'>{{ question.employer_reply }}</p>
                                        </div>

                                    {% endif %}
                                </div>
                            </div>
                        </div>

                    {% endif %}
                    {% endfor %}

                    <div class="d-none justify-content-center align-items-end arrow-ups">
                        <a href="#navbar" class="jump-smooth"><i class="far fa-arrow-alt-circle-up font-red"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.sticky/1.0.4/jquery.sticky.min.js" integrity="sha512-QABeEm/oYtKZVyaO8mQQjePTPplrV8qoT7PrwHDJCBLqZl5UmuPi3APEcWwtTNOiH24psax69XPQtEo5dAkGcA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {% comment %} <script src="static/js/jquery.sticky.js"></script> {% endcomment %}
    {% comment %} <script>
        $(document).ready(function(){
            $("#fixed").sticky({topSpacing:0});
        });
    </script> {% endcomment %}
    <script> const productId = '{{ product|get_main_product_id }}';</script>
    <script> const productIds = '{{ same_products.items_id }}'; </script>
    <script src="{% static 'js/ProductPage/productReview.js' %}"></script>
    <script src="{% static 'js/ProductPage/productReviewStars.js' %}"></script>
    <script src="{% static 'js/ProductPage/productQuestion.js' %}"></script>
    <script src="{% static 'js/ProductPage/changeMainPhoto.js' %}"></script>
    <script src="{% static 'js/ProductPage/sortSpecData.js' %}"></script>
    <script src="{% static 'js/ProductPage/getDataProduct.js' %}"></script>
    <script src="{% static 'js/productPage/renderProductDatailFilterBox.js' %}"></script>
    <script src="{% static 'js/productPage/tables.js' %}"></script>
    <script src="{% static 'js/productPage/jumpSmooth.js' %}"></script>

{% endblock %}