{% extends 'base.html' %}

{% block content %}
{% load static %}

    <!-- product page -->
    <!-- Main contect section -->

    <!-- Buy it section -->
    <div class="container m-auto d-flex justify-content-between " >

        <div class="buys flex-column sticky-top align-items-start my-4 buy-section-hide" >
            <!-- id="fixed" -->

            <div class="buys-container px-4 pt-4 pb-3 bg-white box-shadow">

                <h2 class="w-100 pb-4 text-left">{{ product.price }} $</h2>

                <div class="buys-it d-flex">
                    <a href="" class="btn-red ml-2 p-1 py-2 mr-2 text-center">Buy now</a>
                    <select name="amount" id="" class="amount">

                        {% if pieces == 0 %}
                            <option value="0">0</option>
                        {% else %} 
                            {% for num in pieces_range %}
                                <option value="{{num}}">{{num}}</option>
                            {% endfor %}
                        {% endif %}                    

                        </select>
                    </div>

                <div class="d-flex justify-content-between pl-3 left-pcs">
                    <p class="">or</p>
                    <p class="text-right pt-2 font-light-grey mb-0 pieces">Left: {{pieces}} pcs</p>
                </div>
                
                <div class="d-flex basket">
                    {% if pieces <= 0%} 
                        <button href="#" type="button" class="add-to-cart btn-light ml-2 p-2 pt-2 pb-2 text-center" disabled>Product is not avaiable </button>
                    {%else%}
                        <a href="#" data-product="{{ product.id }}" data-action="add" type="button" class="add-to-cart btn-red ml-2 p-2 pt-2 pb-2 text-center update-cart">Add to cart </a>
                    {% endif %}
                    
                </div>
            
                <div class="free-deliver d-flex mt-4 border-top border-bottom py-3">

                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-truck mr-2 font-red" viewBox="0 0 16 16">
                        <path d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                    </svg>
                    <h3 class="my-auto">Free Delivery</h3>
                </div>
            </div>
            <div class="d-flex justify-content-center align-items-end arrow-up">
                <a href="#product-section"><i class="far fa-arrow-alt-circle-up font-red"></i></a>
            </div>
        </div>

        <div class="rest-section" style="width: 100%;">
            {% include 'messages.html' %}
            <section id="product-section">

                <div class=" d-block mt-5 product-sect">

                    <div class="small-container mx-0">

                        <div class="main-product-div d-flex bg-white mt-4 mb-4 justify-content-between">
                            
                            <img src="{% if product.img %}{{ product.img.url }}{% endif %}" class="align-self-center m-auto main-pic" alt="" />
                            <div class="main-content d-flex flex-column pb-5 pt-4 border-left">
            
                                <h4 class="mt-2 mb-0 text-left pl-5">{{ product.name }}</h4>
                                
                                <div class="justify-content-between d-flex w-100 product-id flex-column">
                                    <p class="text-left pl-5 pt-1 d-inline font-light-grey">Product ID: {{ product.id }}</p>
                                </div>
            
                                <div class="select-section">
                                    {% if product.cattegory == 'Phones' %}
                                        {% include 'productapp/products_templates/phones.html' %}
                                    {% elif product.cattegory == 'Laptops' %}
                                        {% include 'productapp/products_templates/Laptops.html' %}
                                    {% elif product.cattegory == 'PC' %}
                                        {% include 'productapp/products_templates/PC.html' %}
                                    {% elif product.cattegory == 'Monitors' %}
                                        {% include 'productapp/products_templates/Monitor.html' %}
                                    {% elif product.cattegory == 'Accesories for laptops' %}
                                        {% include 'productapp/products_templates/Accesories for laptops.html' %}
                                    {% elif product.cattegory == 'SSD' %}
                                        {% include 'productapp/products_templates/SSD.html' %}
                                    {% elif product.cattegory == 'Graphs' %}
                                        {% include 'productapp/products_templates/Graphs.html' %}
                                    {% elif product.cattegory == 'Ram' %}
                                        {% include 'productapp/products_templates/Ram.html' %}
                                    {% elif product.cattegory == 'Pendrives' %}
                                        {% include 'productapp/products_templates/Pendrives.html' %}
                                    {% elif product.cattegory == 'Routers' %}
                                        {% include 'productapp/products_templates/Routers.html' %}
                                    {% elif product.cattegory == 'Switches' %}
                                        {% include 'productapp/products_templates/Switches.html' %}
                                    {% elif product.cattegory == 'Motherboard' %}
                                    {% include 'productapp/products_templates/Motherboard.html' %}
                                    {% elif product.cattegory == 'CPU' %}
                                        {% include 'productapp/products_templates/CPU.html' %}
                                    {% elif product.cattegory == 'TV' %}
                                        {% include 'productapp/products_templates/TV.html' %}
                                    {% elif product.cattegory == 'Headphones' %}
                                        {% include 'productapp/products_templates/Headphones.html' %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- Buy it section -->

                    <div class="buy d-none flex-column align-items-start my-4" id="fixed">

                        <div class="buy-container justify-content-around px-4 pt-4 pb-3 bg-white box-shadow">
                            <div class="align-self-center w-20">
                                <h2 class="w-100 pb-4 text-left">3 299 zł</h2>
                            </div>

                            

                            <div class="buy-it d-flex">
                                <a href="" class="btn-red ml-2 p-1 py-2 mr-2 text-center">Buy now</a>
                                <select name="amount" id="" class="">
                                    
                                    {% for num in  pieces_range %}

                                        <option value="{{ num }}">{{ num }}</option>

                                    {% endfor %}
            
                                    </select>
                                </div>

                            <div class="d-flex justify-content-between pl-3 left-pcs">
                                <p class="">or</p>
                                <p class="text-right pt-2 font-light-grey mb-0"><span class="hide-it">Left: {{ product.quantity }} pcs</span></p>
                            </div>
                            
                            <div class="d-flex basket ">
                                <a href="" class=" btn-red border-rounded ml-2 p-2 pt-2 pb-2 text-center add-to-cart">Add to card</a>
                            </div>
                        
                            <div class="free-deliver d-flex mt-4 border-top border-bottom py-3">

                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-truck mr-2 font-red" viewBox="0 0 16 16">
                                    <path d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                                </svg>
                                <h3 class="my-auto">Free Delivery</h3>
                            </div>
                        </div>               
                </div>
            </section>

            <!-- product navbar -->

            <nav class="product-navbar-container bg-white box-shadow navbar navbar-expand-lg mb-4 d-flex sticky-top">
                <div class="w-100" id="navbarNav1">
                    <div class="small-container mx-0 w-100 ">
                        <div class=" bg-white ">
                            <ul class="navbar-nav justify-content-between d-flex">
                                <li class="nav-item"><a class="nav-link p-3" href="#description">Description</a></li>
                                <li class="nav-item"><a class="nav-link p-3" href="#specification">Specification</a></li>
                                <li class="nav-item"><a class="nav-link p-3" href="#opinions">Opinions</a></li>
                                <li class="nav-item"><a class="nav-link p-3" href="#ask-something">Ask and Answer</a></li>
                            </ul>
                        </div>
                    </div>
                    
                </div>
            </nav>

            {% for object in object_list %}
                {{ object.render_html }}
            {% endfor %}

            

            <!-- Specification -->

            <section>
                <div class="mb-3 pb-4 pt-4" id="specification">
                    <div class="small-container bg-white box-shadow mx-0 p-5">
                        <table class="table table-striped account-table">
                            
                            {% if product.cattegory == 'Phones' %}
                                {% include 'productapp/product_spec/phones.html' %}
                            {% elif product.cattegory == 'Laptops' %}
                                {% include 'productapp/product_spec/Laptops.html' %}
                            {% elif product.cattegory == 'PC' %}
                                {% include 'productapp/product_spec/PC.html' %}
                            {% elif product.cattegory == 'Monitors' %}
                                {% include 'productapp/product_spec/Monitor.html' %}
                            {% elif product.cattegory == 'Accesories for laptops.html' %}
                                {% include 'productapp/product_spec/Accesories for laptops.html' %}
                            {% elif product.cattegory == 'SSD' %}
                                {% include 'productapp/product_spec/SSD.html' %}
                            {% elif product.cattegory == 'Graphs' %}
                                {% include 'productapp/product_spec/Graphs.html' %}
                            {% elif product.cattegory == 'Ram' %}
                                {% include 'productapp/product_spec/Ram.html' %}
                            {% elif product.cattegory == 'Pendrives' %}
                                {% include 'productapp/product_spec/Pendrives.html' %}
                            {% elif product.cattegory == 'Routers' %}
                                {% include 'productapp/product_spec/Routers.html' %}
                            {% elif product.cattegory == 'Switches' %}
                                {% include 'productapp/product_spec/Switches.html' %}
                            {% elif product.cattegory == 'Motherboard' %}
                            {% include 'productapp/product_spec/Motherboard.html' %}
                            {% elif product.cattegory == 'CPU' %}
                                {% include 'productapp/product_spec/CPU.html' %}
                            {% elif product.cattegory == 'TV' %}
                                {% include 'productapp/product_spec/TV.html' %}
                            {% elif product.cattegory == 'Headphones' %}
                                {% include 'productapp/product_spec/Headphones.html' %}
                            {% endif %}

                        </table> 
                    </div>

                    
                </div>
            </section>

            <!-- Opinions -->
            <section class="my-3">
                <div class="d-flex flex-column" id="opinions">
                    <div class="small-container pt-3 mx-0 bg-white box-shadow">
                        <div class="d-flex border-bottom pb-5 mx-5 opinion-div">
                            <div class="d-flex flex-column pb-3 stars-class">
                                <h4 class="text-left">Opinions</h4>
                                <div class="stars text-left pl-5">

                                    {% for element in product.get_star_avg.1 %}
                                    
                                        {% if element %}
                                        
                                            <i class="fas fa-star font-red fa-3x"></i>
                                        
                                        {% else %}

                                            <i class="far fa-star fa-3x"></i>    
                                        
                                        {% endif %}
                                    
                                    {% endfor %}
                                    {% comment %} <i class="fas fa-star font-red fa-3x"></i>
                                    <i class="fas fa-star font-red fa-3x"></i>
                                    <i class="fas fa-star font-red fa-3x"></i>
                                    <i class="far fa-star fa-3x"></i>
                                    <i class="far fa-star fa-3x"></i> {% endcomment %}
                                </div>
                                <a href="" class="text-left pl-5 ml-5">{{ product.get_num_of_reviews }} review{{ product.get_num_of_reviews|pluralize }}</a>
                            </div>
                            <div class="rated-on d-flex flex-column pl-5">
                                <p class="pt-3">This product is rated on</p>
                                <h2><span> {{product.get_star_avg.0}}</span>/5</h2>
                            </div>
                            <div class="progress-bars ml-4 pt-3">
                                {% for key, value in product.get_stars.items %}
                                {{ element }}
                                <div class="d-flex mb-2">
                                    <p>{{ element }}</p>
                                    <p class="mb-0">{{ key }}</p>
                                    <i class="fas fa-star font-red"></i>
                                    <div class="progress align-items-center w-100 mt-1 mx-2">
                                        <div class="progress-bar" role="progressbar" style="width: {{ value.1 }}%; height: 100%;" aria-valuenow="{{ value.1 }}" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <p class="mb-0"> {% if value == 0 %}0{% else %}{{ value.1 }}{% endif %}%</p>
                                </div>

                                {% endfor %}

                                {% comment %} <div class="d-flex mb-2">
                                    <p class="mb-0">2</p>
                                    <div class="progress align-items-center w-100 mt-1 mx-2">
                                        <div class="progress-bar" role="progressbar" style="width: 50%; height: 100%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <p class="mb-0">2</p>
                                </div>
                                <div class="d-flex mb-2">
                                    <p class="mb-0">2</p>
                                    <div class="progress align-items-center w-100 mt-1 mx-2">
                                        <div class="progress-bar" role="progressbar" style="width: 75%; height: 100%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <p class="mb-0">2</p>
                                </div>
                                <div class="d-flex mb-2">
                                    <p class="mb-0">2</p>
                                    <div class="progress align-items-center w-100 mt-1 mx-2">
                                        <div class="progress-bar" role="progressbar" style="width: 100%; height: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <p class="mb-0">2</p>
                                </div>
                                <div class="d-flex mb-2">
                                    <p class="mb-0">2</p>
                                    <div class="progress align-items-center w-100 mt-1 mx-2">
                                        <div class="progress-bar" role="progressbar" style="width: 25%; height: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <p class="mb-0">2</p>
                                </div> {% endcomment %}
                            </div>

                            <div class="add-opinion">
                                
                                <div class="modal fade" id="opinion-modal" tabindex="-1" role="dialog" aria-labelledby="question-modalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content p-5">
                                        <div class="modal-header">
                                            <div class="product-div d-flex">
                                                <p class="align-self-center w-100">Let us know, what you think about this product</p>
                                            </div>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                    
                                            <!-- Form question submit -->
                    
                                            <form class="review-form">
                                                {% csrf_token %}
                                                <div class="form-group" >
                                                    <textarea class="form-control" data-productid='{{ product.id }}' id="opinion-form" rows="3"></textarea>
                                                    <input type="text" placeholder='Write your order number here..' class='order-number-review'>
                                                    <p>Do you like this product?</p>
                                                    <div class="">
                                                        <div class="stars-in-review">
                                                            <i class="far fa-star fa-3x stars-review-form" data-numofstars='1'></i>
                                                            <i class="far fa-star fa-3x stars-review-form" data-numofstars='2'></i>
                                                            <i class="far fa-star fa-3x stars-review-form" data-numofstars='3'></i>
                                                            <i class="far fa-star fa-3x stars-review-form" data-numofstars='4'></i>
                                                            <i class="far fa-star fa-3x stars-review-form" data-numofstars='5'></i>
                                                        </div>
                                                    </div>
                                                    
                                                    
                                                </div>
                                                <button type="submit" class="btn btn-red">Submit</button>
                                            </form>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <div class="">
                                    <button type="button" class="box-shadow btn-red mx-4 px-5 border-rounded" data-toggle="modal" data-target="#opinion-modal">
                                        Write your opinion
                                    </button>
                                </div>
                            </div>
                            
                        </div>
            
                        <!-- user review -->

                        {% for review in reviews %}

                            <div class="d-flex mx-5 mt-3 border-bottom review-container">
                                <div class="review pr-5">
                                    <i class="fas fa-user font-red fa-2x"></i>
                                    <p>{{ review.user.username }}</p>
                                </div>
                                <div class="d-flex flex-column ml-4">
                                    <div class="text-left d-flex">
                                        <div class="stars">
                                        
                                            {% for star in review.get_range_stars %}
                                                {% if star %}
                                                    <i class="fas fa-star font-red "></i>

                                                {% else %}
                                                    <i class="far fa-star"></i>
                                                {% endif %}

                                            {% endfor %}

                                        </div>
                                        <p class="ml-2">{{ review.get_time }}</p>
                                    </div>
                                    <div class="">
                                        <p>{{ review.review }}</p>
                                    </div>
                                </div>
                            </div>
                        
                        {% endfor %}
            
                    </div>
                    
                        
                </div>
            </section>

            <!-- Ask about soemthing section -->

            <div class="d-flex ask" id="ask-something">
                <div class="small-container w-100 bg-white pt-4 mb-4 box-shadow mx-0">
                    <div class="d-flex border-bottom pb-2 mx-5 ask-form">
                        <p>Do you have any question?</p>
                        
                        <div class="modal fade" id="question-modal" tabindex="-1" role="dialog" aria-labelledby="question-modalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content p-5">
                                <div class="modal-header">
                                    <div class="product-div d-flex">
                                        <img src="https://images.morele.net/i1064/7845491_0_i1064.jpg" alt="">
                                        <p class="align-self-center w-100">{{ product.name }}</p>
                                    </div>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
            
                                    <!-- Form question submit -->
            
                                    <form method="POST" class='question-form' data-productid='{{ product.id }}'>
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <textarea class="form-control" id="question-form" rows="3"></textarea>
                                        </div>
                                        <button type="submit" class="btn btn-red">Submit</button>
                                    </form>
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="">
                            <button type="button" class="btn-red mx-4 px-5 border-rounded box-shadow" data-toggle="modal" data-target="#question-modal">
                                Ask something
                            </button>
                        </div>
                        
                    </div>
            
                    <!-- user questions -->

                    {% for question in questions %}
                    {% if  question.question%} 
                    
                        <div class="d-flex mx-5 mt-3 border-bottom user-questions">
                            <div class="review pr-5">
                                <i class="fas fa-user font-red fa-2x"></i>
                                <p>{{question.user.username}}</p>
                            </div>
                            <div class="d-flex flex-column ml-4 w-50">
                                <div class="text-left d-flex">
                                    <h3></h3>
                                    <p class="ml-2 text-left">{{ question.get_time }}</p>
                                </div>
                                <div class="">
                                    <p class="text-left pl-2">{{ question.question }}</p>
                                    {% if question.employer_reply %}
                                        <div class="bg-light-grey border-rounded py-1 mb-3 ml-5 w-25">
                                            <p class='p-0 m-0'>{{ question.employer_reply }}</p>
                                        </div>
                                        
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    
                    {% endif %}
                    {% endfor %}
                    
                    <div class="d-none justify-content-center align-items-end arrow-ups">
                        <a href="#product-section"><i class="far fa-arrow-alt-circle-up font-red"></i></a>
                    </div>
                </div>  
            </div>
        </div>
    </div>

    <script 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.sticky/1.0.4/jquery.sticky.min.js" integrity="sha512-QABeEm/oYtKZVyaO8mQQjePTPplrV8qoT7PrwHDJCBLqZl5UmuPi3APEcWwtTNOiH24psax69XPQtEo5dAkGcA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </script>
    {% comment %} <script src="static/js/jquery.sticky.js"></script> {% endcomment %}
    {% comment %} <script>
        $(document).ready(function(){
            $("#fixed").sticky({topSpacing:0});
        });
    </script> {% endcomment %}
    <script>
        
    </script>
    <script src='{% static 'js/productReview.js' %}'></script>
    <script src='{% static 'js/productReviewStars.js' %}'></script>
    <script src='{% static 'js/productQuestion.js' %}'></script>

{% endblock %}