{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}


{% block content  %}
<link rel="stylesheet" href="{% static 'css/bootstrap_list.css' %}">

{% comment %}
<div class="container mt-4">
	<div class="row">
		<aside class="col-md-3">

			<div class="card">
				<article class="filter-group">
					<header class="card-header">
						<a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
							<i class="icon-control fa fa-chevron-down"></i>
							<h6 class="title">Producent</h6>
						</a>
					</header>
					<div class="filter-content collapse show" id="collapse_1" style="">
						<div class="card-body">
							<form class="pb-3">
							<div class="input-group">
							</div>
							</form>

							<ul class="list-menu">
							{% for producent, number in producents.items %}
								<label class="custom-control custom-checkbox">
								<input type="checkbox" checked="" class="custom-control-input">
									<div class="custom-control-label">{{ producent }}
										<b class="badge badge-pill badge-light float-right">{{number}}</b>
									</div>
								</label>
							{% endfor %}
							</ul>

						</div> <!-- card-body.// -->
					</div>
				</article> <!-- filter-group  .// -->


				{% if cattegory == 'Phones' %}
					{% include 'partials/filter_bar_products_list/phones.html' %}
				{% elif cattegory == 'Laptops' %}
					{% include 'partials/filter_bar_products_list/Laptops.html' %}
				{% elif cattegory == 'PC' %}
					{% include 'partials/filter_bar_products_list/PC.html' %}
				{% elif cattegory == 'Monitors' %}
					{% include 'partials/filter_bar_products_list/Monitor.html' %}
				{% elif cattegory == 'Accesories for laptops' %}
					{% include 'partials/filter_bar_products_list/Accesories for laptops.html' %}
				{% elif cattegory == 'SSD' %}
					{% include 'partials/filter_bar_products_list/SSD.html' %}
				{% elif cattegory == 'Graphs' %}
					{% include 'partials/filter_bar_products_list/Graphs.html' %}
				{% elif cattegory == 'Ram' %}
					{% include 'partials/filter_bar_products_list/Ram.html' %}
				{% elif cattegory == 'Pendrives' %}
					{% include 'partials/filter_bar_products_list/Pendrives.html' %}
				{% elif cattegory == 'Routers' %}
					{% include 'partials/filter_bar_products_list/Routers.html' %}
				{% elif cattegory == 'Switches' %}
					{% include 'partials/filter_bar_products_list/Switches.html' %}
				{% elif cattegory == 'Motherboard' %}
					{% include 'partials/filter_bar_products_list/Motherboard.html' %}
				{% elif cattegory == 'CPU' %}
					{% include 'partials/filter_bar_products_list/CPU.html' %}
				{% elif cattegory == 'TV' %}
					{% include 'partials/filter_bar_products_list/TV.html' %}
				{% elif cattegory == 'Headphones' %}
					{% include 'partials/filter_bar_products_list/Headphones.html' %}
				{% endif %}



				<article class="filter-group">
					<header class="card-header">
						<a href="#" data-toggle="collapse" data-target="#collapse_3" aria-expanded="true" class="">
							<i class="icon-control fa fa-chevron-down"></i>
							<h6 class="title">Price range </h6>
						</a>
					</header>
					<div class="filter-content collapse show" id="collapse_3" style="">
						<div class="card-body">
							<input type="range" class="custom-range" min="0" max="100" name="">
							<div class="form-row">
							<div class="form-group col-md-6">
							<label>Min</label>
							<input class="form-control" placeholder="$0" type="number">
							</div>
							<div class="form-group text-right col-md-6">
							<label>Max</label>
							<input class="form-control" placeholder="$1,0000" type="number">
							</div>
							</div> <!-- form-row.// -->
							<button class="btn btn-block btn-primary">Apply</button>
						</div><!-- card-body.// -->
					</div>
				</article> <!-- filter-group .// -->
				<article class="filter-group">
					<header class="card-header">
						<a href="#" data-toggle="collapse" data-target="#collapse_4" aria-expanded="true" class="">
							<i class="icon-control fa fa-chevron-down"></i>
							<h6 class="title">Sizes </h6>
						</a>
					</header>
					<div class="filter-content collapse show" id="collapse_4" style="">
						<div class="card-body">
						<label class="checkbox-btn">
							<input type="checkbox">
							<span class="btn btn-light"> XS </span>
						</label>

						<label class="checkbox-btn">
							<input type="checkbox">
							<span class="btn btn-light"> SM </span>
						</label>

						<label class="checkbox-btn">
							<input type="checkbox">
							<span class="btn btn-light"> LG </span>
						</label>

						<label class="checkbox-btn">
							<input type="checkbox">
							<span class="btn btn-light"> XXL </span>
						</label>
					</div><!-- card-body.// -->
					</div>
				</article> <!-- filter-group .// -->
				<article class="filter-group">
					<header class="card-header">
						<a href="#" data-toggle="collapse" data-target="#collapse_5" aria-expanded="false" class="">
							<i class="icon-control fa fa-chevron-down"></i>
							<h6 class="title">More filter </h6>
						</a>
					</header>
					<div class="filter-content collapse in" id="collapse_5" style="">
						<div class="card-body">
							<label class="custom-control custom-radio">
							<input type="radio" name="myfilter_radio" checked="" class="custom-control-input">
							<div class="custom-control-label">Any condition</div>
							</label>

							<label class="custom-control custom-radio">
							<input type="radio" name="myfilter_radio" class="custom-control-input">
							<div class="custom-control-label">Brand new </div>
							</label>

							<label class="custom-control custom-radio">
							<input type="radio" name="myfilter_radio" class="custom-control-input">
							<div class="custom-control-label">Used items</div>
							</label>

							<label class="custom-control custom-radio">
							<input type="radio" name="myfilter_radio" class="custom-control-input">
							<div class="custom-control-label">Very old</div>
							</label>
						</div><!-- card-body.// -->
					</div>
				</article> <!-- filter-group .// -->
			</div> <!-- card.// -->

		</aside>

		<main class="col-md-9">

			<header class="border-bottom mb-4 pb-3">
					<div class="form-inline">
						<span class="mr-md-auto">{{products_total}} Item{{products_total|pluralize}} found ({{products|length}} item{{products_total|pluralize}} on this page) </span>
						<select class="mr-2 form-control product-filter-parameter">
							<option value='latest' {% if filter_option == 'latest' %}selected{% endif %}>Latest items</option>
							<option value='trending' {% if filter_option == 'trending' %}selected{% endif %}>Trending</option>
							<option value='popular' {% if filter_option == 'popular' %}selected{% endif %}>Most Popular</option>
							<option value='cheapest' {% if filter_option == 'cheapest' %}selected{% endif %}>Cheapest</option>
						</select>
						<div class="btn-group">
							<a href="#" class="btn btn-outline-secondary active ListView" data-toggle="tooltip" title="" data-original-title="List view">
								<i class="fa fa-bars"></i></a>
							<a href="#" class="btn btn-outline-secondary GridView" data-toggle="tooltip" title="" data-original-title="Grid view">
								<i class="fa fa-th"></i></a>
						</div>
					</div>
			</header><!-- sect-heading -->
			<div class="toogle-products">

				{% for product in products %}

				<div class="row productsList">
					<div class="col-md-4 product-bar">
						<figure class="card card-product-grid productList-flex p-4">

							<div class="d-flex wrap-photo-and-icon">
								<div class="img-wrap d-flex">
									<img src="{{product.img.url}}" class="img-fluid main-pic">
								</div> <!-- img-wrap.// -->
								<i class="lni lni-heart font-light-grey"></i>

							</div>

							<figcaption class="info-wrap ml-4 product-description-list-page ">
								<div class="fix-height d-flex flex-column">
									<a href="{% url 'product_page' product.id %}" class="title text-left">{{ product.name }}</a>
									<div class="d-flex align-content-center pt-2 stars-div">

										<div class="d-flex">

											{% for element in product.get_star_avg.1 %}
												{% if element %}

													<i class="fas fa-star font-red fa-1x m-auto"></i>

												{% else %}

													<i class="far fa-star font-red fa-1x m-auto"></i>

												{% endif %}
											{% endfor %}
											<a href="{% url 'product_page' product.id %}#opinions" class='font-red pl-1 m-auto'>({% if not product.get_num_of_reviews %}0{% else %}{{product.get_num_of_reviews}}{% endif %})</a>

										</div>

										{% if product.get_num_of_questions %}
											<div class="pl-5">
												<a href="{% url 'product_page' product.id %}#ask-something" class='m-auto w-100 font-brown'>{{ product.get_num_of_questions }} Questions</a>
											</div>
										{% endif %}

										{% if  product.bought_num %}
											<div class="pl-5">
												<p class='m-auto w-100 font-brown'>Bought by {{ product.bought_num }} people </p>
											</div>
										{% endif %}

									</div>

									<div class="descriptionList">

										{% if product.cattegory == 'Phones' %}
											{% include 'partials/productSpecification_list/phones.html' %}
										{% elif product.cattegory == 'Laptops' %}
											{% include 'partials/productSpecification_list/Laptops.html' %}
										{% elif product.cattegory == 'PC' %}
											{% include 'partials/productSpecification_list/PC.html' %}
										{% elif product.cattegory == 'Monitors' %}
											{% include 'partials/productSpecification_list/Monitor.html' %}
										{% elif product.cattegory == 'Accesories for laptops' %}
											{% include 'partials/productSpecification_list/Accesories for laptops.html' %}
										{% elif product.cattegory == 'SSD' %}
											{% include 'partials/productSpecification_list/SSD.html' %}
										{% elif product.cattegory == 'Graphs' %}
											{% include 'partials/productSpecification_list/Graphs.html' %}
										{% elif product.cattegory == 'Ram' %}
											{% include 'partials/productSpecification_list/Ram.html' %}
										{% elif product.cattegory == 'Pendrives' %}
											{% include 'partials/productSpecification_list/Pendrives.html' %}
										{% elif product.cattegory == 'Routers' %}
											{% include 'partials/productSpecification_list/Routers.html' %}
										{% elif product.cattegory == 'Switches' %}
											{% include 'partials/productSpecification_list/Switches.html' %}
										{% elif product.cattegory == 'Motherboard' %}
											{% include 'partials/productSpecification_list/Motherboard.html' %}
										{% elif product.cattegory == 'CPU' %}
											{% include 'partials/productSpecification_list/CPU.html' %}
										{% elif product.cattegory == 'TV' %}
											{% include 'partials/productSpecification_list/TV.html' %}
										{% elif product.cattegory == 'Headphones' %}
											{% include 'partials/productSpecification_list/Headphones.html' %}
										{% endif %}

									</div>

								</div>
							</figcaption>

							<div class="ml-2 mr-4 py-1 product-price-list-page d-flex flex-column justify-content-center">
								<div class="price-wrap mt-2">

									{% if product.promotion %}
										<div class="d-flex flex-column">
											<div class="d-flex">
												<span class="badge badge-danger font-size-0-8"> PROMOTION </span>
												<del class="price-old font-size-0-8 pl-3">${{product.price}}</del>
											</div>
											<span class="price pt-3">${{product.promotion}}</span>
										</div>

									{% else %}
										<span class="price pt-5">${{product.price}}</span>
									{% endif %}

									{% include 'partials/free_deliver.html' %}


								</div> <!-- price-wrap.// -->
								<div class="d-flex basket ">
									<a href="#" data-product="{{ product.id }}" data-action="add" class=" update-cart add-to-cart btn btn-block btn-red">Add to cart </a>
								</div>
							</div>
						</figure>
					</div>
				</div> <!-- col.// -->

			{% endfor %}

			</div>

			<nav class="mt-4" aria-label="Page navigation sample">

			{% if products.has_other_pages %}
				<ul class="pagination justify-content-center">

					{% if products.has_previous %}

						<li class="page-item"><a class="page-link toogle-view" href="{% url 'products_cart' cattegory %}?page={{ products.previous_page_number }}">&#10094; Prev</a></li>

						{% if 1 not in custom_range %}

							<li class="page-item
							{% if page == products.number %}active btn-red
							{% endif %} "><a class="page-link toogle-view"
							href="{% url 'products_cart' cattegory %}?page=1
							{% if filter_option %}&filter={{filter_option}}
							{% endif %}">First page</a>
							</li>

							<li class="page-item"><a class="page-link toogle-view">..</a></li>

						{% endif %}


					{% endif %}

					{% for page in custom_range %}

						<li class="page-item
						{% if page == products.number %}active
						{% endif %} "><a class="page-link toogle-view" href="{% url 'products_cart' cattegory %}?page={{page}}{% if filter_option %}&filter={{filter_option}}{% endif %}">{{page}}</a></li>


					{% endfor %}

					{% if products.number not in page_num_range %}

						<li class="page-item"><p class="page-link toogle-view">..</p></li>
						<li class="page-item"><a class="page-link toogle-view"
						href="{% url 'products_cart' cattegory %}?page={{last_page}}
						{% if filter_option %}&filter={{filter_option}}
						{% endif %}">Last page</a>
						</li>

					{% endif %}

					{% if products.has_next %}

						<li class="page-item"><a class="page-link toogle-view" href="{% url 'products_cart' cattegory %}?page={{ products.next_page_number }}">Next &#10095;</a></li>

					{% endif %}

				</ul>
			{% endif %}
			</nav>

		</main>
	</div>
</div> {% endcomment %}



<div class="container bg-white mt-5 mb-5 box-shadow">
<div class="wrapper ">
    <div class="d-md-flex align-items-md-center">
        <div class="h3 cattegory_cat">{{cattegory}}</div>
        <div class="ml-auto d-flex align-items-center views">
			<span class="btn {% if request.get_full_path|find_grid %} font-red {% endif %} grid-view">
				<span class="fas fa-th px-md-2 px-1"></span>
				<span>Grid view</span>
			</span>
			<span class="btn list-view {% if not request.get_full_path|find_grid %} font-red {% endif %}">
				<span class="fas fa-list-ul"></span>
				<span class="px-md-2 px-1">List view</span>
			</span>
			<span class="green-label px-md-2 px-1">{{products_total}}</span>
			<span class="text-muted">Product{{products_total|pluralize}}</span>
		</div>
    </div>
    <div class="d-lg-flex align-items-lg-center pt-2">
        <div class="form-inline d-flex align-items-center  mr-lg-2 radio bg-light border product-filter-parameters">
			<label class="options">Latest
				<input type="radio" name="radio" value='latest' {% if filter_option == 'latest' %}checked{% endif %}>
				<span class="checkmark"></span>
			</label>
			<label class="options">Most Popular
				<input type="radio" name="radio" value='popular' {% if filter_option == 'popular' %}checked{% endif %}>
				<span class="checkmark"></span>
			</label>
			<label class="options">Cheapest
				<input type="radio" name="radio" value='cheapest' {% if filter_option == 'cheapest' %}checked{% endif %}>
				<span class="checkmark"></span>
			</label>
			<label class="options">Trending
				<input type="radio" name="radio" value='trending' {% if filter_option == 'trending' %}checked{% endif %}>
				<span class="checkmark"></span>
			</label>
		</div>
        {% comment %} <div class="form-inline d-flex align-items-center  checkbox bg-light border mx-lg-2">
			<label class="tick">Farm
				<input type="checkbox" checked="checked">
				<span class="check"></span>
			</label>
			<span class="text-success px-2 count"> 328</span>
		</div> {% endcomment %}

		{% if cattegory == 'Phones' %}
			{% include 'partials/filter_horizontal_bar/phones.html' %}
		{% elif cattegory == 'Laptops' %}
			{% include 'partials/filter_horizontal_bar/Laptops.html' %}
		{% elif cattegory == 'PC' %}
			{% include 'partials/filter_horizontal_bar/PC.html' %}
		{% elif cattegory == 'Monitors' %}
			{% include 'partials/filter_horizontal_bar/Monitor.html' %}
		{% elif cattegory == 'Accesories for laptops' %}
			{% include 'partials/filter_horizontal_bar/Accesories for laptops.html' %}
		{% elif cattegory == 'SSD' %}
			{% include 'partials/filter_horizontal_bar/SSD.html' %}
		{% elif cattegory == 'Graphs' %}
			{% include 'partials/filter_horizontal_bar/Graphs.html' %}
		{% elif cattegory == 'Ram' %}
			{% include 'partials/filter_horizontal_bar/Ram.html' %}
		{% elif cattegory == 'Pendrives' %}
			{% include 'partials/filter_horizontal_bar/Pendrives.html' %}
		{% elif cattegory == 'Routers' %}
			{% include 'partials/filter_horizontal_bar/Routers.html' %}
		{% elif cattegory == 'Switches' %}
			{% include 'partials/filter_horizontal_bar/Switches.html' %}
		{% elif cattegory == 'Motherboard' %}
			{% include 'partials/filter_horizontal_bar/Motherboard.html' %}
		{% elif cattegory == 'CPU' %}
			{% include 'partials/filter_horizontal_bar/CPU.html' %}
		{% elif cattegory == 'TV' %}
			{% include 'partials/filter_horizontal_bar/TV.html' %}
		{% elif cattegory == 'Headphones' %}
			{% include 'partials/filter_horizontal_bar/Headphones.html' %}
		{% endif %}

		<!-- Producents filter -->

        <div class="form-inline d-flex align-items-center  checkbox bg-light border mx-lg-2">
			{% with request.get_full_path|find_producent as producent %}
					{% load widget_tweaks %}
					<label class="tick producentsFilters" > {{producent}}
						<input type="checkbox" value='{{producent}}' class="producentFilters">
						<span>{% render_field form.form.producent class="check checkchecked" type="checkbox" %}</span>
						<span class="check checkchecked"></span>
					</label>

				<span class="border px-1 mx-2 mr-3 font-weight-bold count countProducents text-success"> {{producents|get_attr:producent}}</span>
				<select name="country" id="country" class="bg-light">
					<option value="" hidden>Producent </option>
					{% for producent, number in producents.items %}
						<option class='producentOption' value="{{producent}},{{number}}">{{producent}}</option>
					{% endfor %}
				</select>
			{% endwith %}
		</div>

    </div>

	<!-- Applied filters section -->

    <div class="d-sm-flex align-items-sm-center pt-2 clear filters-active">
        <div class="text-muted filter-label mr-1">Applied Filters:</div>
		{% if filter_option %}
        	<div class="green-label font-weight-bold p-0 px-1 mx-sm-1 mx-0 my-sm-0 my-2">{{filter_option|capfirst }} <span class=" px-1 close">&times;</span> </div>
		{% endif %}

		{% if cattegory == 'Phones' %}
			{% include 'partials/applied_filters/phones.html' %}
		{% elif cattegory == 'Laptops' %}
			{% include 'partials/applied_filters/Laptops.html' %}
		{% elif cattegory == 'PC' %}
			{% include 'partials/applied_filters/PC.html' %}
		{% elif cattegory == 'Monitors' %}
			{% include 'partials/applied_filters/Monitor.html' %}
		{% elif cattegory == 'Accesories for laptops' %}
			{% include 'partials/applied_filters/Accesories for laptops.html' %}
		{% elif cattegory == 'SSD' %}
			{% include 'partials/applied_filters/SSD.html' %}
		{% elif cattegory == 'Graphs' %}
			{% include 'partials/applied_filters/Graphs.html' %}
		{% elif cattegory == 'Ram' %}
			{% include 'partials/applied_filters/Ram.html' %}
		{% elif cattegory == 'Pendrives' %}
			{% include 'partials/applied_filters/Pendrives.html' %}
		{% elif cattegory == 'Routers' %}
			{% include 'partials/applied_filters/Routers.html' %}
		{% elif cattegory == 'Switches' %}
			{% include 'partials/applied_filters/Switches.html' %}
		{% elif cattegory == 'Motherboard' %}
			{% include 'partials/applied_filters/Motherboard.html' %}
		{% elif cattegory == 'CPU' %}
			{% include 'partials/applied_filters/CPU.html' %}
		{% elif cattegory == 'TV' %}
			{% include 'partials/applied_filters/TV.html' %}
		{% elif cattegory == 'Headphones' %}
			{% include 'partials/applied_filters/Headphones.html' %}
		{% endif %}
        {% comment %} <div class="green-label font-weight-bold p-0 px-1 mx-sm-1 mx-0">Selected Filtre <span class=" px-1 close">&times;</span> </div> {% endcomment %}
    </div>

	<!-- Mobile view? -->

    <div class="filters"> <button class="btn btn-success" type="button" data-toggle="collapse" data-target="#mobile-filter" aria-expanded="true" aria-controls="mobile-filter">Filter<span class="px-1 fas fa-filter"></span></button> </div>
    <div id="mobile-filter">
        {% comment %} <div class="py-3">
            <h5 class="font-weight-bold">Categories</h5>
            <ul class="list-group">
                <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center category"> vegetables <span class="badge badge-primary badge-pill">328</span> </li>
                <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center category"> Fruits <span class="badge badge-primary badge-pill">112</span> </li>
                <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center category"> Kitchen Accessories <span class="badge badge-primary badge-pill">32</span> </li>
                <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center category"> Chefs Tips <span class="badge badge-primary badge-pill">48</span> </li>
            </ul>
        </div> {% endcomment %}
        <div class="py-3">
            <h5 class="font-weight-bold">Brands</h5>
            <form class="brand">
                <div class="form-inline d-flex align-items-center py-1"> <label class="tick">Royal Fields <input type="checkbox"> <span class="check"></span> </label> </div>
                <div class="form-inline d-flex align-items-center py-1"> <label class="tick">Crasmas Fields <input type="checkbox" checked> <span class="check"></span> </label> </div>
                <div class="form-inline d-flex align-items-center py-1"> <label class="tick">Vegetarisma Farm <input type="checkbox" checked> <span class="check"></span> </label> </div>
                <div class="form-inline d-flex align-items-center py-1"> <label class="tick">Farmar Field Eve <input type="checkbox"> <span class="check"></span> </label> </div>
                <div class="form-inline d-flex align-items-center py-1"> <label class="tick">True Farmar Steve <input type="checkbox"> <span class="check"></span> </label> </div>
            </form>
        </div>
        <div class="py-3">
            <h5 class="font-weight-bold">Rating</h5>
            <form class="rating">
                <div class="form-inline d-flex align-items-center py-2"> <label class="tick"><span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <input type="checkbox"> <span class="check"></span> </label> </div>
                <div class="form-inline d-flex align-items-center py-2"> <label class="tick"> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="far fa-star px-1 text-muted"></span> <input type="checkbox"> <span class="check"></span> </label> </div>
                <div class="form-inline d-flex align-items-center py-2"> <label class="tick"><span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="far fa-star px-1 text-muted"></span> <span class="far fa-star px-1 text-muted"></span> <input type="checkbox"> <span class="check"></span> </label> </div>
                <div class="form-inline d-flex align-items-center py-2"> <label class="tick"><span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="far fa-star px-1 text-muted"></span> <span class="far fa-star px-1 text-muted"></span> <span class="far fa-star px-1 text-muted"></span> <input type="checkbox"> <span class="check"></span> </label> </div>
                <div class="form-inline d-flex align-items-center py-2"> <label class="tick"> <span class="fas fa-star"></span> <span class="far fa-star px-1 text-muted"></span> <span class="far fa-star px-1 text-muted"></span> <span class="far fa-star px-1 text-muted"></span> <span class="far fa-star px-1 text-muted"></span> <input type="checkbox"> <span class="check"></span> </label> </div>
            </form>
        </div>
    </div>

	<!-- Vertical filters -->

    <div class="content content-sidebar py-md-0 py-3">
        <section id="sidebar">
            {% comment %} <div class="py-3">
                <h5 class="font-weight-bold">Categories</h5>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center category"> vegetables <span class="badge badge-primary badge-pill">328</span> </li>
                    <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center category"> Fruits <span class="badge badge-primary badge-pill">112</span> </li>
                    <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center category"> Kitchen Accessories <span class="badge badge-primary badge-pill">32</span> </li>
                    <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center category"> Chefs Tips <span class="badge badge-primary badge-pill">48</span> </li>
                </ul>
            </div> {% endcomment %}


			{% if cattegory == 'Phones' %}
				{% include 'partials/filter_vertical_bar/phones.html' %}
			{% elif cattegory == 'Laptops' %}
				{% include 'partials/filter_vertical_bar/Laptops.html' %}
			{% elif cattegory == 'PC' %}
				{% include 'partials/filter_vertical_bar/PC.html' %}
			{% elif cattegory == 'Monitors' %}
				{% include 'partials/filter_vertical_bar/Monitor.html' %}
			{% elif cattegory == 'Accesories for laptops' %}
				{% include 'partials/filter_vertical_bar/Accesories for laptops.html' %}
			{% elif cattegory == 'SSD' %}
				{% include 'partials/filter_vertical_bar/SSD.html' %}
			{% elif cattegory == 'Graphs' %}
				{% include 'partials/filter_vertical_bar/Graphs.html' %}
			{% elif cattegory == 'Ram' %}
				{% include 'partials/filter_vertical_bar/Ram.html' %}
			{% elif cattegory == 'Pendrives' %}
				{% include 'partials/filter_vertical_bar/Pendrives.html' %}
			{% elif cattegory == 'Routers' %}
				{% include 'partials/filter_vertical_bar/Routers.html' %}
			{% elif cattegory == 'Switches' %}
				{% include 'partials/filter_vertical_bar/Switches.html' %}
			{% elif cattegory == 'Motherboard' %}
				{% include 'partials/filter_vertical_bar/Motherboard.html' %}
			{% elif cattegory == 'CPU' %}
				{% include 'partials/filter_vertical_bar/CPU.html' %}
			{% elif cattegory == 'TV' %}
				{% include 'partials/filter_vertical_bar/TV.html' %}
			{% elif cattegory == 'Headphones' %}
				{% include 'partials/filter_vertical_bar/Headphones.html' %}
			{% endif %}

			<!-- Stars rating -->

            <div class="py-3">
                <h5 class="font-weight-bold">Rating</h5>
                <form class="rating">

                    <div class="form-inline d-flex align-items-center py-2">
						<label class="tick"><span class="fas fa-star"></span>
							<span class="fas fa-star"></span>
							<span class="fas fa-star"></span>
							<span class="fas fa-star"></span>
							<span class="fas fa-star"></span>
							<input type="checkbox"> <span class="check"></span>
						</label>
					</div>

                    <div class="form-inline d-flex align-items-center py-2">
						<label class="tick">
							<span class="fas fa-star"></span>
							<span class="fas fa-star"></span>
							<span class="fas fa-star"></span>
							<span class="fas fa-star"></span>
							<span class="far fa-star px-1 text-muted"></span>
							<input type="checkbox"> <span class="check"></span>
						</label>
					</div>

                    <div class="form-inline d-flex align-items-center py-2">
						<label class="tick">
							<span class="fas fa-star"></span>
							<span class="fas fa-star"></span>
							<span class="fas fa-star"></span>
							<span class="far fa-star px-1 text-muted"></span>
							<span class="far fa-star px-1 text-muted"></span>
							<input type="checkbox"> <span class="check"></span>
						</label>
					</div>

                    <div class="form-inline d-flex align-items-center py-2">
						<label class="tick">
							<span class="fas fa-star"></span>
							<span class="fas fa-star"></span>
							<span class="far fa-star px-1 text-muted"></span>
							<span class="far fa-star px-1 text-muted"></span>
							<span class="far fa-star px-1 text-muted"></span>
							<input type="checkbox"> <span class="check"></span>
						</label>
					</div>

                    <div class="form-inline d-flex align-items-center py-2">
						<label class="tick">
							<span class="fas fa-star"></span>
							<span class="far fa-star px-1 text-muted"></span>
							<span class="far fa-star px-1 text-muted"></span>
							<span class="far fa-star px-1 text-muted"></span>
							<span class="far fa-star px-1 text-muted"></span>
							<input type="checkbox"> <span class="check"></span>
						</label>
					</div>

                </form>
            </div>
        </section>

		<!-- Products Section -->

        <section id="products">
            <div class="container py-3">
                <div class="row">
					{% for product in products %}
                    <div class="col-lg-4 col-md-6 col-sm-10 offset-md-0 offset-sm-1 mb-4 product-rows">
                        <div class="card"> <img class="card-img-top" src="{{product.main_photo.url}}">
                            <div class="card-body">

								<div class="card-body-description">
									{% comment %} <h6 class="font-weight-bold pt-1">{{product.name|truncatechars:30}}</h6> {% endcomment %}

									<h6 class="font-weight-bold pt-1 product-description {% if not request.get_full_path|find_grid %} display-none {% endif %}">
									<a href="{% url 'product_page' product|get_main_product_id %}">{{product.name}}</a>
									</h6>

									<div class="product-description {% if not request.get_full_path|find_grid %} display-none {% endif %}">

										{% if product.cattegory == 'Phones' %}
											{% include 'partials/productSpecification_list/phones.html' %}
										{% elif product.cattegory == 'Laptops' %}
											{% include 'partials/productSpecification_list/Laptops.html' %}
										{% elif product.cattegory == 'PC' %}
											{% include 'partials/productSpecification_list/PC.html' %}
										{% elif product.cattegory == 'Monitors' %}
											{% include 'partials/productSpecification_list/Monitor.html' %}
										{% elif product.cattegory == 'Accesories for laptops' %}
											{% include 'partials/productSpecification_list/Accesories for laptops.html' %}
										{% elif product.cattegory == 'SSD' %}
											{% include 'partials/productSpecification_list/SSD.html' %}
										{% elif product.cattegory == 'Graphs' %}
											{% include 'partials/productSpecification_list/Graphs.html' %}
										{% elif product.cattegory == 'Ram' %}
											{% include 'partials/productSpecification_list/Ram.html' %}
										{% elif product.cattegory == 'Pendrives' %}
											{% include 'partials/productSpecification_list/Pendrives.html' %}
										{% elif product.cattegory == 'Routers' %}
											{% include 'partials/productSpecification_list/Routers.html' %}
										{% elif product.cattegory == 'Switches' %}
											{% include 'partials/productSpecification_list/Switches.html' %}
										{% elif product.cattegory == 'Motherboard' %}
											{% include 'partials/productSpecification_list/Motherboard.html' %}
										{% elif product.cattegory == 'CPU' %}
											{% include 'partials/productSpecification_list/CPU.html' %}
										{% elif product.cattegory == 'TV' %}
											{% include 'partials/productSpecification_list/TV.html' %}
										{% elif product.cattegory == 'Headphones' %}
											{% include 'partials/productSpecification_list/Headphones.html' %}
										{% endif %}

									</div>

									<h6 class="font-weight-bold pt-1 description-grid"><a href="{% url 'product_page' product|get_main_product_id %}">{{product.name|truncatechars:30}}</a></h6>
									<div class="text-muted description description-grid">Space for small product description</div>

									<div class="d-flex">

										<div class="d-flex align-items-center product">
											{% for element in product.get_star_avg.1 %}
												{% if element %}

													<i class="fas fa-star font-red "></i>

													{% else %}

													<i class="far fa-star font-red "></i>

												{% endif %}
											{% endfor %}
											<a href="{% url 'product_page' product|get_main_product_id %}#opinions"
												class='font-red pl-1 m-auto'>({% if not product.get_num_of_reviews %}0{% else %}{{product.get_num_of_reviews}}{% endif %})
											</a>
										</div>

										{% if product.get_num_of_questions and not request.get_full_path|find_grid %}
											<div class="pl-3">
												<a href="{% url 'product_page' product|get_main_product_id %}#ask-something" class='m-auto w-100 font-brown'>{{ product.get_num_of_questions }} Questions</a>
											</div>
										{% endif %}
										{% if  product.bought_num and not request.get_full_path|find_grid%}
											<div class="pl-3">
												<p class='m-auto w-100 font-brown'>Bought by {{ product.bought_num }} people </p>
											</div>
										{% endif %}

									</div>

								</div>

                                <div class="d-flex align-items-center justify-content-between pb-3 buy-list-view">
                                    <div class="d-flex flex-column">
										{% if product.promotion %}

                                        	<div class="h6 font-weight-bold">{{product.promotion}} EUR</div>
                                        	<div class="text-muted rebate">{{product.price}}</div>
										{% else %}
                                        	<div class="h6 font-weight-bold">{{product.price}} EUR</div>
										{% endif %}
                                    </div>
                                    <div class="btn-red-list">Buy now</div>
                                </div>
                            </div>
                        </div>
                    </div>

					{% endfor %}
                    {% comment %} <div class="col-lg-4 col-md-6 col-sm-10 offset-md-0 offset-sm-1 pt-md-0 pt-4">
                        <div class="card"> <img class="card-img-top" src="https://www.freepnglogos.com/uploads/carrot-png/carrot-mint-with-turmeric-chia-equine-pure-delights-12.png">
                            <div class="card-body">
                                <h6 class="font-weight-bold pt-1">Product title</h6>
                                <div class="text-muted description">Space for small product description</div>
                                <div class="d-flex align-items-center product"> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="far fa-star"></span> </div>
                                <div class="d-flex align-items-center justify-content-between pt-3">
                                    <div class="d-flex flex-column">
                                        <div class="h6 font-weight-bold">36.99 USD</div>
                                        <div class="text-muted rebate">48.56</div>
                                    </div>
                                    <div class="btn btn-primary">Buy now</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-10 offset-md-0 offset-sm-1 pt-lg-0 pt-4">
                        <div class="card"> <img class="card-img-top" src="https://www.freepnglogos.com/uploads/tomato-png/tomato-bunch-fresh-tomatoes-png-image-pngpix-24.png">
                            <div class="card-body">
                                <h6 class="font-weight-bold pt-1">Product title</h6>
                                <div class="text-muted description">Space for small product description</div>
                                <div class="d-flex align-items-center product"> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="far fa-star"></span> </div>
                                <div class="d-flex align-items-center justify-content-between pt-3">
                                    <div class="d-flex flex-column">
                                        <div class="h6 font-weight-bold">36.99 USD</div>
                                        <div class="text-muted rebate">48.56</div>
                                    </div>
                                    <div class="btn btn-primary">Buy now</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-10 offset-md-0 offset-sm-1 pt-lg-4 pt-4">
                        <div class="card"> <img class="card-img-top" src="https://www.freepnglogos.com/uploads/grapes-png/grapes-grape-red-transparent-png-stickpng-5.png">
                            <div class="card-body">
                                <h6 class="font-weight-bold pt-1">Product title</h6>
                                <div class="text-muted description">Space for small product description</div>
                                <div class="d-flex align-items-center product"> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="far fa-star"></span> </div>
                                <div class="d-flex align-items-center justify-content-between pt-3">
                                    <div class="d-flex flex-column">
                                        <div class="h6 font-weight-bold">36.99 USD</div>
                                        <div class="text-muted rebate">48.56</div>
                                    </div>
                                    <div class="btn btn-primary">Buy now</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-10 offset-md-0 offset-sm-1 pt-lg-4 pt-4">
                        <div class="card"> <img class="card-img-top" src="https://www.freepnglogos.com/uploads/cucumber-png/cucumber-png-image-purepng-transparent-png-26.png">
                            <div class="card-body">
                                <h6 class="font-weight-bold pt-1">Product title</h6>
                                <div class="text-muted description">Space for small product description</div>
                                <div class="d-flex align-items-center product"> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="far fa-star"></span> </div>
                                <div class="d-flex align-items-center justify-content-between pt-3">
                                    <div class="d-flex flex-column">
                                        <div class="h6 font-weight-bold">36.99 USD</div>
                                        <div class="text-muted rebate">48.56</div>
                                    </div>
                                    <div class="btn btn-primary">Buy now</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-10 offset-md-0 offset-sm-1 pt-lg-4 pt-4">
                        <div class="card"> <img class="card-img-top" src="https://www.freepnglogos.com/uploads/watermelon-png/watermelon-gea-products-2.png">
                            <div class="card-body">
                                <h6 class="font-weight-bold pt-1">Product title</h6>
                                <div class="text-muted description">Space for small product description</div>
                                <div class="d-flex align-items-center product"> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="far fa-star"></span> </div>
                                <div class="d-flex align-items-center justify-content-between pt-3">
                                    <div class="d-flex flex-column">
                                        <div class="h6 font-weight-bold">36.99 USD</div>
                                        <div class="text-muted rebate">48.56</div>
                                    </div>
                                    <div class="btn btn-primary">Buy now</div>
                                </div>
                            </div>
                        </div>
                    </div> {% endcomment %}
                </div>
            </div>

			<!-- Paginator -->
			{% if  products.has_other_pages %}

				<div class="content_detail__pagination cdp" actpage="1">

					{% if products.has_previous %}
						<a class="cdp_i page-link toogle-view" href="{% url 'products_cart' cattegory %}?page={{products.previous_page_number}}{% if filter_option %}&filter={{filter_option}}{% endif %}">prev</a>
					{% endif %}

					{% if 1 not in custom_range %}

						<a href="{% url 'products_cart' cattegory %}?page=1
							{% if filter_option %}&filter={{filter_option}}{% endif %}" class="cdp_i page-item
							{% if page == products.number %}active btn-red
							{% endif %} toogle-view">1</a>
						<a class="cdp_i toogle-view">..</a>

					{% endif %}

					{% for page in custom_range %}
						{{page}}

						<a href="{% url 'products_cart' cattegory %}?page={{page}}{% if filter_option %}&filter={{filter_option}}{% endif %}"
						class="cdp_i page-item toogle-view {% if page == products.number %}active{% endif %}">{{page}}</a>

					{% endfor %}

					{% if products.number not in page_num_range %}
						<a class="cdp_i toogle-view">..</a>
						<a class="cdp_i toogle-view" href="{% url 'products_cart' cattegory %}?page={{last_page}}
						{% if filter_option %}&filter={{filter_option}}
						{% endif %}">{{last_page}}</a>
					{% endif %}


					{% if products.has_next %}

						<a href="{% url 'products_cart' cattegory %}?page={{products.next_page_number}}{% if filter_option %}&filter={{filter_option}}{% endif %}" class="cdp_i page-link toogle-view">next</a>

					{% endif %}

				</div>
			{% endif %}
        </section>
    </div>
</div>
</div>

<script src="{% static 'js/product_search/changeUrlFunction.js' %}"></script>
<script src="{% static 'js/product_search/toogleView2.js' %}"></script>
<script src="{% static 'js/product_search/renderFilterProducts.js' %}"></script>
<script src="{% static 'js/product_search/paginator.js' %}"></script>
<script src="{% static 'js/product_search/changeProducentFilter.js' %}"></script>
<script src="{% static 'js/product_search/horizontalFilters/tvHorizontalBar.js' %}"></script>

<script>
	let url = window.location.href
</script>

{% endblock %}